<div class= "yourAccount">
    <div class="uk-grid uk-grid-small f1-form-grid" style="position: relative;">
    </div> 
    
    <div class="uk-grid uk-grid-small f1-form-grid">
        <div class="uk-width-1-1">
            <div class="form-grp">
                <div class="form-elm">
                    <input style="text-align: center;" class="form-ctrl" type="text" placeholder="To Account (Address)" v-model="formData.toAccount">
                    <span   style='color:antiquewhite; padding-left:10px;'>  TO ACCOUNT  </span>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Loading image -->
    
    <div class="uk-grid uk-grid-small f1-form-grid">
        <div v-if="showLoader" class="uk-width-1-1 center">
            <img src="https://image.ibb.co/dc02hd/30.gif" />
        </div>
        <div v-else class="uk-width-1-1">

<!-- Buttons (Re-Direct Interest Stream / Transfer Administrator Priviledges) -->
            <div class="center">
                <button class="uk-button uk-button-green"  @click="redirectInterestStream()">Re-Direct Interest Stream</button>
                <button class="uk-button uk-button-green"  @click="allowInterestRedirectionTo()">Transfer Administrator Priviledges</button>
            </div>
        </div>
    </div>
</div>