<div class= "yourAccount">
    <div class="f1-form-grid" style="position: relative;">
    </div> 

    <div class="interest-yourAccount-form" style="padding-top: 15px;" >
        <div class="uk-grid uk-grid-small f1-form-grid">
            <div class="uk-width-1-1">
                <div class="form-grp">
                    <div class="form-elm">
                        <input style="text-align: center;" class="form-ctrl" type="text" placeholder="To Account (Address)" v-model="formData.toAccount">
                        <span   style='color:antiquewhite; padding-left:10px;'>  TO ACCOUNT :  </span>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="uk-grid uk-grid-small f1-form-grid">
             <!-- Loading image -->        
            <div v-if="showLoader" class="uk-width-1-1 center">
                <img src="https://image.ibb.co/dc02hd/30.gif" />
            </div>
            <!-- Buttons (Re-Direct SIGH Stream / Transfer Administrator Priviledges) -->
            <div v-else class="uk-width-1-1" style="margin-bottom: 15px; margin-top: 15px;"  >
                <div class="center">
                    <button class="uk-button uk-button-green"  @click="redirectInterestStream()">Re-Direct INTEREST Stream</button>
                    <button class="uk-button uk-button-green"  @click="allowInterestRedirectionTo()">Transfer Administrator Priviledges</button>
                </div>
            </div>
        </div>
    </div>


    <div style="border: aliceblue dotted 0.3px; padding: 14px; margin-top: 20px; margin-bottom: 20px;" >
        <table style="color: white;" >
            <tr>
                <td > >   {{ selectedInstrument.symbol  }} Price &nbsp; : &nbsp;{{  ( ( Number(selectedInstrumentPriceETH) / Math.pow(10,selectedInstrument.priceDecimals)) * (Number(this.$store.state.ethereumPriceUSD) / Math.pow(10,this.$store.state.ethPriceDecimals)) ).toFixed(4) }} USD   </td> 
            </tr>


            <h3 style="font-size: 13px; color: aquamarine; margin-bottom: 4px; margin-top: 11px; "> INTEREST STREAMING : {{ selectedInstrument.symbol }} INSTRUMENT  </h3>
            <tr>
                <td> >  &nbsp; Balance Redirected To Your Account &nbsp; : &nbsp; {{ selectedInstrumentWalletState.redirectedBalance }} </td> 
            </tr>
            <tr>
                <td> >  &nbsp; Streaming To &nbsp; : &nbsp; {{ selectedInstrumentWalletState.interestRedirectionAddress }} </td> 
            </tr>
            <tr>
                <td> >  &nbsp; Allowance Holder &nbsp; : &nbsp; {{ selectedInstrumentWalletState.interestRedirectionAllowance }} </td> 
            </tr>


            <h3 style="font-size: 13px; color: aquamarine; margin-bottom: 4px; margin-top: 11px; ">  {{ selectedInstrument.symbol  }} APYs : "{{ this.$store.state.connectedWallet }} : {{ selectedInstrument.symbol }}"   </h3>
            <tr>
                <td> >  &nbsp; Supply APY &nbsp; : &nbsp; {{ Number(selectedInstrumentWalletState.liquidityRate).toFixed(4)  }} %</td> 
            </tr>
            <tr>
                <td> >  &nbsp; Borrow APY (Stable) &nbsp; : &nbsp; {{ Number(selectedInstrumentWalletState.borrowRate).toFixed(4)  }} %</td> 
            </tr>
            <tr>
                <td> >  &nbsp; Borrow APY (Variable) &nbsp; : &nbsp; {{ Number(selectedInstrumentWalletState.variableBorrowIndex).toFixed(4)  }} %</td> 
            </tr>
            <tr>
                <td> >  &nbsp; $SIGH Yield vs Loss Ratio (Suppliers) &nbsp; : &nbsp; 0 % </td> 
            </tr>
            <tr>
                <td> >  &nbsp; $SIGH Yield vs Loss Ratio (Borrowers) &nbsp; : &nbsp; 0  % </td> 
            </tr>
            <tr>
                <td> >    $SIGH Accured &nbsp; : &nbsp;{{ Number(selectedInstrumentWalletState.sighAccured).toFixed(4)  }} </td> 
            </tr>


            <h3 style="font-size: 15px; color: aquamarine; margin-bottom: 4px; margin-top: 11px; "> CONTRACT ADDRESSES </h3>
            <tr>
                <td> >   {{ selectedInstrument.symbol  }} &nbsp; : &nbsp;{{ selectedInstrumentWalletState.instrumentAddress  }}   </td> 
            </tr>
            <tr>
                <td> >   {{ selectedInstrument.symbol  }} ITOKEN &nbsp; : &nbsp;{{ selectedInstrumentWalletState.iTokenAddress  }} </td> 
            </tr>


        </table>
    </div>


    <div class="uk-grid uk-grid-small f1-form-grid">
        <!-- Loading image -->        
       <div v-if="showLoaderRefresh" class="uk-width-1-1 center">
           <img src="https://image.ibb.co/dc02hd/30.gif" />
       </div>
       <!-- REFRESH BUTTONS -->
       <div v-else class="uk-width-1-1" style="margin-bottom: 15px; margin-top: 15px;"  >
            <div class="center">
                <button class="uk-button uk-button-black"  @click="refreshCurrentInstrumentWalletState(true)">Refresh</button>
            </div>    
        </div>    
    </div>    
  
</div>