<div class="header-section">

    <div id="mobile-header-wrap">
        <div id="mobile-header" data-uk-sticky>
            <div class="page-mask sidemenu-trigger" v-bind:class="{ active: $store.getters.sidebarOpen, close: $store.getters.sidebarOpen  }"></div>
            <div class="header-links">
                <router-link to="/" class="logo">
                    <img style="float: left; padding-top: 2%; max-width: 33%;" src="./_SIGH_.png" alt="SIGH.FINANCE">
                </router-link>
                <a href="javascript:undefined" class="sidemenu-trigger" @click="onTriggerClick">
                    <i class="icons8-menu fs24 c-white"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- Mobile Header End -->

    <!-- Desktop Header -->
    <div id="header-wrap">
        <vk-sticky>
            <header id="header">
                <div class="page-mask sidemenu-trigger" v-bind:class="{ active: $store.getters.sidebarOpen, close: $store.getters.sidebarOpen }"></div>

                <div class="header-market-links uk-clearfix" style="background-color: black;">

                    <div class="header-market-link-group uk-clearfix">
                        <!-- SIGH FINANCE LOGO -->
                        <div class="header-market-link-label uk-clearfix">
                            <router-link to="/" class="logo">
                                <img style="float: left; max-width: 100%;" src="./_SIGH_.png" alt="SIGH.FINANCE">
                            </router-link>
                        </div>

                        <div class="navbar">
                            <!-- REDIRECTING TO TRADING PAGE -->
                            <!-- <router-link to="/Trade" v-bind:class="{ active: $route.path === '/Trade' }">
                                <span>Trade</span>
                            </router-link> -->
                            <!-- CONTACT FORM POP-UP -->
                            <div>
                                <a href="javascript:undefined" @click="showContactModal"><span>Contact</span></a> 
                            </div>
                            <!-- DROPDOWN TEMPLATE -->



                            <div class="language-menu-container" v-if="$store.getters.themeMode === 'default'">
                                <b-nav-item-dropdown class="language-menu" right>
                                  <template slot="button-content">
                                      Pending TXs
                                  </template>
                                    <select class="select2-single" style="margin: 9px;" @change=transactionClicked v-model=selectedTransaction>
                                        <option v-for="tx in $store.state.sessionPendingTransactions" :key=tx.hash :value=tx>
                                            <span v-if="tx.amount== null"> {{ tx.function }} </span>
                                            <span v-else> {{ tx.function }} {{tx.amount}} </span>    
                                        </option>
                                    </select>
                                </b-nav-item-dropdown>
                            </div>                            

                            <div class="language-menu-container" v-if="$store.getters.themeMode === 'default'">
                                <b-nav-item-dropdown class="language-menu">
                                  <template slot="button-content">
                                    Failed TXs
                                  </template>
                                    <select class="select2-single" style=" margin: 9px;" @change=transactionClicked v-model=selectedTransaction>
                                        <option v-for="tx in $store.state.sessionFailedTransactions" :key=tx.hash :value=tx>
                                            <span v-if="tx.amount== null"> {{ tx.function }} </span>
                                            <span v-else> {{ tx.function }} {{tx.amount}} </span>    
                                        </option>
                                    </select>
                                </b-nav-item-dropdown>
                            </div>                            
                            
                            <div class="language-menu-container" v-if="$store.getters.themeMode === 'default'">
                                <b-nav-item-dropdown class="language-menu" right>
                                    <template slot="button-content">
                                        Successful TXs
                                    </template>
                                    <select class="select2-single" style="margin: 9px;" @change=transactionClicked v-model=selectedTransaction>
                                        <option v-for="tx in $store.state.sessionSuccessfulTransactions" :key=tx.hash :value=tx>
                                            <span v-if="tx.amount== null"> {{ tx.function }} </span>
                                            <span v-else> {{ tx.function }} {{tx.amount}} </span>    
                                        </option>
                                    </select>
                                </b-nav-item-dropdown>
                            </div>                            

                            



                             <div class="col-auto pr-lg-0">
                                <div class="header-social-icon d-none d-md-inline-block">
                                    <a href="https://twitter.com/SighFinance" title="Twitter" target="_blank">
                                        <i class="fab fa-twitter">  </i>
                                    </a>
                                    <a href="https://medium.com/sigh-finance" title="Medium" target="_blank">
                                        <i class="fab fa-medium">  </i>
                                    </a>                          
                                    <a href="https://discord.com/invite/HTrsKeWaZu" title="Discord" target="_blank">
                                        <i class="fab fa-discord">  </i>
                                    </a>                         
                                </div>
                            </div>
        



                            <div >
                                <a href="javascript:undefined" style="color: chartreuse;" v-if=" $store.getters.themeMode === 'default' " @click="connectToWeb3()"><span>{{ getServerStatus }}</span></a>
                            </div>

                        </div>

                    </div>


                </div>
            </header>
        </vk-sticky>
    </div>
</div>