<div class="header-section">

    <div id="mobile-header-wrap">
        <div id="mobile-header" data-uk-sticky>
            <div class="page-mask sidemenu-trigger" v-bind:class="{ active: $store.getters.sidebarOpen, close: $store.getters.sidebarOpen  }"></div>
            <div class="header-links">
                <router-link to="/" class="logo">
                    <img style="float: left; padding-top: 2%; max-width: 33%;" src="./_SIGH_.png" alt="SIGH.FINANCE">
                </router-link>
                <a href="javascript:undefined" class="sidemenu-trigger" @click="onTriggerClick">
                    <i class="icons8-menu fs24 c-white"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- Mobile Header End -->

    <!-- Desktop Header -->
    <div id="header-wrap">
        <vk-sticky>
            <header id="header">
                <div class="page-mask sidemenu-trigger" v-bind:class="{ active: $store.getters.sidebarOpen, close: $store.getters.sidebarOpen }"></div>

                <div class="header-market-links uk-clearfix" style="background-color: black;">

                    <!-- ACTUAL HEADER - Displaying exchange logo, Selected pair and live TradePrice -->
                    <div class="header-market-link-group uk-clearfix">
                        <div class="header-market-link-label uk-clearfix">
                            <router-link to="/" class="logo">
                                <img style="float: left; padding-top: 2%; max-width: 49%;" src="./_SIGH_.png" alt="SIGH.FINANCE">
                            </router-link>
                        </div>
                        <!-- <div class="header-market-link-label">{{ $store.getters.formattedSelectedExchange }}</div>  -->

                        <!-- <div class="header-market-link uk-clearfix" v-if="$store.getters.isLoggedIn"   >
                            <div class="price-title">{{$store.state.selectedVegaMarketSummary}}</div> -->

                            <!-- <div class="price-title">{{ $store.state.selectedPair }}</div> -->
                            <!-- <div class="price">
                                <span>{{Math.abs($store.state.liveTradePrice) }}</span>
                                <label>{{$store.state.selectedVegaMarketquoteName}}</label> -->
                                <!-- <label>{{ $store.state.selectedVegaMarketName.substring(4,7) }}</label> -->
                                <!-- <label>{{ $store.state.selectedVegaMarketName.split('V')[1] }}</label> -->
                            <!-- </div>
                        </div> -->
                        <!-- </div> -->

                        <!-- Navigation Bar -->
                        <!-- <div class="header-market-link-group uk-clearfix"> -->
                        <div class="navbar">
                            
                            <div >
                                <a href="javascript:undefined" style="color: chartreuse;" v-if=" this.$store.state.blocksRemainingForSIGHSpeedRefresh > 0 "><span>{{ this.$store.state.blocksRemainingForSIGHSpeedRefresh }}</span></a>
                                <a href="javascript:undefined" style="color: chartreuse;" v-else  @click="refresh_SIGH_Speeds" ><span> Refresh SIGH Speeds </span></a>
                            </div>

                            <router-link to="/Trade" v-bind:class="{ active: $route.path === '/Trade' }">
                                <span>Trade</span>
                            </router-link>

                            <div>
                                <a href="javascript:undefined" @click="showContactModal"><span>Contact</span></a> 
                            </div>

                            <!-- DROPDOWN TEMPLATE -->
                            <!-- <div class="dropdown" v-if="$store.getters.isLoggedIn && $store.getters.themeMode === 'default'">
                                <button class="dropbtn"> Funds  <i class="fa fa-caret-down"></i></button>
                                <div class="dropdown-content">
                                    <a href="javascript:undefined" @click="showDepositModal"><span>Deposit</span></a>
                                    <a href="javascript:undefined" @click="showWithdrawlModal"><span>Withdraw</span></a>                                    
                                </div>
                            </div>  -->
 

                             <!-- <div id="statusDiv" style="color:var(--primary-text-color);">
                                <span class="dot" :class='serverStatusCode'>
                                </span>&nbsp;&nbsp;&nbsp;&nbsp;{{ getServerStatus() }}
                            </div> -->

                             <div class="col-auto pr-lg-0">
                                <div class="header-social-icon d-none d-md-inline-block">
                                    <!-- <a href="https://www.facebook.com/block42.network/" title="Facebook" target="_blank">
                                        <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                    </a> -->
                                    <a href="https://twitter.com/SighFinance" title="Twitter" target="_blank">
                                        <i class="fab fa-twitter">  </i>
                                    </a>
                                    <a href="https://medium.com/sigh-finance" title="Medium" target="_blank">
                                        <i class="fab fa-medium">  </i>
                                    </a>                          
                                    <a href="https://medium.com/sigh-finance" title="Discord" target="_blank">
                                        <i class="fab fa-discord">  </i>
                                    </a>                         
                                </div>
                            </div>
        
                            <div >
                                <a href="javascript:undefined" style="color: chartreuse;" v-if=" $store.getters.themeMode === 'default' " @click="refreshWalletConnected()"><span>{{ getServerStatus }}</span></a>
                            </div>

                        </div>

                    </div>


                </div>
            </header>
        </vk-sticky>
    </div>
</div>