<div id="lending-trade-tab" style="padding-left: 22%; padding-top: 7%; position: inherit;"> 

    <!-- SELECT INSTRUMENT DROPDOWN -->
    
        <!-- Tabbing between Deposit/Redeem/Borrow/Repay -->
        <div class="cs-tab-1 uk-position-relative ">
            <tab-bar :mobileDropdown=false marketDropdown="false" :tabs=tabs @tab-change="activeTabChange" />
    
            <keep-alive>
                <sighQuantity style="width: 54%;" v-if="activeTab === 'Quantity'" />
                <sighAmount style="width: 54%;" v-if="activeTab === 'Amount'" />
                <!-- <infographics v-if="activeTab === 'Analytics'" /> -->
            </keep-alive>

        </div>
</div>