<div class="livemarkets noHorizontal" style="padding: 11px 0 15px">
    <div class="uk-panel">
        <!-- Live markets heading -->
        <h3 class="uk-panel-title uk-text-center" style="padding-bottom: 15px; font-size: 21px !important;">SUPPORTED MONEY MARKETS</h3>
    </div>
    <!-- v-if="!showLoader" -->
    <template >   
        <div class="noShow noHorizontal"> 
            <div id="hello" data-simplebar data-simplebar-auto-hide="false" >
                <!-- :style="{ height: tableHeight } -->
                <table >
                    <thead class="uk-visible">
                        <!-- live instruments Bar heading -->
                        <tr>
                            <th class="uk-text-center">Instrument</th>
                            <th class="uk-text-center">Total Supply</th>
                            <th class="uk-text-center">Total Borrow</th>
                            <th class="uk-text-center">Supply APY</th>
                            <th class="uk-text-center">Borrow APY (Stable)</th>
                            <th class="uk-text-center">Borrow APY (Variable)</th>
                            <th class="uk-text-center"> $SIGH Yield (Suppliers) </th>
                            <th class="uk-text-center"> $SIGH Yield (Borrowers) </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- live instruments content -->
                        <!-- <tr v-for="instrument in instruments"> -->
                            <!-- <td class="uk-text-center c-white" style="line-height: 4;" >{{ instrument.symbol }}</td>
                            <td class="uk-text-center c-white" style="line-height: 4;" > $ {{ instrument.totalSupplyWorth }} </td>
                            <td class="uk-text-center c-white" style="line-height: 4;"  > $ {{ instrument.totalBorrowWorth }} </td>
                            <td class="uk-text-center c-green" style="line-height: 4;" >{{ instrument.supplyAPY  }} % </td>
                            <td class="uk-text-center c-red" style="line-height: 4;" >{{ instrument.stableBorrowAPY  }} % </td>
                            <td class="uk-text-center c-white" style="line-height: 4;" >{{ instrument.variableBorrowAPY  }} %  </td>
                            <td class="uk-text-center c-white" style="line-height: 4;" >{{ instrument.sighYieldSuppliers }} </td>
                            <td class="uk-text-center c-green" style="line-height: 4;" >{{ instrument.sighYieldBorrowers }} </td> -->
                            <!-- <td class="uk-text-center c-green" style="line-height: 4;" >{{ Number(Number(instrument.sighAccuredInCurrentCycle)/10000000).toFixed(2) }} </td> -->
                        <!-- </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
    </template>
<!-- LOADER (SPINNER) -->
    <!-- <template v-else>
        <spinner mTop="calc(100% - 30px)" />
    </template> -->

</div>