<div class="livemarkets noHorizontal" style="padding: 11px 0 15px">
    <div class="uk-panel">
        <!-- Live markets heading -->
        <h3 class="uk-panel-title uk-text-center" style="padding-bottom: 15px; font-size: 21px !important;">SUPPORTED MONEY MARKETS</h3>
    </div>
    <template v-if="!showLoader">
        <div class="noShow noHorizontal"> 
            <div id="hello" data-simplebar data-simplebar-auto-hide="false" :style="{ height: tableHeight }">
                <table >
                    <thead class="uk-visible">
                        <!-- live markets Bar heading -->
                        <tr>
                            <th class="uk-text-center">Market</th>
                            <th class="uk-text-center">Total Supply</th>
                            <th class="uk-text-center">Total Borrow</th>
                            <th class="uk-text-center">Supply APY</th>
                            <th class="uk-text-center">Borrow APY</th>
                            <th class="uk-text-center"> Underlying Market </th>
                            <th class="uk-text-center"> Exchange Rate </th>
                            <th class="uk-text-center"> Underlying Price </th>
                            <th class="uk-text-center"> Recorded Price </th>
                            <th class="uk-text-center"> Sigh Speed </th>
                            <th class="uk-text-center"> Losses Recovered (24 hrs) </th>
                            <!-- <th class="uk-text-center"> Losses Recovered % </th> -->

                        </tr>
                    </thead>
                    <tbody>
                        <!-- live markets content -->
                        <tr v-for="market in markets">
                            <td class="uk-text-center c-white" style="line-height: 4;" >{{ market.symbol }}</td>
                            <td class="uk-text-center c-white" style="line-height: 4;" >{{ market.totalSupply }}</td>
                            <td class="uk-text-center c-white" style="line-height: 4;"  >{{ market.totalBorrows }} </td>
                            <td class="uk-text-center c-green" style="line-height: 4;" >{{(Number(market.supplyRate)*1000000).toFixed(2)}} % </td>
                            <td class="uk-text-center c-red" style="line-height: 4;" >{{(Number(market.borrowRate)*10000000).toFixed(2)}} %</td>
                            <td class="uk-text-center c-white" style="line-height: 4;" >{{ market.underlyingSymbol }} </td>
                            <td class="uk-text-center c-white" style="line-height: 4;" >{{ market.exchangeRate }} </td>
                            <td class="uk-text-center c-green" style="line-height: 4;" >{{ Number(market.underlyingPrice).toFixed(3) }} </td>
                            <td class="uk-text-center c-green" style="line-height: 4;" >{{ Number(Number(market.savePriceSnapshot)/10000000).toFixed(3) }} </td>
                            <td class="uk-text-center c-green" style="line-height: 4;" >{{ market.sighSpeed }} </td>
                            <td class="uk-text-center c-green" style="line-height: 4;" >{{ Number(Number(market.sighAccuredInCurrentCycle)/10000000).toFixed(2) }} </td>
                            <!-- <td class="uk-text-center c-green" style="line-height: 4;" >{{ market.lossesRecovered }} </td> -->
                            <!-- <td class="uk-text-right">{{(market.createdAt).slice(11,19)}}-{{(market.createdAt).slice(20,22)}}</td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </template>
<!-- LOADER (SPINNER) -->
    <template v-else>
        <spinner mTop="calc(100% - 30px)" />
    </template>
    <!-- <div id="hello" v-if="showLoader" data-simplebar data-simplebar-auto-hide="false" :style="{ height: tableHeight }">
        <table>
            <thead class="uk-hidden">
                <tr>
                    <td class="uk-test-left">Price </td>
                    <td class="uk-text-center">Volume</td>
                    <td class="uk-text-right">Timestamp</td>
                </tr>
            </thead>
            <tbody>
                <spinner />
            </tbody>
        </table>
    </div> -->
</div>