<!-- // uk-visible@m means it will not be visible in mobiles -->
<div v-if="$store.getters.isLoggedIn"  class="recent-trades  uk-visible@m ">
    <div v-on:click='toggleOpen' :class="{'opened': open, 'close': open}" style="text-align:center;" class="accordionToggleButton">
        Recent Trades
    </div>
    <div>
        <div id="activeTrades" :class="{'closed': open}">
            <div id="recentSimplebar" data-simplebar data-simplebar-auto-hide="false">
                <table>
                    <thead>
                        <tr>
                            <!-- <th width="50">ID</th> -->
                            <th>Market</th>
                            <th>Size</th>
                            <th>Price</th>
                            <th>Total Price</th>                            
                            <th>Buy/Sell</th>
                            <th>Created At</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="trade in trades">
                            <td class="bg-ebony-clay c-white">{{ trade.marketName }}</td>
                            <td class="c-green">{{ trade.size }}</td>
                            <td class="c-green">{{ (trade.price).toFixed(5) }}</td>
                            <td>{{ ((trade.price)*(trade.size)).toFixed(5) }}</td>
                            <td v-bind:class="{ 'c-green': trade.aggressor == 'Buy', 'c-red': trade.aggressor == 'Sell' }">{{ trade.aggressor }}</td>
                            <td>{{ trade.createdAt }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>