<!-- // uk-visible@m means it will not be visible in mobiles -->
<div class="markets uk-visible@m"  v-if="$store.getters.isWalletConnected">
    <div v-on:click='toggleOpen' :class="{'opened': open, 'close': open}" style="text-align:center;" class="accordionToggleButton"> Money-Markets - Current Holdings
    </div>
    <div>
        <!-- <div class="uk-visible@m"> -->
            <div id="activeTrades" :class="{'closed': open}">
                <div id="recentSimplebar" data-simplebar data-simplebar-auto-hide="false" >
                    <table>
                        <thead class="uk-visible">
                            <tr>
                                <!-- <th width="50">ID</th> -->
                                <th>Market Symbol</th>
                                <th>Market Balance</th>
                                <th> Market Entered </th>
                                <th>Total Underlying Supplied</th>
                                <th>Total Underlying Borrowed</th>
                                <th>Total Underlying Redeemed</th>
                                <th>Total Underlying Repaid</th>
                                <th> Borrow Index</th>
                                <th> Stored Borrow Balance</th>
                                <!-- <th>Exit & Cancel</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for=" market in MarketPositions">
                                <!-- <td class="bg-ebony-clay c-white">{{ market.marketName }}</td> -->
                                <td class="bg-ebony-clay c-white">{{ market.symbol }}</td>
                                <td class="bg-ebony-clay c-green">{{ market.cTokenBalance }}</td>
                                <td class="bg-ebony-clay c-white">{{ market.enteredMarket }}</td>
                                <td class="bg-ebony-clay c-white">{{ market.totalUnderlyingSupplied }}</td>
                                <td class="bg-ebony-clay c-white">{{ market.totalUnderlyingBorrowed }}</td>
                                <td class="bg-ebony-clay c-white">{{ market.totalUnderlyingRedeemed }}</td>
                                <td class="bg-ebony-clay c-white">{{ market.totalUnderlyingRepaid }}</td>
                                <td class="bg-ebony-clay c-white">{{ market.accountBorrowIndex }}</td>
                                <td class="bg-ebony-clay c-red">{{ market.storedBorrowBalance }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        <!-- </div> -->
    </div>

</div>