<div class="FOK-Order">

    <!-- <div class="uk-grid uk-grid-small f1-form-grid" style="position: relative;">
    </div> -->
    <!-- Displays the [0] of Selected pair e.q BTC of BTC/USD - -->
    <div class="uk-grid uk-grid-small f1-form-grid">
        <div class="uk-width-1-1">
            <div class="form-grp">
                <div class="form-elm">
                    <input class="form-ctrl" type="text" placeholder="Trade Volume" v-model="formData.amount">
                    <span> _ </span>
                </div>
            </div>
        </div>
    </div>
<!-- Displays the [1] of Selected pair e.q USD of BTC/USD in green color for buy  -->
    <div class="uk-grid uk-grid-small f1-form-grid">
        <div class="uk-width-1-2">
            <div class="form-grp">
                <div class="form-elm">
                    <input style='color:var(--green-color)' class="form-ctrl" type="text" placeholder=" - " readonly :value="estimatedPriceBuy">
                    <!-- <input style='color:var(--green-color)' class="form-ctrl" type="text" placeholder="Expected Buy Price"> -->
                    <span style='color:var(--green-color)'>{{$store.state.selectedVegaMarketquoteNameTrade}}</span>
                </div>
            </div>
        </div>
<!-- Displays the [1] of Selected pair e.q USD of BTC/USD in red color for sell  -->
        <div class="uk-width-1-2">
            <div class="form-grp">
                <div class="form-elm">
                    <input style='color:var(--red-color)' class="form-ctrl" type="text" placeholder=" - " readonly :value="estimatedPriceSell">
                    <!-- <input style='color:var(--red-color)' class="form-ctrl" type="text" placeholder="Expected Sell Price"> -->
                    <span style='color:var(--red-color)'>{{$store.state.selectedVegaMarketquoteNameTrade}}</span>
                </div>
            </div>
        </div>
    </div>

<!-- Loading image  -->
    <div class="uk-grid uk-grid-small f1-form-grid">
        <div v-if="showLoader" class="uk-width-1-1 center">
            <img src="https://image.ibb.co/dc02hd/30.gif" />
        </div>
        <div v-else class="uk-width-1-1 flex">
<!-- Buttons (Buy/Sell) (Confirm/Cancel)  -->
            <div class="left">
                <button v-if="!showConfirm" class="uk-button uk-button-green"" @click="confirmTrade('Buy')">Buy</button>
                <button v-else class="uk-button uk-button-green" @click="makeTrade()">Confirm</button>
                <button v-if="!showConfirm" class="uk-button uk-button-red ml10" @click="confirmTrade('Sell')">Sell</button>
                <button v-else class="uk-button uk-button-red ml10" @click="cancelTrade">Cancel</button>
            </div>
<!-- Fee - Maker/Taker  -->
            <!-- <div class="right">
                <span class="value">{{ fees.maker }}%</span>
                <span class="stream">Maker&nbsp;</span>
                <br>
                <span class="value">{{ fees.taker }}%</span>
                <span class="stream">Taker&nbsp;</span>
            </div> -->
        </div> 

    </div>
</div>