#mobileDropdown {
    margin-top: 10px;
}

.logoutbox {
    top:50%;
    left:50%;
    height:70px;
    width:250px;
    align-self: center;
    position: relative;
    transform:translate(-50%,-30%);
    box-sizing:border-box;
    padding:60px 20px;
}
h2 {
    margin:40;
    margin-top: -24px;
    padding:20;
    text-align: center;
    font-size: 19px;
    color: whitesmoke;
    font-weight:bold;
}

.btn {display:inline-block; border:2px solid transparent; color: inherit; letter-spacing: .5px; line-height: inherit; border-radius: 0; text-transform: uppercase; width: auto; font-family: 'Montserrat', sans-serif; font-weight: 600; transition-duration: 0.3s; transition-timing-function: ease-in-out; white-space: nowrap;}
.btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger { color: #fff; }
.btn.btn-rounded {border-radius: 50px}


.btnMOBILE {
    align-self: center;
    max-width: 55%; 
    align-items: center;
    border: 1px solid #000000;
    padding:  10px 5px;
    transform: translate(+25%,-25%);
    font-size: 20px;
    cursor: pointer;
    margin: 12px;
    color: #000000
}

.btnMOBILE:hover {
     color: #800090;
    // color:#000000;
}

.btnMOBILE::before{
    content:"";
    position: relative;
    left: 0;
    width: 100%;
    height: 0%;
    background: #000000;
    z-index: -1;
    transition: 0.8s;
    bottom: 0;
    border-radius: 50% 50% 0 0;
}
.btnMOBILE:hover::before{
    height: 180%
}

.btn {
    align-self: center;
    align-items: center;
    border: 1px solid #000000;
    padding:  10px 20px;
    transform: translate(+20%,-30%);
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    color: #000000
}

.btn:hover {
     color: #800090;
    // color:#000000;
}

.btn::before{
    content:"";
    position: relative;
    left: 0;
    width: 100%;
    height: 0%;
    background: #000000;
    z-index: -1;
    transition: 0.8s;
    bottom: 0;
    border-radius: 50% 50% 0 0;
}
.btn:hover::before{
    height: 180%
}

