<div class="vega-logout">
    <div class="uk-margin-medium-top uk-visible@m">

        <div class="logoutbox">
            <!-- <h2>Thank You! </h2> -->
            <!-- <img src="login.png" class="user"> -->
            <button class="btn btn-rounded" v-on:click="executelogout">LOG OUT</button>
        </div>

    </div>


    <div class="uk-hidden@m" id="mobileDropdown">

        <div class="logoutbox">
            <!-- <img src="login.png" class="user"> -->
            <button class="btnMOBILE"  v-on:click="executelogout">LOG OUT</button>
        </div>

    </div>
</div>





