<div id="MoneyMarketSIGHState" style="border: aliceblue dotted 2px; padding: 14px 0px;">

    <div class="uk-panel" style="padding-bottom: 5px;">
        <!-- Live markets heading -->
        <h3 class="uk-panel-title uk-text-center" style="font-weight: 700;  font-size: 24px !important;">
             <span  style="font-weight: 700; padding-bottom: 1px; color: yellow; font-size: 24px !important;">$SIGH : </span> 
             <span  style="font-weight: 700; padding-bottom: 1px; color: greenyellow; font-size: 24px !important;">FARMING HARVESTS</span> 
            
             <span style="padding-left:10%;">
                <span  v-if="this.$store.state.blocksRemainingForSIGHSpeedRefresh == 0 " > 
                    <button v-if="!showLoader"  class="uk-button" style="background-color: darkblue; font-size: 13px; color: greenyellow;"  @click="refresh_SIGH_Speeds()">Harvest $SIGH</button>    
                    <img v-else style="width: 7%; margin-left: 5%;" src="https://image.ibb.co/dc02hd/30.gif" />
                </span>
                <span v-else style="color: chartreuse; font-weight: 400;">Blocks Remaining : {{ this.$store.state.blocksRemainingForSIGHSpeedRefresh }}
                </span>
            </span>
        </h3>
        
        <div style="margin:14px; text-align: center;" >
                <span style="color: ivory; padding-right:24px;" > <u>Read About $SIGH FARMS Here</u>  :  Medium Article  </span>  
                <span style="color: ivory; padding-left:42px;  color: darkkhaki; " > DELTA BLOCKS :  {{ deltaBlocks }}  </span>         
        </div>
        
    </div>
    
    <!-- v-if="!showLoader" -->
    <template >   
        <div class="noShow noHorizontal scrollit"> 
            <!-- <div id="hello" data-simplebar data-simplebar-auto-hide="uk-text-center" > -->
                <!-- :style="{ height: tableHeight } -->
                <table >
                    <thead class="uk-visible">
                        <!-- live instruments Bar heading -->
                        <tr>
                            <th class="uk-text-center"> <span style="color: ivory;font-weight: 700; color:yellow; font-size: 15px !important;" > $SIGH FARMS</span> </th>
                            <!-- <th class="uk-text-center">Instrument</th> -->
                            <th class="uk-text-center">Previous Price</th>
                            <th class="uk-text-center">Harvest Price</th>
                            <th class="uk-text-center"><span style="color:mediumvioletred;">Volatility</span> (24Hr)</th>
                            <th class="uk-text-center"><span style="color:aqua;">Maximum Harvests </span></th>
                            <th class="uk-text-center"><span style="color:aqua;">Harvested  </span><span style="color:yellow; font-weight: 700; font-size:15px;"> $SIGH </span></th>
                            <th class="uk-text-center"> <span style="color:aqua;">Harvest APY </span> <br> (<span style="color:#66ff00;">LONG</span>) </th>
                            <th class="uk-text-center"> <span style="color:aqua;">Harvest APY </span> <br> (<span style="color:red;">SHORT</span>) </th>
                            <!-- <th class="uk-text-center"> $SIGH Yield </th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <!-- live instruments content -->
                        <tr v-for="instrument in instruments">
                            <td class="uk-text-center c-white" style="line-height: 1; font-size:11px !important;" >{{ instrument.name }}</td>
                            <!-- Previous Price -->
                            <td  class="uk-text-center c-white" v-if="Number(instrument.present_PrevPrice_USD) > 0" style="line-height: 1.4; font-size:12px !important;" > $ {{  Number(instrument.present_PrevPrice_USD).toFixed(2) }} </td>
                            <td  class="uk-text-center c-red" v-else style="line-height: 1.4; font-size:12px !important;"  > In-Active </td>
                            <!-- Current Price (Increase[$SIGH Farmed against Short Positions] / Decrease[$SIGH Farmed against Long Positions] -->
                            <td v-if="Number(instrument.present_OpeningPrice_USD) > Number(instrument.present_PrevPrice_USD)" class="uk-text-center c-white" style="line-height: 1.4; font-size:12px !important;" > $ {{  Number(instrument.present_OpeningPrice_USD).toFixed(2) }} <br> <span style="color:#66ff00; font-size:9px;">  (+ {{ Number(Number(instrument.present_OpeningPrice_USD) - Number(instrument.present_PrevPrice_USD)).toFixed(2) }}) </span> </td>
                            <td  v-else class="uk-text-center c-white" style="line-height: 1.4; font-size:12px !important;" > $ {{  Number(instrument.present_OpeningPrice_USD).toFixed(2) }}  <br> <span style="color:red; font-size:9px; "> ({{ Number(Number(instrument.present_OpeningPrice_USD) - Number(instrument.present_PrevPrice_USD)).toFixed(2) }}) </span> </td>
                            <!-- VOLATILITY : 24 Hr Volatility, % of total Volatility -->
                            <td v-if="instrument.isSIGHMechanismActivated && instrument.present_SIGH_Side=='Suppliers'" class="uk-text-center c-red" style="line-height: 1.4; font-size:12px !important;" > $ {{ getBalanceString(Number(instrument.present_total24HrVolatilityUSD).toFixed(2)) }} <br> <span style="color:cornsilk; font-size:9px;">({{ Number(instrument.present_percentTotalVolatility).toFixed(2) }}%)</span> </td>
                            <td v-if="instrument.isSIGHMechanismActivated && instrument.present_SIGH_Side=='Borrowers'" class="uk-text-center c-green" style="line-height: 1.4; font-size:12px !important;" > $ {{ getBalanceString(Number(instrument.present_total24HrVolatilityUSD).toFixed(2)) }} <br> <span style="color:cornsilk; font-size:9px;">({{ Number(instrument.present_percentTotalVolatility).toFixed(2) }}%)</span> </td>
                            <td v-if="!instrument.isSIGHMechanismActivated || instrument.present_SIGH_Side=='In-Active'" class="uk-text-center c-white" style="line-height: 4; font-size:12px !important;" > In-Active </td>
                            <!-- MAXIMUM HARVESTS : Increase[$SIGH Farmed against Short Positions, i.e Borrowers Receive farmed $SIGH] / Decrease[$SIGH Farmed against Long Positions, i.e Suppliers Receive farmed $SIGH] / IN-Active -->
                            <td v-if="instrument.isSIGHMechanismActivated && instrument.present_SIGH_Side=='Suppliers'" class="uk-text-center c-green" style="line-height: 1.4; font-size:12px !important;" > $ {{ getBalanceString(Number(instrument.present_total24HrSentimentVolatilityUSD).toFixed(2)) }} <br> <span style="color:cornsilk; font-size:9px;">({{ Number(instrument.present_total24HrVolatilityUSD) > 0 ? Number( 100 * Number(instrument.present_total24HrSentimentVolatilityUSD) / Number(instrument.present_total24HrVolatilityUSD) ).toFixed(2) : 100.00 }} %)</span> </td>
                            <td v-if="instrument.isSIGHMechanismActivated && instrument.present_SIGH_Side=='Borrowers'" class="uk-text-center c-green" style="line-height: 1.4; font-size:12px !important;" > $ {{ getBalanceString(Number(instrument.present_total24HrSentimentVolatilityUSD).toFixed(2)) }} <br> <span style="color:cornsilk; font-size:9px;">({{ Number(instrument.present_total24HrVolatilityUSD) > 0 ? Number( 100 * Number(instrument.present_total24HrSentimentVolatilityUSD) / Number(instrument.present_total24HrVolatilityUSD) ).toFixed(2) : 100.00 }} %)</span> </td>
                            <td v-if="!instrument.isSIGHMechanismActivated || instrument.present_SIGH_Side=='In-Active'" class="uk-text-center c-white" style="line-height: 4; font-size:12px !important;" > In-Active </td>
                            <!-- HARVESTED $SIGH : (Suppliers Speed * Delta Blocks * $SIGH Price) / (Borrowers Speed * Delta Blocks * $SIGH Price) / IN-Active -->
                            <td v-if="instrument.isSIGHMechanismActivated && instrument.present_SIGH_Side=='Suppliers'" class="uk-text-center c-green" style="line-height: 1.4; width: 18% !important; font-size:12px !important; " > $ {{ getBalanceString( Number( Number(instrument.present_harvestSpeedPerDay) * sighPriceInUSD ).toFixed(2) ) }} <span style="color:#66ff00;"> - Long </span>  <br> <span style="color:cornsilk; font-size:9px;">({{ Number(instrument.present_total24HrVolatilityUSD) > 0 ? Number( 100 * Number(instrument.present_harvestSpeedPerDay) * sighPriceInUSD / Number(instrument.present_total24HrVolatilityUSD) ).toFixed(2) : 100.00 }} %)</span> </td>
                            <td v-if="instrument.isSIGHMechanismActivated && instrument.present_SIGH_Side=='Borrowers'" class="uk-text-center c-green" style="line-height: 1.4; width: 18% !important; font-size:12px !important;" > $ {{  getBalanceString( Number( Number(instrument.present_harvestSpeedPerDay) * sighPriceInUSD ).toFixed(2) ) }} <span style="color:red;"> - Short </span>   <br> <span style="color:cornsilk; font-size:9px;">({{ Number(instrument.present_total24HrVolatilityUSD) > 0 ? Number( 100 * Number(instrument.present_harvestSpeedPerDay) * sighPriceInUSD / Number(instrument.present_total24HrVolatilityUSD) ).toFixed(2) : 100.00 }} %)</span> </td>
                            <td v-if="!instrument.isSIGHMechanismActivated || instrument.present_SIGH_Side=='In-Active'" class="uk-text-center c-green" style="line-height: 1.4; width: 18% !important; font-size:12px !important;" > $ {{ getBalanceString( Number( Number(instrument.present_harvestSpeedPerDay) * sighPriceInUSD ).toFixed(2) ) }} <span style="color:white;"> - Stake </span>    <br> <span style="color:cornsilk; font-size:9px;">({{ Number(instrument.present_total24HrVolatilityUSD) > 0 ? Number( 100 * Number(instrument.present_harvestSpeedPerDay) * sighPriceInUSD / Number(instrument.present_total24HrVolatilityUSD) ).toFixed(2) : 100.00 }} %)</span> </td>
                            <!-- HARVEST APY (LONG) -->
                            <td v-if="Number(instrument.present_suppliersHarvestAPY) > 0" class="uk-text-center c-green" style="line-height: 1.4; width: 18% !important; font-size:15px !important; " > {{  Number(instrument.present_suppliersHarvestAPY).toFixed(2) }} % <br> <span style="color:cornsilk; font-size: 9.6px;"> 24 Hr Avg. {{ Number(instrument.average24SnapsSuppliersHarvestAPY).toFixed(2) }} % </span> </td>
                            <td v-else class="uk-text-center c-white" style="line-height: 1.4; width: 18% !important; font-size:15px !important; " > {{  Number(instrument.present_suppliersHarvestAPY).toFixed(2) }} % <br> <span style="color:cornsilk; font-size: 9.6px;"> 24 Hr Avg. {{ Number(instrument.average24SnapsSuppliersHarvestAPY).toFixed(2) }} % </span> </td>
                            <!-- HARVEST APY (SHORT) -->
                            <td v-if="Number(instrument.present_borrowersHarvestAPY) > 0" class="uk-text-center c-green" style="line-height: 1.4; width: 18% !important; font-size:15px !important; " > {{  Number(instrument.present_borrowersHarvestAPY).toFixed(2) }} % <br> <span style="color:cornsilk; font-size: 9.6px;"> 24 Hr Avg. {{ Number(instrument.average24SnapsBorrowersHarvestAPY).toFixed(2) }} % </span> </td>
                            <td v-else class="uk-text-center c-white" style="line-height: 1.4; width: 18% !important; font-size:15px !important; " > {{  Number(instrument.present_borrowersHarvestAPY).toFixed(2) }} % <br> <span style="color:cornsilk; font-size: 9.6px;"> 24 Hr Avg. {{ Number(instrument.average24SnapsBorrowersHarvestAPY).toFixed(2) }} % </span> </td>

                        </tr>
                    </tbody>
                </table>
            <!-- </div> -->
        </div>
    </template>
    
</div>