<div id="lending-trade-tab" style="padding: 24px 24px; position: inherit;"> 

<!-- SELECT INSTRUMENT DROPDOWN -->
    <div class="select-instrument-dropbox uk-position-top-right">
        <div class="form-elm select" style="width: 251px;">
            <span style='color:cyan; font-size: 13px; font-weight: 400;'>  Select Instrument  : </span>
             <!-- Instrument selected is directly stored in 'this.selectedInstrument' -->
            <select class="select2-single" style="margin-left: 14px; margin-top: 9px; width: 42%;" @change=updateSelectedInstrument v-model=selectedInstrument>
                <!-- Dropdown list of instruments supported by SIGH Finance -->
                <option v-for="instrument in $store.getters.getSupportedInstruments" :key=instrument.instrumentAddress :value=instrument>
                    {{ instrument.symbol }}
                </option>
            </select>
        </div>
    </div>

    <!-- Tabbing between Deposit/Redeem/Borrow/Repay -->
    <div class="cs-tab-1 uk-position-relative ">
        <tab-bar :mobileDropdown=false marketDropdown="false" :tabs=tabs @tab-change="activeTabChange" />
        
        <br> <br> <br> <br>

        <keep-alive>
            <Deposit  v-if="activeTab === 'Deposit' " />
            <Redeem   v-if="activeTab === 'Redeem' " />
            <Borrow  v-if="activeTab === 'Borrow' " />
            <Repay  v-if="activeTab === 'Repay' " />
        </keep-alive>

    </div>
</div>