<div class= "lendingInfo" style="color:white; border: dotted 1px white; padding: 10px 10px;">
    <div class="uk-grid uk-grid-small f1-form-grid" style="position: relative;">
    </div> 
    
    <div> 

        <fieldset>

            <table v-if="!displayInUSD && !displayInString">
                <h3 style="font-size: 15px; color: aquamarine; margin-bottom: 4px; margin-top: 4px; "> Balances </h3>
                <tr>
                    <td> >  &nbsp; Total Value Supplied &nbsp; : &nbsp; {{ Number(walletLendingProtocolState.totalLiquidityETH).toFixed(4) }} ETH </td> 
                </tr>
                <tr>
                    <td> >  &nbsp; Total Collateral &nbsp; : &nbsp; {{ Number(walletLendingProtocolState.totalCollateralETH).toFixed(4) }} ETH </td> 
                </tr>
                <tr>
                    <td> >  &nbsp; Total Value Borrowed &nbsp; : &nbsp; {{ Number(walletLendingProtocolState.totalBorrowsETH).toFixed(4) }} ETH </td> 
                </tr>
                <tr>
                    <td> >  &nbsp; Available Borrows &nbsp; : &nbsp; {{ Number(walletLendingProtocolState.availableBorrowsETH).toFixed(4) }} ETH </td> 
                </tr>
                <tr>
                    <td> >  &nbsp; Borrowing Fee &nbsp; : &nbsp; {{ Number(walletLendingProtocolState.totalFeesETH).toFixed(4) }} ETH </td> 
                </tr>
                <h3 style="font-size: 15px; color: aquamarine; margin-bottom: 4px; margin-top: 14px; "> Parameters </h3>
                <tr>
                    <td> >  &nbsp; Liquidation Threshold &nbsp; : &nbsp; {{ walletLendingProtocolState.currentLiquidationThreshold }} </td> 
                </tr>
                <tr>
                    <td style="padding-bottom: 15px; padding-top: 15px;" > >  &nbsp; Loan To Value (LTV) &nbsp; : &nbsp; {{ Number(walletLendingProtocolState.ltv).toFixed(2) }} %  
                        <p style="line-height: 18px; font-size: 11px; color: gold; padding-right: 15px; float: left;" > ----- Maximum  {{  Number(walletLendingProtocolState.ltv).toFixed(2)  }} % of your 
                            current total {{ Number(walletLendingProtocolState.totalCollateralETH).toFixed(4) }} ETH  Collateral Balance, i.e total {{ (Number(walletLendingProtocolState.ltv) * Number(walletLendingProtocolState.totalCollateralETH) / 100).toFixed(4) }} ETH
                            can currently be Borrowed from SIGH Finance!  
                        </p> 
                    </td> 
                </tr>
                <tr>
                    <td>>  &nbsp; Health Factor &nbsp; : &nbsp; {{ Number(walletLendingProtocolState.healthFactor).toFixed(4) }} 
                        <p style="line-height: 18px; font-size: 11px; color: gold; padding-right: 15px; float: left;" > 
                            ----- Health Factor is calculated as the fraction between your Liquidation Threshold and your current active borrows! <br>
                            -----  It Should never be less than 1 or else you will be subject to Liquidations!
                        </p>     
                    </td>
            </tr>
            </table>

            
            <table v-if="!displayInUSD && displayInString">
                <h3 style="font-size: 15px; color: aquamarine; margin-bottom: 4px; margin-top: 4px; "> Balances </h3>
                <tr>
                    <td> >  &nbsp; Total Value Supplied &nbsp; : &nbsp; {{ getBalanceString(Number(walletLendingProtocolState.totalLiquidityETH).toFixed(4)) }} ETH </td> 
                </tr>
                <tr>
                    <td> >  &nbsp; Total Collateral &nbsp; : &nbsp; {{ getBalanceString(Number(walletLendingProtocolState.totalCollateralETH).toFixed(4)) }} ETH </td> 
                </tr>
                <tr>
                    <td> >  &nbsp; Total Value Borrowed &nbsp; : &nbsp; {{ getBalanceString(Number(walletLendingProtocolState.totalBorrowsETH).toFixed(4)) }} ETH </td> 
                </tr>
                <tr>
                    <td> >  &nbsp; Available Borrows &nbsp; : &nbsp; {{ getBalanceString(Number(walletLendingProtocolState.availableBorrowsETH).toFixed(4)) }} ETH </td> 
                </tr>
                <tr>
                    <td> >  &nbsp; Borrowing Fee &nbsp; : &nbsp; {{ getBalanceString(Number(walletLendingProtocolState.totalFeesETH).toFixed(4)) }} ETH </td> 
                </tr>
                <h3 style="font-size: 15px; color: aquamarine; margin-bottom: 4px; margin-top: 14px; "> Parameters </h3>
                <tr>
                    <td> >  &nbsp; Liquidation Threshold &nbsp; : &nbsp; {{ walletLendingProtocolState.currentLiquidationThreshold }} </td> 
                </tr>
                <tr>
                    <td style="padding-bottom: 15px; padding-top: 15px;" > >  &nbsp; Loan To Value (LTV) &nbsp; : &nbsp; {{ Number(walletLendingProtocolState.ltv).toFixed(2) }} %  
                        <p style="line-height: 18px; font-size: 11px; color: gold; padding-right: 15px; float: left;" > ----- Maximum  {{  Number(walletLendingProtocolState.ltv).toFixed(2)  }} % of your 
                        current total {{ getBalanceString(Number(walletLendingProtocolState.totalCollateralETH).toFixed(4)) }} ETH  Collateral Balance, i.e total {{ getBalanceString((Number(walletLendingProtocolState.ltv) * Number(walletLendingProtocolState.totalCollateralETH) / 100).toFixed(4)) }} ETH
                        can currently be Borrowed from SIGH Finance!  </p> 
                    </td> 
                </tr>
                <tr>
                    <td>>  &nbsp; Health Factor &nbsp; : &nbsp; {{ Number(walletLendingProtocolState.healthFactor).toFixed(4) }} 
                        <p style="line-height: 18px; font-size: 11px; color: gold; padding-right: 15px; float: left;" > 
                            ----- Health Factor is calculated as the fraction between your Liquidation Threshold and your current active borrows! <br>
                            -----  It Should never be less than 1 or else you will be subject to Liquidations!
                        </p>     
                    </td>
                </tr>
            </table>




            <table v-if="displayInUSD  && !displayInString">
                <h3 style="font-size: 15px; color: aquamarine; margin-bottom: 4px; margin-top: 4px; "> Balances </h3>
                <tr>
                    <td> >  &nbsp; Total Value Supplied &nbsp; : &nbsp; {{ Number(walletLendingProtocolState.totalLiquidityUSD).toFixed(4) }} USD </td> 
                </tr>
                <tr>
                    <td>>  &nbsp; Total Collateral &nbsp; : &nbsp; {{ Number(walletLendingProtocolState.totalCollateralUSD).toFixed(4) }} USD </td> 
                </tr>
                <tr>
                    <td>>  &nbsp; Total Value Borrowed &nbsp; : &nbsp; {{ Number(walletLendingProtocolState.totalBorrowsUSD).toFixed(4) }} USD </td> 
                </tr>
                <tr>
                    <td> >  &nbsp; Available Borrows &nbsp; : &nbsp; {{ Number(walletLendingProtocolState.availableBorrowsUSD).toFixed(4) }} USD </td> 
                </tr>
                <tr>
                    <td> >  &nbsp; Borrowing Fee &nbsp; : &nbsp; {{ Number(walletLendingProtocolState.totalFeesUSD).toFixed(4) }} USD </td> 
                </tr>
                <h3 style="font-size: 15px; color: aquamarine; margin-bottom: 4px; margin-top: 14px; "> Parameters </h3>
                <tr>
                    <td>>  &nbsp; Liquidation Threshold &nbsp; : &nbsp; {{ walletLendingProtocolState.currentLiquidationThreshold }} </td> 
                </tr>
                <tr>
                    <td  style="padding-bottom: 15px; padding-top: 15px;" >>  &nbsp; Loan To Value (LTV) &nbsp; : &nbsp; {{ walletLendingProtocolState.ltv }}
                        <p style="line-height: 18px; font-size: 11px; color: gold; padding-right: 15px; float: left;" > ----- Maximum  {{  Number(walletLendingProtocolState.ltv).toFixed(2)  }} % of your 
                            current total {{ Number(walletLendingProtocolState.totalCollateralUSD).toFixed(4) }} USD  Collateral Balance, i.e total {{ (Number(walletLendingProtocolState.ltv) * Number(walletLendingProtocolState.totalCollateralUSD) / 100).toFixed(4) }} USD
                            can currently be Borrowed from SIGH Finance!  </p>     
                    </td> 
                </tr>
                <tr>
                    <td>>  &nbsp; Health Factor &nbsp; : &nbsp; {{ Number(walletLendingProtocolState.healthFactor).toFixed(4) }} 
                        <p style="line-height: 18px; font-size: 11px; color: gold; padding-right: 15px; float: left;" > 
                            ----- Health Factor is calculated as the fraction between your Liquidation Threshold and your current active borrows! <br>
                            -----  It Should never be less than 1 or else you will be subject to Liquidations!
                        </p>     
                    </td>
                </tr>
            </table>

            <table v-if="displayInUSD && displayInString">
                <h3 style="font-size: 15px; color: aquamarine; margin-bottom: 4px; margin-top: 4px; "> Balances </h3>
                <tr>
                    <td> >  &nbsp; Total Value Supplied &nbsp; : &nbsp; {{ getBalanceString(Number(walletLendingProtocolState.totalLiquidityUSD).toFixed(4)) }} USD </td> 
                </tr>
                <tr>
                    <td> >  &nbsp; Total Collateral &nbsp; : &nbsp; {{ getBalanceString(Number(walletLendingProtocolState.totalCollateralUSD).toFixed(4)) }} USD </td> 
                </tr>
                <tr>
                    <td> >  &nbsp; Total Value Borrowed &nbsp; : &nbsp; {{ getBalanceString(Number(walletLendingProtocolState.totalBorrowsUSD).toFixed(4)) }} USD </td> 
                </tr>
                <tr>
                    <td> >  &nbsp; Available Borrows &nbsp; : &nbsp; {{ getBalanceString(Number(walletLendingProtocolState.availableBorrowsUSD).toFixed(4)) }} USD </td> 
                </tr>
                <tr>
                    <td> >  &nbsp; Borrowing Fee &nbsp; : &nbsp; {{ getBalanceString(Number(walletLendingProtocolState.totalFeesUSD).toFixed(4)) }} USD </td> 
                </tr>
                <h3 style="font-size: 15px; color: aquamarine; margin-bottom: 4px; margin-top: 14px; "> Parameters </h3>
                <tr>
                    <td> >  &nbsp; Liquidation Threshold &nbsp; : &nbsp; {{ walletLendingProtocolState.currentLiquidationThreshold }} </td> 
                </tr>
                <tr>
                    <td style="padding-bottom: 15px; padding-top: 15px;" > >  &nbsp; Loan To Value (LTV) &nbsp; : &nbsp; {{ Number(walletLendingProtocolState.ltv).toFixed(2) }} %  
                        <p style="line-height: 18px; font-size: 11px; color: gold; padding-right: 15px; float: left;" > ----- Maximum  {{  Number(walletLendingProtocolState.ltv).toFixed(2)  }} % of your 
                        current total {{ getBalanceString(Number(walletLendingProtocolState.totalCollateralUSD).toFixed(4)) }} USD  Collateral Balance, i.e total {{ getBalanceString((Number(walletLendingProtocolState.ltv) * Number(walletLendingProtocolState.totalCollateralUSD) / 100).toFixed(4)) }} USD
                        can currently be Borrowed from SIGH Finance!  </p> 
                    </td> 
                </tr>
                <tr>
                    <td>>  &nbsp; Health Factor &nbsp; : &nbsp; {{ Number(walletLendingProtocolState.healthFactor).toFixed(4) }} 
                        <p style="line-height: 18px; font-size: 11px; color: gold; padding-right: 15px; float: left;" > 
                            ----- Health Factor is calculated as the fraction between your Liquidation Threshold and your current active borrows! <br>
                            -----  It Should never be less than 1 or else you will be subject to Liquidations!
                        </p>     
                    </td>
                </tr>
            </table>


        </fieldset>
    </div>



    
    <!-- Buttons -->
        <div class="center" style=" margin: 10px auto; display: block;" >
            <img v-if="showLoader" style="width: 11%; padding-right:11px" src="https://image.ibb.co/dc02hd/30.gif" />
            <button v-else class="uk-button " style="background-color: indianred;"  @click="refresh()">Refresh</button>
            <button class="uk-button " v-if="displayInUSD" style="background-color: indianred;" @click="toggleTable()">Toggle To ETH </button>
            <button class="uk-button " v-if="!displayInUSD" style="background-color: indianred;" @click="toggleTable()">Toggle To USD </button>
            <button class="uk-button " v-if="!displayInString" style="background-color: indianred;" @click="toggleTableString()">Display as String </button>
            <button class="uk-button " v-if="displayInString" style="background-color: indianred;" @click="toggleTableString()">Display as Numbers </button>
        </div>

</div>