<div class="Redeem-Component">
    <div class="f1-form-grid" style="position: relative;">

    <!-- IMPLEMENTING - -->
        <div class="cs-tab-2  uk-position-relative " style=" padding-left: 9px; padding-right: 9px; padding-top: 12px;">
            
            <div id="subtab-market" :title-link-class="'tab-title-class'" style="padding-left: 20%;">
                <tab-bar :mobileDropdown=false :tabs=tabs @tab-change="activeTabChange" />
            </div>

            <keep-alive>
                <redeemQuantity v-if="activeTab === 'Quantity'" />
                <redeemAmount v-if="activeTab === 'Amount'" />
            </keep-alive>

        </div>
    </div>
</div>