<div class= "Swap-Tokens-0xAPI">
    <div class="uk-grid uk-grid-small f1-form-grid" style="position: relative;">
    </div> 
    <!-- Displays the [0] of Selected pair e.q BTC of BTC/USD - -->
    <div class="uk-grid uk-grid-small f1-form-grid">
        <div class="uk-width-1-1">
            <div class="form-grp">
                <div class="form-elm">
                    <input style="text-align: center;" class="form-ctrl" type="text" placeholder="Sell Token" v-model="formData.SellMarketAddress">
                    <span   style='color:antiquewhite; padding-left:10px;'>  Token to be Sold  </span>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-grid uk-grid-small f1-form-grid">
        <div class="uk-width-1-1">
            <div class="form-grp">
                <div class="form-elm">
                    <input style="text-align: center;" class="form-ctrl" type="text" placeholder="Sell Amount" v-model="formData.SellAmount">
                    <span   style='color:antiquewhite; padding-left:10px;'>  Sell Amount  </span>
                </div>
            </div>
        </div>
    </div>


    <div class="uk-grid uk-grid-small f1-form-grid">
        <div class="uk-width-1-1">
            <div class="form-grp">
                <div class="form-elm">
                    <input style="text-align: center;" class="form-ctrl" type="text" placeholder="Buy Token" v-model="formData.BuyMarketAddress">
                    <span   style='color:antiquewhite; padding-left:10px;'>  Token to be Bought  </span>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-grid uk-grid-small f1-form-grid">
        <div class="uk-width-1-1">
            <div class="form-grp">
                <div class="form-elm">
                    <input style="text-align: center;" class="form-ctrl" type="text" placeholder="Buy Amount" v-model="formData.BuyAmount">
                    <span   style='color:antiquewhite; padding-left:10px;'>  Target purchase Amount  </span>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-grid uk-grid-small f1-form-grid">
        <div class="uk-width-1-1">
            <div class="form-grp">
                <div class="form-elm">
                    <input style="text-align: center; font-size: 12px;"  class="form-ctrl" type="text" placeholder="Response (Sell Amount)"  readonly :value=" response.sellAmount || '' ">
                    <span  style='color:aliceblue; font-size:12px'> Response (Sell Amount) </span>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-grid uk-grid-small f1-form-grid">
        <div class="uk-width-1-1">
            <div class="form-grp">
                <div class="form-elm">
                    <input style="text-align: center;"  class="form-ctrl" type="text" placeholder="Response (Buy Amount)"  readonly :value=" response.buyAmount || '' ">
                    <span  style='color:aliceblue; font-size: 12px;'> Response (Buy Amount) </span>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-grid uk-grid-small f1-form-grid">
        <div class="uk-width-1-1">
            <div class="form-grp">
                <div class="form-elm">
                    <input style="text-align: center; font-size: 12px;"  class="form-ctrl" type="text" placeholder="Price"  readonly :value="response.price || '' ">
                    <span  style='color:aliceblue; font-size: 12px;'> Response (Price) </span>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-grid uk-grid-small f1-form-grid">
        <div class="uk-width-1-1">
            <div class="form-grp">
                <div class="form-elm">
                    <input style="text-align: center; font-size: 12px;"  class="form-ctrl" type="text" placeholder="Guaranteed Price"  readonly :value="response.guaranteedPrice || '' ">
                    <span  style='color:aliceblue; font-size: 12px;'> Response (Guaranteed Price) </span>
                </div>
            </div>
        </div>
    </div>    
    
<!-- Loading image -->
    <div class="uk-grid uk-grid-small f1-form-grid">
        <div v-if="showLoader" class="uk-width-1-1 center">
            <img src="https://image.ibb.co/dc02hd/30.gif" />
        </div>

<!-- Buttons (Borrow/RepayBorrow) -->
        <div v-else class="uk-width-1-1">
            <div class="center">
                <button class="uk-button uk-button-green" @click="getQuotes()">Get Quote</button>
                <button class="uk-button uk-button-green" v-if="response.data" @click="ExecuteTrade()">Execute Trade</button>

                <!-- <button class="uk-button uk-button-green ml10" @click="RepayBorrow()">Repay Borrow</button> -->
            </div>
        </div>
    </div>
</div>