<div class="supply-order">

    <div class="uk-grid uk-grid-small f1-form-grid" style="position: relative;">
    </div> 
    <!-- Displays the [0] of Selected pair e.q BTC of BTC/USD - -->
    <div class="uk-grid uk-grid-small f1-form-grid">
        <div class="uk-width-1-1">
            <div class="form-grp">
                <div class="form-elm">
                    <input style="text-align: center;" class="form-ctrl" type="text" placeholder="Mint Amount (Underlying)" v-model="formData.mintAmount">
                    <span style='color:antiquewhite'>  {{ $store.state.selectedMarketUnderlyingSymbol  }}  </span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="uk-grid uk-grid-small f1-form-grid">
        <div class="uk-width-1-1">
            <div class="form-grp">
                <div class="form-elm">
                    <input style="text-align: center;"  class="form-ctrl" type="text" placeholder="Estimated Minted Tokens" readonly :value="formData.mintAmount * formData.selectedMarketExchangeRate  || ''">
                    <span   style='color:antiquewhite'>{{ $store.state.selectedMarketSymbol}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-grid uk-grid-small f1-form-grid">
        <div class="uk-width-1-1">
            <div class="form-grp">
                <div class="form-elm">
                    <input style="text-align: center;"  class="form-ctrl" type="text" placeholder="Estimated Value " readonly :value="formData.mintAmount * formData.selectedMarketUnderlyingPriceUSD  || ''">
                    <span  style='color:antiquewhite'> USD </span>
                </div>
            </div>
        </div>
    </div>

        <!-- Loading image  -->
        <div v-if="showLoader" class="uk-width-1-1 center">
            <img src="https://image.ibb.co/dc02hd/30.gif" />
        </div>
        <!-- Buttons (Approve/Mint)  -->
        <div v-else class="uk-width-1-1 flex">
            <div class="left">
                <button class="uk-button uk-button-green" style="margin-left: 51px;" @click="approve()"> Approve </button>
                <button class="uk-button uk-button-green" style="margin-left: 51px;" @click="Mint()"> Mint </button>
            </div>
        </div> 

    </div>






</div>