#lending-trade-tab {
  width: 100%;
  position: relative;
  div {
    #tab-bar {
      div {
        ul {
          // overflow-x: scroll !important;
        }
      }
    }
  }
}

.select-instrument-dropbox {
  right: 0px;
  width: 70%;
  top: 133px;
  z-index: 2;
  position: relative;
  .form-elm-select {
    width: 80px;
  }
}

.select-instrument-dropbox select option {
  background-color: var(--main-bg-color);
  color: var(--pri-label-color);
}

.form-ctrl {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: var(--primary-text-color);
    background: transparent;
    width: 47%;
    height: 38px;
    padding: 7px 3px;
    border: 0;
    border-bottom: 1px solid #606060;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    display: block;
}

@media screen and (max-width: 768px) {
  .select-instrument-dropbox {
    right:5px;
    top: 45px;
  }
}















.market-order {
  margin-top: -15px;
  width: 100%;
}

img {
  width: 80px;
  height: auto;
}
.center {
  text-align: center;
}
button {
  font-family: "Open Sans", sans-serif;
  font-size: 12px !important;
  padding: 0 25px;
  margin-top: 4px;
}

.market-order select option {
  background-color: var(--main-bg-color);
  color: var(--pri-label-color);
}

.text-on-input {
  position: relative;
}

span {
  display: block;
  position: relative;
  line-height: 40px;
  text-align: left;
  float: left;
}
input {
  position: absolute;
}

.left {
  float: left;
}

.right {
  float: right;
  margin-top: 6px;
}

.stream {
  line-height: 10px;
  font-size: 12px;
}

.value {
  line-height: 10px;
  font-size: 12px;
  color: var(--primary-text-color);
}

.operational {
  color: green !important;
}

.degraded_performance {
  color: yellow;
}

.partial_outage {
  color: orange;
}

.major_outage {
  color: red;
}
.dot {
  margin-top: -25px;
  width: 15px;
  height: 15px;
}