.padding-50px-tb {padding-top:50px; padding-bottom:50px;}

.sm-padding-30px-tb {padding-top:30px !important; padding-bottom:30px !important;}

.col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-md-5 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.sm-margin-15px-bottom {margin-bottom:15px !important;}

.footer-logo {max-height: 28px;}
