<div class='home-page'>
    <div class="flex-col-vertical-bottom top-title">
    <div style = "padding-top: 24px; padding-bottom: 24px; width: 91%; color: white; text-align: center; font-size: 24px; border: 3px solid white;">
        "SIGH FINANCE is currently in Beta!"      
                            <!-- DRIP SIGH FROM SIGH SPEED CONTROLLER -->
                            <div >
                                <a href="javascript:undefined" style="color: chartreuse;" @click="drip_SIGH" ><span> Distribute SIGH </span></a>
                            </div>

    </div>
    <customer-support />
    </div>
        

     <SupportedMarkets_UtilityPanel /> 
    <!-- <Protocol_Infographics />  -->

    <div style = "padding-top: 24px; padding-bottom: 24px; background-color: white; color: black; text-align: center; font-size: 24px; border: 3px solid blue;">
        "Reach out to our Team at contact@sigh.finance if you are in interested in what we are building!"
    </div>


    <faqs /> 

        <footer class="footer-classic-dark bg-black ">
            <div class="bg-black padding-50px-tb sm-padding-30px-tb">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- start slogan -->
                        <div class="col-lg-4 col-md-5 text-center alt-font sm-margin-15px-bottom" style="color:aliceblue">
                            Sigh Finance © 2020. All rights reserved.
                        </div>
                        <!-- end slogan -->
                        <!-- start logo -->
                        <div class="col-lg-4 col-md-2 text-center sm-margin-10px-bottom">
                            <a href="http://sigh.finance"><img class="footer-logo" style="opacity: 0.5;" src="@/assets/SIGH_LOGO.png" data-rjs="img/SIGH_LOGO.png" alt="sigh.finance"></a>
                        </div>
                        <!-- end logo -->
   
                    </div>
                </div>
            </div>
        </footer>



</div>