<div class='home-page'>
    <div class="flex-col-vertical-bottom top-title">
        <div style = "color: white; text-align: center; font-size: 24px; border: 3px solid white;">

            <div>
                <!-- "SIGH FINANCE is currently in Beta!"  -->
                <div style="padding-top: 21px; padding-bottom: 14px; float:left; width: 100%; border-bottom: 3px solid white;">
                    <div style="width:80%; float:left;" >
                        <span style="line-height: 24px; font-size: 42px; color:white; display: contents;" > "SIGH FINANCE is currently in Beta!   </span>
                        <span style="line-height: 24px; font-size: 24px; color:aqua; display: block; padding-top:11px;" >The numbers are simulated for testing purposes! </span>
                        <span style="padding-top:4px; display: block; font-size: 20px;">  &#128104;&#8205;&#127806; <a href="https://discord.com/invite/HTrsKeWaZu" target="_blank" style="color:yellow;"> &nbsp; Click to Enter Discord Server! &nbsp; </a> &#128104;&#8205;&#127806;</span>
                        <!-- <span style="display: block; font-size: 20px;">  &#127806; <a href="https://kovan.etherscan.io/address/0x4ebc60b9d2efa92b9eb681bf5b26aeb11de23bfd" target="_blank" style="color:springgreen;"> &nbsp; SIGH Token Contract (Etherscan, BSC Network) &nbsp; </a> &#127806; </span> -->
                        <span v-if="!this.$store.state.isNetworkSupported" style="color:red; display:contents; font-size:19px !important; display: block; padding-top: 3px; padding-bottom: 3px; " > SIGH FINANCE currently only works on BSC Test-net. Please connect to BSC test-net and refresh the website to interact with SIGH Finance! </span>
                    </div>
                    <!-- DRIP SIGH FROM SIGH SPEED CONTROLLER -->
                    <div style="width:20%; float:right; padding-right:10%; padding-top:1%;" >
                        <button style="background: darkblue;" class="uk-button uk-button-black"  @click="drip_SIGH(true)">Drip $SIGH</button>
                    </div>
                </div>
                <!-- <div style="padding-top: 21px; float:right; width: 9%; border-bottom: 3px solid white; border-left: 3px solid white;">
                    <customer-support />
                </div> -->
                <!-- LEFT BOX CONTAINING $SIGH ECONOMICS -->
                <div style="width:50%; float:left; border-right: 3px solid white;">
                    <!-- $SIGHNOMICS : OVERVIEW -->
                    <div style="float:left; padding-top:10px; padding-bottom:10px; border-bottom: 3px solid white;">
                        <span style="font-weight:600; margin-top:4px; line-height: 24px;font-size: 21px; color:lightcyan; display: block; text-align:center;" >  &#127959; &#128218; &#128221;  <span style="font-weight:500; color:yellow; display: contents;font-size: 21px;" > $SIGHNOMICS : </span> OVERVIEW &#128221; &#128218; &#127959;   </span>
                        <p style="padding-top:10px;  margin-top: 4px !important;" >
                            <span  style="padding-left:10px; padding-right:10px; line-height: 19px;font-size: 14px; color:whitesmoke; display: flex;" > "The initial and final supply of $SIGH tokens (over 5 years) should be the same, implying the $SIGH tokens minted through inflation should all eventually be burnt, while maximizing the Value that is eventually managed and traded by $SIGH Treasury!"
                            </span>
                        </p>
                        <p style="margin-top: 14px !important;" >
                            <span  style="padding-left:10px; line-height: 14px;font-size: 14px; color:bisque; display: block; text-align:center;" > Read more about $SIGHNOMICS here - <span style="color:yellow">Article Coming Soon </span>
                            </span>
                        </p>
                    </div>
                    <!-- $SIGH HARVEST RATE -->
                    <div style="width:50%; float:left; border-right: 3px solid white; padding-bottom:10px;">
                        <span style="font-weight:400; margin-top:10px; line-height: 24px;font-size: 17px; color:chartreuse; display: block; text-align:center;" >  &#x1F69C; &#x1F69C; $SIGH HARVEST RATE &#x1F69C; &#x1F69C; </span>
                        <span style="margin-top:3px; line-height: 14px; font-size: 11px; color:white; display: block; text-align:center;" > (Inflation : {{ Number(Number(sighInstrument.currentInflation) * 100 ).toFixed(4)}} % per Day) </span>
                            <!-- Per Day -->
                            <p v-if="displayInNumbers" style="margin-top: 9px !important;" >
                                <span  style="padding-left:2px; line-height: 14px; font-size: 13.5px; color:whitesmoke; display: block; text-align:left;" >  &#x1F69C; Per Day : 
                                    <span style="padding-left:10px; line-height: 14px;font-size: 13.5px; color:yellow; font-weight:500; display: contents;" > &#127806; {{ Number(Number(sighInstrument.currentMintSpeed).toFixed(4) * 6500) }} SIGH &#127806; </span> <span style="line-height: 14px; font-size: 14px; color:aqua; display: contents;" > ( {{ Number(Number(sighInstrument.currentMintSpeed).toFixed(4) * Number(sighInstrument.priceUSD).toFixed(4) * 6500 ).toFixed(4)  }} USD )  </span>                         
                                </span>
                            </p>
                            <p v-if="!displayInNumbers" style="margin-top: 9px !important;" >
                                <span  style="padding-left:2px; line-height: 14px;font-size: 13.5px; color:whitesmoke; display: block; text-align:left;" >  &#x1F69C; Per Day : 
                                    <span style="padding-left:10px; line-height: 14px;font-size: 13.5px; color:yellow; font-weight:500; display: contents;" > &#127806; {{ getBalanceString(Number(Number(sighInstrument.currentMintSpeed).toFixed(4) * 6500)) }} SIGH &#127806; </span> <span style="line-height: 14px; font-size: 14px; color:aqua; display: contents;" > ( {{ getBalanceString(Number(Number(sighInstrument.currentMintSpeed).toFixed(4) * Number(sighInstrument.priceUSD).toFixed(4) * 6500 ).toFixed(4))  }} USD )  </span>                         
                                </span>
                            </p>
                            <!-- Per Block -->
                            <p v-if="displayInNumbers" style="margin-top: 14px !important;" >
                                <span  style="padding-left:2px; line-height: 14px;font-size: 14px; color:whitesmoke; display: block; text-align:left;" >  &#x1F69C; Per Block : 
                                    <span style="padding-left:10px; line-height: 14px;font-size: 14px; color:yellow; font-weight:500; display: contents;" > &#127806; {{ Number(sighInstrument.currentMintSpeed).toFixed(4) }} SIGH &#127806; </span> <span style="line-height: 14px; font-size: 14px; color:aqua; display: contents;" > ( {{ Number(Number(sighInstrument.currentMintSpeed).toFixed(4) * Number(sighInstrument.priceUSD).toFixed(4)).toFixed(4) }} USD )  </span>                         
                                </span>
                            </p>
                            <p v-if="!displayInNumbers" style="margin-top: 14px !important;" >
                                <span  style="padding-left:2px; line-height: 14px;font-size: 13.5px; color:whitesmoke;  display: block; text-align:left;" >  &#x1F69C; Per Block : 
                                    <span style="padding-left:10px; line-height: 14px;font-size: 13.5px; color:yellow; font-weight:500; display: contents;" > &#127806; {{ getBalanceString(Number(sighInstrument.currentMintSpeed).toFixed(4)) }} SIGH &#127806; </span> <span style="line-height: 14px; font-size: 13.5px;; color:aqua; display: contents;" > ( {{ getBalanceString(Number(Number(sighInstrument.currentMintSpeed).toFixed(4) * Number(sighInstrument.priceUSD).toFixed(4)).toFixed(4)) }} USD )  </span>                         
                                </span>
                            </p>
                            <!-- Volatility Harvest Drip -->
                            <p style="margin-top: 14px !important;" >
                                <span  style="padding-left:2px; line-height: 14px;font-size: 12.5px; color:chartreuse; display: block; text-align:left;" > &nbsp; --- Volatility Harvests : &nbsp;
                                    <span style="padding-left:10px; line-height: 14px;font-size: 12.5px; color:yellow; font-weight:500; display: contents;" > &#127806; {{ Number(sighInstrument.sighVolatilityHarvestsDistributionSpeed).toFixed(4) }} SIGH &#127806; </span>                         
                                </span>
                            </p>
                            <!-- Treasury Drip -->
                            <p style="margin-top: 14px !important;" >
                                <span  style="padding-left:2px; line-height: 14px;font-size: 12.5px; color:chartreuse; display: block; text-align:left;" > &nbsp; --- Treasury (Drip) : &nbsp;
                                    <span style="padding-left:10px; line-height: 14px;font-size: 12.5px; color:yellow; font-weight:500; display: contents;" > &#127806; {{ Number(sighInstrument.sighTreasuryDistributionSpeed).toFixed(4) }} SIGH &#127806; </span> 
                                </span>
                            </p>


                    </div>
                    <!-- $SIGH BURN RATE -->
                    <div style="width:50%; float:left; padding-bottom:10px;">
                        <span style="padding-left:10px; font-weight:400; margin-top:10px; line-height: 24px;font-size: 17px; color:red; display: block; text-align:center;" >  &#x1F525; $SIGH BURN RATE &#x1F525; </span>
                            <!-- BURN RATE (Per Block) -->
                            <p v-if="displayInNumbers" style="margin-top: 14px !important;" >
                                <span  style="padding-left:10px; line-height: 14px;font-size: 13.5px; color:whitesmoke; display: flex;" > &#x1F525;  Per Block : &nbsp;
                                    <span style="padding-left:10px; line-height: 14px;font-size: 13.5px; color:red; font-weight:500; display: contents;" > {{ Number(sighInstrument.currentBurnSpeed).toFixed(4) }} SIGH  </span> <span style="line-height: 14px; font-size: 13.5px; color:aqua; display: contents;" > ( {{ Number(Number(sighInstrument.currentBurnSpeed).toFixed(4) * Number(sighInstrument.priceUSD).toFixed(4)).toFixed(4) }} USD )  </span>                         
                                </span>
                            </p>
                            <p v-if="!displayInNumbers" style="margin-top: 14px !important;" >
                                <span  style="padding-left:10px; line-height: 14px;font-size: 13.5px; color:whitesmoke; display: flex;" > &#x1F525; Per Block : &nbsp;
                                    <span style="padding-left:10px; line-height: 14px;font-size: 13.5px; color:red; font-weight:500; display: contents;" > {{ getBalanceString(Number(sighInstrument.currentBurnSpeed).toFixed(4)) }} SIGH  </span> <span style="line-height: 14px; font-size: 13.5px; color:aqua; display: contents;" > ( {{ getBalanceString(Number(Number(sighInstrument.currentBurnSpeed).toFixed(4) * Number(sighInstrument.priceUSD).toFixed(4)).toFixed(4)) }} USD )  </span>                         
                                </span>
                            </p>
                            <!-- BURN RATE (Per Day) -->
                            <p v-if="displayInNumbers" style="margin-top: 14px !important;" >
                                <span  style="padding-left:10px; line-height: 14px;font-size: 13.5px; color:whitesmoke; display: flex;" > &#x1F525; Per Day : &nbsp;
                                    <span style="padding-left:10px; line-height: 14px;font-size: 13.5px; color:red; font-weight:500; display: contents;" > {{ Number(Number(sighInstrument.currentBurnSpeed).toFixed(4) * 6500) }} SIGH  </span> <span style="line-height: 14px; font-size: 13.5px; color:aqua; display: contents;" > ( {{ Number(Number(sighInstrument.currentBurnSpeed).toFixed(4) * Number(sighInstrument.priceUSD).toFixed(4) * 6500 ).toFixed(4)  }} USD )  </span>                         
                                </span>
                            </p>
                            <p v-if="!displayInNumbers" style="margin-top: 14px !important;" >
                                <span  style="padding-left:10px; line-height: 14px;font-size: 13.5px; color:whitesmoke; display: flex;" > &#x1F525; Per Day : &nbsp;
                                    <span style="padding-left:10px; line-height: 14px;font-size: 13.5px; color:red; font-weight:500; display: contents;" >{{ getBalanceString(Number(Number(sighInstrument.currentBurnSpeed).toFixed(4) * 6500)) }} SIGH  </span> <span style="line-height: 14px; font-size: 13.5px; color:aqua; display: contents;" > ( {{ getBalanceString(Number(Number(sighInstrument.currentBurnSpeed).toFixed(4) * Number(sighInstrument.priceUSD).toFixed(4) * 6500 ).toFixed(4))  }} USD )  </span>                         
                                </span>
                            </p>
                            <!-- TVL Treasury -->
                            <p style="margin-top: 19px !important;" >
                                <span  style="padding-left:10px; line-height: 14px;font-size: 14px; color:yellow; display: block; text-align:center;" > &#127974; Treasury (TVL) : &nbsp;
                                    <span style="padding-left:10px; line-height: 14px;font-size: 14px; color:white; font-weight:500; display: contents;" > 0.00 USD</span> 
                                </span>
                            </p>
                            <!-- Treasury Performance -->
                            <p style="margin-top: 14px !important; margin-bottom: 4px !important;" >
                                <span  style="padding-left:10px; line-height: 14px;font-size: 14px; color:chartreuse; display: block; text-align:center;" > &#127974; Treasury Performance : &nbsp;
                                    <span style="padding-left:10px; line-height: 14px;font-size: 14px; color:white; font-weight:500; display: contents;" > 0.00 %</span> 
                                </span>
                            </p>
                    </div>
                </div>
                <!-- RIGHT BOX CONTAINING $SIGH AS VOLATILITY HEDGING -->
                <div style="width:50%; float:right;">
                    <!-- VOLATILITY HARVESTS : OVERVIEW -->
                    <div style="float:left; padding-top:10px; padding-bottom:10px; border-bottom: 3px solid white;">
                        <span style="font-weight:500; margin-top:4px; line-height: 24px;font-size: 21px; color:lightcyan; display: block; text-align:center;" >&#x1F69C; &#127906; &#x1F69C;<span style="font-weight:600; color:greenyellow; display: contents;font-size: 21px;" > VOLATILITY HARVESTS : </span> OVERVIEW &#x1F69C; &#127906; &#x1F69C;</span>
                        <p style="padding-top:10px;  margin-top: 4px !important;" >
                            <span  style="padding-left:10px; padding-right:10px; line-height: 19px;font-size: 14px; color:whitesmoke; display: flex;" > "Participants of the Lending Protocol receive $SIGH whenever the market moves <span style="color:red; display: contents;">against</span> their current position, as a  <span style="color:yellowgreen; display: contents;">percentage of the Volatility</span> experienced by the underlying instrument over the past 24 hrs! "
                            </span>
                        </p>
                        <p style="margin-top: 14px !important;" >
                            <span  style="padding-left:10px; line-height: 14px;font-size: 14px; color:bisque; display: block; text-align:center;" > Read more about VOLATILITY HARVESTS here - <span style="color:yellow">Article Coming Soon </span>
                            </span>
                        </p>
                    </div>
                    <!-- TOTAL VOLATILITY (24 Hr,Av.Per Block) -->
                    <div style="width:50%; float:left; border-right: 3px solid white; padding-bottom:10px;">
                        <span style="font-weight:400; margin-top:10px; line-height: 24px;font-size: 17px; color:red; display: block; text-align:center;" >  &#127906; TOTAL VOLATILITY &#127906; </span>
                        <span style="margin-top:3px; line-height: 9px; font-size: 11px; color:red; display: block; text-align:center;" > (24 Hrs, average Per Block) </span>                                                           
                        <span style="margin-top:10px; line-height: 14px; font-size: 11px; color:white; display: block; text-align:center;" > Market Sentiment : {{ Number(sighInstrument.cryptoMarketSentiment).toFixed(2)  }} % </span>                                                           
                        <!-- <span style="margin-top:10px; line-height: 14px; font-size: 12px; color:white; display: block; text-align:center;" > Inflation : {{ Number(Number(sighInstrument.currentInflation) * 100 ).toFixed(4)}} % per Day </span> -->
                            <!-- Total Volatility (Avg. per Block) : -->
                            <p v-if="displayInNumbers" style="margin-top: 14px !important;" >
                                <span  style="padding-left:11px; line-height: 14px; font-size: 13.5px; color:whitesmoke; display: flex;" > Total Volatility : &nbsp;
                                    <span style="line-height: 14px; font-size: 14px; color:aqua; display: contents;" > {{ Number(sighInstrument.totalLendingProtocolVolatilityPerBlockUSD).toFixed(2)  }} USD </span>  
                                </span>
                            </p>
                            <p v-if="!displayInNumbers" style="margin-top: 14px !important;" >
                                <span  style="padding-left:11px; line-height: 14px;font-size: 13.5px; color:whitesmoke; display: flex;" > Total Volatility : &nbsp;
                                    <span style="line-height: 14px; font-size: 14px; color:aqua; display: contents;" > {{ getBalanceString(Number(sighInstrument.totalLendingProtocolVolatilityPerBlockUSD))  }} USD </span>                         
                                </span>
                            </p>
                            <!-- Harvestable Volatility (Avg. per Block) : -->
                            <p v-if="displayInNumbers" style="margin-top: 14px !important;" >
                                <span  style="padding-left:11px; line-height: 14px;font-size: 13.5px; color:whitesmoke; display: flex;" > Total (<span style="color:chartreuse;">Bull</span> + <span style="color:red;">Bear</span>) Volatility : 
                                    <span style="line-height: 14px; font-size: 14px; color:aqua; display: contents;" > {{ Number(sighInstrument.totalLendingProtocolSentimentVolatilityPerBlockUSD).toFixed(4)  }} USD &nbsp; </span> <span style="color:yellow;"> ({{ Number(sighInstrument.totalLendingProtocolVolatilityPerBlockUSD) > 0 ? Number( 100* Number(sighInstrument.totalLendingProtocolSentimentVolatilityPerBlockUSD) / Number(sighInstrument.totalLendingProtocolVolatilityPerBlockUSD)).toFixed(2) : Number(sighInstrument.totalLendingProtocolSentimentVolatilityPerBlockUSD) }} %) </span>                         
                                </span>
                            </p>
                            <p v-if="!displayInNumbers" style="margin-top: 14px !important;" >
                                <span  style="padding-left:11px; line-height: 14px;font-size: 13.5px; color:whitesmoke; display: flex;" > Total ((<span style="color:chartreuse;">Bull</span> + <span style="color:red;">Bear</span>) Volatility :
                                    <span style="line-height: 14px; font-size: 14px; color:aqua; display: contents;" > {{ getBalanceString(Number(sighInstrument.totalLendingProtocolSentimentVolatilityPerBlockUSD))  }} USD &nbsp;</span> <span style="color:yellow;"> ({{ Number(sighInstrument.totalLendingProtocolVolatilityPerBlockUSD) > 0 ? Number( 100* Number(sighInstrument.totalLendingProtocolSentimentVolatilityPerBlockUSD) / Number(sighInstrument.totalLendingProtocolVolatilityPerBlockUSD)).toFixed(2) : Number(sighInstrument.totalLendingProtocolSentimentVolatilityPerBlockUSD) }} %) </span>                                                
                                </span>
                            </p>
                            <!-- Harvestable Volatility (Avg. per Block) : -->
                            <p v-if="displayInNumbers" style="margin-top: 14px !important;" >
                                <span  style="padding-left:11px; line-height: 14px;font-size: 13.5px; color:chartreuse; display: flex;" > Harvestable Volatility :  &nbsp;
                                    <span style="line-height: 14px; font-size: 14px; color:aqua; display: contents;" > {{ Number(sighInstrument.cryptoMarketSentimentFinalProtocolVolatilityPerBlockUSD).toFixed(4)  }} USD  &nbsp; </span> <span style="color:yellow;"> ({{ Number(sighInstrument.totalLendingProtocolVolatilityPerBlockUSD) > 0 ? Number( 100* Number(sighInstrument.cryptoMarketSentimentFinalProtocolVolatilityPerBlockUSD) / Number(sighInstrument.totalLendingProtocolVolatilityPerBlockUSD)).toFixed(2) : Number(sighInstrument.cryptoMarketSentimentFinalProtocolVolatilityPerBlockUSD) }} %) </span>                                                 
                                </span>
                            </p>
                            <p v-if="!displayInNumbers" style="margin-top: 14px !important;" >
                                <span  style="padding-left:11px; line-height: 14px;font-size: 13.5px; color:chartreuse; display: flex;" > Harvestable Volatility : &nbsp;
                                    <span style="line-height: 14px; font-size: 14px; color:aqua; display: contents;" > {{ getBalanceString(Number(sighInstrument.cryptoMarketSentimentFinalProtocolVolatilityPerBlockUSD))  }} USD  &nbsp; </span> <span style="color:yellow;"> ({{ Number(sighInstrument.totalLendingProtocolVolatilityPerBlockUSD) > 0 ? Number( 100* Number(sighInstrument.cryptoMarketSentimentFinalProtocolVolatilityPerBlockUSD) / Number(sighInstrument.totalLendingProtocolVolatilityPerBlockUSD)).toFixed(2) : Number(sighInstrument.cryptoMarketSentimentFinalProtocolVolatilityPerBlockUSD) }} %) </span>                                                
                                </span>
                            </p>

                    </div>
                    <!-- $SIGH FARMED -->
                    <div style="width:50%; float:right; padding-bottom:10px;">
                        <span style="font-weight:400; margin-top:10px; line-height: 24px;font-size: 17px; color:chartreuse; display: block; text-align:center;" >  &#127806; &#127806;$SIGH FARMS &#127806; &#127806; </span>
                        <span style="margin-top:3px; line-height: 9px; font-size: 11px; color:chartreuse; display: block; text-align:center;" > (Average Per Block) </span>                                                           

                        <!-- <span style="margin-top:10px; line-height: 14px; font-size: 12px; color:white; display: block; text-align:center;" > Inflation : {{ Number(Number(sighInstrument.currentInflation) * 100 ).toFixed(4)}} % per Day </span> -->
                            <!-- last 24 hrs -->
                            <p v-if="displayInNumbers" style="margin-top: 14px !important;" >
                                <span  style="padding-left:5px; line-height: 14px; font-size: 13.5px; color:whitesmoke; display: flex; padding-left:5px;"> &#x1F69C; Max Harvest Size : &nbsp;
                                    <span style="line-height: 14px; font-size: 14px; color:aqua; display: contents;" > <span style="color:yellow;">  &#127806; {{Number(sighInstrument.maxSighVolatilityHarvestSpeed).toFixed(2)}} SIGH &#127806; </span> ({{ Number(Number(sighInstrument.maxSighVolatilityHarvestSpeed) * Number(sighInstrument.priceUSD)).toFixed(2) }} USD) </span>                         
                                </span>
                            </p>
                            <p v-if="!displayInNumbers" style="margin-top: 14px !important;" >
                                <span  style="padding-left:5px; line-height: 14px;font-size: 13.5px; color:whitesmoke; display: flex; padding-left:5px;"> &#x1F69C; Max Harvest Size : &nbsp;
                                    <span style="line-height: 14px; font-size: 14px; color:aqua; display: contents;" >  <span style="color:yellow;"> &#127806; {{Number(sighInstrument.maxSighVolatilityHarvestSpeed).toFixed(2)}} SIGH &#127806; </span> ({{ getBalanceString(Number(Number(sighInstrument.maxSighVolatilityHarvestSpeed)* Number(sighInstrument.priceUSD) ).toFixed(2))  }} USD) </span>                         
                                </span>
                            </p>
                            <!-- Per Block -->
                            <p v-if="displayInNumbers" style="margin-top: 14px !important;" >
                                <span  style="padding-left:2px; line-height: 14px;font-size: 14px; color:whitesmoke; display: flex; padding-left:5px;">  &#x1F69C; Actual Harvests :
                                    <span style="line-height: 14px; font-size: 14px; color:aqua; display: contents;" > <span style="color:yellow;"> &#127806; {{Number(sighInstrument.currentSighVolatilityHarvestSpeed).toFixed(2)}} SIGH &#127806; </span> &nbsp; ({{ Number(Number(sighInstrument.currentSighVolatilityHarvestSpeed).toFixed(4) * Number(sighInstrument.priceUSD).toFixed(4)).toFixed(2) }}USD) </span>                         
                                </span>
                            </p>
                            <p v-if="!displayInNumbers" style="margin-top: 14px !important;" >
                                <span  style="padding-left:2px; line-height: 14px;font-size: 13.5px; color:whitesmoke; display: flex; padding-left:5px;">  &#x1F69C; Actual Harvests :
                                    <span style="line-height: 14px; font-size: 13.5px;; color:aqua; display: contents;" ><span style="color:yellow;"> &#127806; {{Number(sighInstrument.currentSighVolatilityHarvestSpeed).toFixed(2)}} SIGH &#127806; </span> &nbsp; ({{ getBalanceString(Number(Number(sighInstrument.currentSighVolatilityHarvestSpeed).toFixed(4) * Number(sighInstrument.priceUSD).toFixed(4)).toFixed(2)) }} USD) </span>                         
                                </span>
                            </p>
                            <p style="margin-top: 14px !important;" >
                                <span  style="padding-left:2px; line-height: 14px;font-size: 12.5px; color:chartreuse; display: flex; padding-left:5px;" > --- Suppliers Harvests :
                                    <span style="line-height: 14px; font-size: 12.5px;; color:aqua; display: contents;"> <span style="color:yellow; font-size:12.5px;"> &#127806; {{Number(sighInstrument.bearCurrentTotalSighHarvestSpeed).toFixed(2)}} SIGH &#127806; </span> &nbsp; ({{ Number( Number(sighInstrument.bearCurrentTotalSighHarvestSpeed).toFixed(4) * Number(sighInstrument.priceUSD).toFixed(4) ).toFixed(2) }} USD) </span>                         
                                </span>
                            </p>
                            <p style="margin-top: 14px !important;" >
                                <span  style="padding-left:2px; line-height: 14px;font-size: 12.5px; color:chartreuse; display: flex; padding-left:5px;" > --- Borrower Harvests :
                                    <span style="line-height: 14px; font-size: 12.5px;; color:aqua; display: contents;" > <span style="color:yellow; font-size:12.5px;"> &#127806; {{Number(sighInstrument.bullCurrentTotalSighHarvestSpeed).toFixed(2)}} SIGH &#127806; </span> &nbsp; ({{ Number( Number(sighInstrument.bullCurrentTotalSighHarvestSpeed).toFixed(4) * Number(sighInstrument.priceUSD).toFixed(4) ).toFixed(2) }} USD) </span>                         
                                </span>
                            </p>


                    </div>

                    <!-- <br> 
                    <span style=" padding-top:20px; line-height: 24px;font-size: 12px; color:red; display: contents;" >  &#x1F69C; Maximum $SIGH Volatility Harvest Rate (per Block) &#x1F69C; : </span> <span style="line-height: 24px;font-size: 12px; color:yellow; display: contents;" >  {{ Number(sighInstrument.maxSighVolatilityHarvestSpeed).toFixed(2) }} $SIGH &#127806; </span> <span style="line-height: 24px;font-size: 12px; color:white; display: contents;" > : {{ Number(Number(sighInstrument.maxSighVolatilityHarvestSpeed).toFixed(4) * Number(sighInstrument.priceUSD).toFixed(4)).toFixed(4) }} USD  </span>  
                    isUpperCheckForVolatilitySet : {{ sighInstrument.isUpperCheckForVolatilitySet }}
                    <br> 
                    <span style=" padding-top:20px; line-height: 24px;font-size: 12px; color:red; display: contents;" >  &#x1F69C; Current $SIGH Volatility Harvest Rate (per Block) &#x1F69C; : </span> <span style="line-height: 24px;font-size: 12px; color:yellow; display: contents;" >  {{ Number(sighInstrument.currentSighVolatilityHarvestSpeed).toFixed(2) }} $SIGH &#127806; </span> <span style="line-height: 24px;font-size: 12px; color:white; display: contents;" > : {{ Number(Number(sighInstrument.currentSighVolatilityHarvestSpeed).toFixed(4) * Number(sighInstrument.priceUSD).toFixed(4)).toFixed(4) }} USD  </span>  
                    <br> 
                    <br>                 
                    totalLendingProtocolVolatilityPerBlockETH : {{ Number(sighInstrument.totalLendingProtocolVolatilityPerBlockETH).toFixed(2) }}
                    <br> 
                    totalLendingProtocolVolatilityPerBlockUSD : {{ Number(sighInstrument.totalLendingProtocolVolatilityPerBlockUSD).toFixed(2) }}
                    <br>                 
                    maxHarvestableProtocolVolatilityPerBlockETH : {{ Number(sighInstrument.maxHarvestableProtocolVolatilityPerBlockETH).toFixed(2) }}
                    <br> 
                    maxHarvestableProtocolVolatilityPerBlockUSD : {{ Number(sighInstrument.maxHarvestableProtocolVolatilityPerBlockUSD).toFixed(2) }}
                    <br>                 
                    percentBasedHarvestableProtocolVolatilityPerBlockETH : {{ Number(sighInstrument.percentBasedHarvestableProtocolVolatilityPerBlockETH).toFixed(2) }}
                    <br> 
                    percentBasedHarvestableProtocolVolatilityPerBlockUSD : {{ Number(sighInstrument.percentBasedHarvestableProtocolVolatilityPerBlockUSD).toFixed(2) }} -->
                </div> 
            </div> 
        </div>
    </div>
        

     <SupportedMarkets_UtilityPanel /> 
    <!-- <Protocol_Infographics />  -->

    <div style = "padding-top: 24px; padding-bottom: 24px; background-color: black; color: white; text-align: center; font-size: 24px; border: 3px solid blue;">
        "Reach out to our Team at contact@sigh.finance if you are in interested in what we are building!" &#128104;&#8205;&#127806;
    </div>


    <!-- <faqs />  -->

        <footer class="footer-classic-dark bg-black ">
            <div class="bg-black padding-50px-tb sm-padding-30px-tb">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- start slogan -->
                        <div class="col-lg-4 col-md-5 text-center alt-font sm-margin-15px-bottom" style="color:aliceblue">
                            Sigh Finance © 2020. All rights reserved.
                        </div>
                        <!-- end slogan -->
                        <!-- start logo -->
                        <div class="col-lg-4 col-md-2 text-center sm-margin-10px-bottom">
                            <a href="http://sigh.finance"><img class="footer-logo" style="opacity: 0.5;" src="@/assets/SIGH_LOGO.png" data-rjs="img/SIGH_LOGO.png" alt="sigh.finance"></a>
                        </div>
                        <!-- end logo -->
   
                    </div>
                </div>
            </div>
        </footer>



</div>