<div class="orderbook noHorizontal" :style="{ height: orderHeight }" style="padding: 0 0 15px">
<!-- Heaader -->

<div class="uk-panel">
  <!-- Live trades heading -->
    <h3 class="uk-panel-title uk-text-center" style="font-size:14px !important;">Active Orders</h3>
<!-- <span class="count title"> -->
  <!-- Displays Precision -->
      <!-- <div class="uk-display-inline-block uk-text-middle fs11 uk-text-right" :style="$store.getters.themeMode === 'tournament' ? {color: '#fff'} : {color: '#ffffff'}">
        <template v-if='precisionNumber===0'>          Precision: P0        </template>
        <template v-if='precisionNumber===1'>          Precision: P1         </template>
        <template v-if='precisionNumber===2'>          Precision: P2        </template>
        <template v-if='precisionNumber===3'>          Precision: P3        </template>
      </div> -->
  <!-- Displays Precision Plus / Minus buttons-->
      <!-- <div class="uk-display-inline-block uk-text-middle ml5">
        <button class="ob-count-btn sub" @click="precision('minus')" :disabled="precisionNumber === 0">
          <i class="icons8-subtract"></i>
        </button>
        <button class="ob-count-btn" @click="precision('plus')" :disabled="precisionNumber === 3">
          <i class="icons8-plus-math"></i>
        </button>
      </div> -->
      <!-- </span> -->
    </div>

    <!-- ORDER BOOK -->
    <template v-if="!showLoader">
      <div class="noShow noHorizontal"> 

    <div id="ob-hello1" class="uk-visible@m" :style="{ 'max-height': tableHeight }" >
      <!-- Bid - Order book Table -->
          <table>
              <thead class="uk-hidden">
                <tr>
                  <!-- <th>&nbsp;</th>
                  <th>&nbsp;</th> -->
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <!-- Bids and assoociated green volume bars -->
                <td class="uk-text-left" :style="{position: 'relative', color: '#ffffff'}"> Entry Price (Buy) </td>
                <td class="uk-text-center" :style="{position: 'relative', color: '#ffffff'}">Volume </td> 
                <td class="cumulativeSumField" :style="{position: 'relative', color: '#ffffff'}"> Profit (%) </td>
                <td class="cumulativeSumField" :style="{position: 'relative', color: '#ffffff'}"> Created At </td>  
                <tr v-for="(bid,index) of bids" v-if="Number((bid.volume)) != 0">
                  <td class="c-cyan" style="position: relative;"> {{bid.value}}  <!-- Bid Value (under the green bar)-->
                    <div :style="{
                          background: 'green',
                          position: 'absolute',
                          border: '2px solid #39e600',
                          top: 0,
                          bottom: 0,
                          left: 0,
                          right: 0,
                          overflow: 'visible',
                          width: (( ((Number(bid.volume)/17)/30)*308)) + '%',
                          opacity: .25
                        }"></div>
                  </td>
                  <td class="uk-text-center">{{Number((bid.volume).toFixed(5))}}</td> <!-- Bid Volume (center of table)-->
                  <td class="cumulativeSumField c-green">{{ (Number(bid.volume)/17).toFixed(2)}}% </td> <!--Bid Total Volume-->
                  <td class="cumulativeSumField">{{ bid.createdAt.split('T')[1].split(':')[0]}}:{{bid.createdAt.split('T')[1].split(':')[1]}}:{{bid.createdAt.split('T')[1].split(':')[2].split('.')[0]}}   </td> <!--Bid Total Volume-->
                </tr>
              </tbody>
            </table>
    </div>
     <!-- Same as above but for mobile-->
    <div id="ob-hello1" class="uk-hidden@m" data-simplebar data-simplebar-auto-hide="false" :style="{ 'max-height': tableHeight }">
        <table>
          <thead class="uk-hidden">
            <tr>
              <!-- <th>&nbsp;</th>
              <th>&nbsp;</th> -->
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <td class="uk-text-left" :style="{position: 'relative', color: '#ffffff'}"> Entry Price (Buy) </td>
            <td class="uk-text-center" :style="{position: 'relative', color: '#ffffff'}">Volume </td> 
            <td class="cumulativeSumField" :style="{position: 'relative', color: '#ffffff'}"> Profit (%) </td>
            <td class="cumulativeSumField" :style="{position: 'relative', color: '#ffffff'}"> Created At </td>  
        <tr v-for="(bid,index) of bids" v-if="Number((bid.volume)) != 0">
              <td class="c-cyan" style="position: relative;">{{bid.value}}
                <div :style="{
                      background: 'green',
                      position: 'absolute',
                      border: '2px solid #39e600',
                      top: 0,
                      bottom: 0,
                      left: 0,
                      right: 0,
                      overflow: 'visible',
                      width: (( ((Number(bid.volume)/17)/30)*308)) + '%',
                      opacity: .25
                    }"></div>
              </td>
              <td class="uk-text-center">{{Number((bid.volume).toFixed(5))}}</td>
              <td class="cumulativeSumField c-green">{{ (Number(bid.volume)/17).toFixed(2)}}%</td>
              <td class="cumulativeSumField">{{ bid.createdAt.split('T')[1].split(':')[0]}}:{{bid.createdAt.split('T')[1].split(':')[1]}}:{{bid.createdAt.split('T')[1].split(':')[2].split('.')[0]}}   </td> <!--Bid Total Volume-->
            </tr>
          </tbody>
        </table>
    </div>
    <!--Content between bid and ask order books ($store.state.buyPrice, $store.state.buyPrice, {{price}}) -->
    <div>
          <div v-show="$store.state.liveTradePrice !== 0" v-bind:class="{'ob-center-text-red': $store.state.liveTradePrice < sellPrice, 'ob-center-text-green': $store.state.liveTradePrice > buyPrice }" class="ob-center-text">
            <span class="ob-center-text-green" style="font-size: 12px;  font-weight: 100;">{{buyPrice}}</span>
            <!-- <span class="ob-center-text-green" style="font-size: 12px;  font-weight: 100;">{{$store.state.buyPrice}}</span> -->
              <br>
              <span  style="font-size: 14px;  font-weight: 800;">{{Math.abs($store.state.liveTradePrice)}} {{$store.state.selectedVegaMarketquoteName}}</span>
              <!-- <span  style="font-size: 14px;  font-weight: 800;">{{Math.abs($store.state.liveTradePrice)}} {{ $store.state.selectedPair.split('/')[1] }}</span> -->
              <br>
              <span class="ob-center-text-red" style="font-size: 12px;  font-weight: 100;">{{sellPrice}}</span>
              <!-- <span class="ob-center-text-red" style="font-size: 12px;  font-weight: 100;">{{$store.state.sellPrice}}</span> -->
            </div>
      </div>
    <br><br>
<!-- Ask - Order book Table -->
    <div id="ob-hello2" data-simplebar data-simplebar-auto-hide="false" :style="{ 'max-height': tableHeight }">
          <table style="">
              <thead class="uk-hidden">
                <tr>
                  <th>&nbsp;</th>
                  <th>&nbsp;</th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
          <!-- Asks and assoociated red volume bars -->          
              <tbody>
                <td class="uk-text-left" :style="{position: 'relative', color: '#ffffff'}"> Entry Price (Sell) </td>
                <td class="uk-text-center" :style="{position: 'relative', color: '#ffffff'}">Volume </td> 
                <td class="cumulativeSumField" :style="{position: 'relative', color: '#ffffff'}"> Profit (%) </td>
                <td class="cumulativeSumField" :style="{position: 'relative', color: '#ffffff'}"> Created At </td>  
                <tr v-for="(ask,index) of asks" v-if="Number((ask.volume)) != 0">
                  <td class="c-cyan" style="position: relative;">{{ask.value}}
                    <div :style="{
                                background: 'green',
                                position: 'absolute',
                                border: '2px solid #39e600',
                                top: 0,
                                bottom: 0,
                                left: 0,
                                right: 0,
                                overflow: 'visible',
                                opacity: .25,
                                width: (( ((Number(ask.volume)/17)/30)*308)) + '%',
                                }"></div>
                  </td>
                  <td class="uk-text-center">{{Number((ask.volume).toFixed(5))}}</td>
                  <td class="cumulativeSumField c-green">{{ (Number(ask.volume)/17).toFixed(2)}}%</td>
                  <td class="cumulativeSumField">{{ ask.createdAt.split('T')[1].split(':')[0]}}:{{ask.createdAt.split('T')[1].split(':')[1]}}:{{ask.createdAt.split('T')[1].split(':')[2].split('.')[0]}}   </td> <!--Bid Total Volume-->
                  <!-- <td class="cumulativeSumField">{{ ask.createdAt}}</td> Bid Total Volume -->
                </tr>
              </tbody>
            </table>
    </div>
  </div>
  </template>
  
    <template v-else>
    <spinner mTop="calc(100% - 30px)" />
  </template>
</div>