<!-- The options under supply borrow begin here -->
<div id="landing-trade-tab" style="padding-left: 30%;"> 
    <div class="buy-sell-tab-dropdown uk-position-top-right">
        <!-- Pair change (Dropdown), the new selected pair gets stored directly in store.state.seletedPair, and an event is emitted in Vue.JS -->
        <div class="form-elm select" style="width: 251px;">
            <span style='color:cyan'>  Select Market  </span>
            <select class="form-ctrl select2-single" @change=marketChange v-model=selectedMarket>
                <!-- Options dropdown loaded with available pairs from DropDown -->
                <option v-for="val in $store.getters.LiveMarkets" :key=val.id :value=val>
                    {{ val.symbol }}
                </option>
            </select>
        </div>
    </div>
    <!-- Tabbing between Market/Limit -->
    <div class="cs-tab-1 uk-position-relative ">
        <tab-bar :mobileDropdown=false marketDropdown="false" :tabs=tabs @tab-change="activeTabChange" />
        <br>
        <br>
        <br>
        <br>
        <br>

        <keep-alive>
        <supply-order v-if="activeTab === 'Supply '" />
        <borrow-order v-else-if="activeTab === 'Borrow '" style="padding-right: 42px; padding-left: 42px;" />
        <redeem-order v-else-if="activeTab === 'Redeem'" />
        <!-- <stop-market-order v-else-if="activeTab === 'Stop Market'" /> -->
    </keep-alive>
    </div>
</div>