@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');

.bg-extra-dark-gray {background-color:#040404;}

body { background: navy !important; } 

img {
    vertical-align: middle;
    border-style: none;
}
img {
    max-width: 100%;
    height: auto;
    // box-sizing: border-box;
}
.container{ 
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
}

.connect-wallet-msg{
    background-color:lightcoral;

    h3{
        color: white;
        text-align: center;
    }
}

@media (min-width:576px){
    .container{max-width:540px}
}

@media (min-width:768px){
    .container{max-width:720px}
}

@media (min-width:992px){
    .container{max-width:960px}
}

@media (min-width:1200px){
    .container{max-width:1140px}
}

.container-fluid{
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
 }

@media (min-width: 1024px) and (max-width:1400px) {
    
    body.wrap-nav-sidebar .wrapper .container{width: 100%;padding-left: 30px;}
}


.bg-black {
    background-color: #000000 !important;
}

.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

@media (max-width: 1199px) {
.section {
    padding: 90px 0;
}
}

section {
    padding: 42px 0;
    overflow: hidden;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

audio, canvas, img, video {
    max-width: 100%;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.font-weight-400 {
    font-weight: 400;
}

.text-white-2, .btn.text-white-2 {
    color: #FFF;
}

.alt-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.d-block {
    display: block!important;
}

.lead {
    font-size: 1.42rem;
    font-weight: 400;
}

.font-weight-400 {
    font-weight: 400;
}

.text-white {
    color: white;
}

.text-center{text-align:center!important}

@media (min-width: 768px) {
.text-md-left {
    text-align: left!important;
}
}

@media (min-width: 768px) {
.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}}

@media (min-width: 992px) {
.col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
} }

.mb-0, .my-0 {
    margin-bottom: 0!important;
}

p {
    margin: 0 0 25px;
}

@media (min-width: 768px) {
.text-md-left {
    text-align: left!important;
} 
}

.bg-extra-dark-gray {
    background-color: #040404;
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}

.text-lg-left {
    text-align: left!important;
}

.col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.sm-margin-30px-bottom {margin-bottom:30px !important;}
.sm-margin-35px-bottom {margin-bottom:35px !important;}
.sm-margin-40px-bottom {margin-bottom:40px !important;}

.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

body {
    font-family: 'Roboto', sans-serif;
    /* -webkit-font-smoothing: antialiased; */
    font-smoothing: antialiased;
    font-size: 14px;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 24px;
}

.col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.margin-five-bottom {
    margin-bottom: 5%;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}


.text-middle-line {
    position: relative;
    white-space: nowrap;
}

.font-weight-600 {
    font-weight: 600;
}

.letter-spacing-minus-3 {
    letter-spacing: -3px;
}

.text-light-gray, .btn.text-light-gray {
    color: #d6d5d5;
}


.w-50 {
    width: 50%!important;
}

@media (max-width: 1199px) {
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 22px;
    padding: 0;
    letter-spacing: 0;
    font-weight: 400;
}
h5 {
    font-size: 27px;
    line-height: 32px;
}
}

h5, .uk-h5 {
    padding-top: 10px;
    font-size: 24px;
    line-height: 1.4;
}

.text-extra-light-gray, .btn.text-extra-light-gray {color:#b7b7b7}
.text-light-gray, .btn.text-light-gray {color:#d6d5d5}
.text-very-light-gray, .btn.text-very-light-gray {color:#ededed}

.text-gradient, .btn.text-gradient {background: linear-gradient(90deg, #f2785b 0%, #e1286f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .text-gradient-2, .btn.text-gradient-2 {
    background: -webkit-linear-gradient(to left,  #dff70f 0%, #d48b47 100%);      
    background: linear-gradient(to left, #dff70f 0%, #d48b47 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .terminal-gradient-3 {
    background: white; 
    background: -webkit-linear-gradient(to left, #f2785b 0%, #12d191 100%);
    background: linear-gradient(to left,  #f2785b 0%, #12d191 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .terminal-gradient-3:hover {
    background: white; 
    background: -webkit-linear-gradient(to right,  #1e51df 100%, #f2785b 100%);
    background: linear-gradient(to right, #1e51df 100%, #f2785b 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.bg-dark-footer{background-color:#141414;}
.footer-logo {max-height: 28px;}
// @import 'css/bootstrap.min.css'; 
.sm-margin-5px-bottom {margin-bottom:5px !important;}
.sm-margin-10px-bottom {margin-bottom:10px !important;}
.sm-margin-15px-bottom {margin-bottom:15px !important;}
.sm-margin-20px-bottom {margin-bottom:20px !important;}
.sm-margin-25px-bottom {margin-bottom:25px !important;}
.sm-margin-30px-bottom {margin-bottom:30px !important;}
.sm-margin-35px-bottom {margin-bottom:35px !important;}

.md-margin-20px-bottom {margin-bottom:20px !important;}
.md-margin-25px-bottom {margin-bottom:25px !important;}
.md-margin-30px-bottom {margin-bottom:30px !important;}
.md-margin-35px-bottom {margin-bottom:35px !important;}
.md-margin-40px-bottom {margin-bottom:40px !important;}
.md-margin-45px-bottom {margin-bottom:45px !important;}
.md-margin-50px-bottom {margin-bottom:50px !important;}
.md-margin-55px-bottom {margin-bottom:55px !important;}
.md-margin-60px-bottom {margin-bottom:60px !important;}


.sm-padding-10px-tb {padding-top:10px !important; padding-bottom:10px !important;}
.sm-padding-15px-tb {padding-top:15px !important; padding-bottom:15px !important;}
.sm-padding-20px-tb {padding-top:20px !important; padding-bottom:20px !important;}
.sm-padding-25px-tb {padding-top:25px !important; padding-bottom:25px !important;}
.sm-padding-30px-tb {padding-top:30px !important; padding-bottom:30px !important;}
.sm-padding-35px-tb {padding-top:35px !important; padding-bottom:35px !important;}
.sm-padding-40px-tb {padding-top:40px !important; padding-bottom:40px !important;}
.sm-padding-45px-tb {padding-top:45px !important; padding-bottom:45px !important;}
.sm-padding-50px-tb {padding-top:50px !important; padding-bottom:50px !important;}


.padding-10px-tb {padding-top:10px; padding-bottom:10px;}
.padding-15px-tb {padding-top:15px; padding-bottom:15px;}
.padding-20px-tb {padding-top:20px; padding-bottom:20px;}
.padding-25px-tb {padding-top:25px; padding-bottom:25px;}
.padding-30px-tb {padding-top:30px; padding-bottom:30px;}
.padding-35px-tb {padding-top:35px; padding-bottom:35px;}
.padding-40px-tb {padding-top:40px; padding-bottom:40px;}
.padding-45px-tb {padding-top:45px; padding-bottom:45px;}
.padding-50px-tb {padding-top:50px; padding-bottom:50px;}
.padding-55px-tb {padding-top:55px; padding-bottom:55px;}
.padding-60px-tb {padding-top:60px; padding-bottom:60px;}
.padding-65px-tb {padding-top:65px; padding-bottom:65px;}
.padding-70px-tb {padding-top:70px; padding-bottom:70px;}

.lg-width-80 {width:80% !important;}
.lg-width-85 {width:85% !important;}
.lg-width-90 {width:90% !important;}
.lg-width-95 {width:95% !important;}
.lg-width-100 {width:100% !important;}
.lg-width-auto {width: auto !important}
.width-80 {
    width: 80%;
}
.ml-auto, .mx-auto {
    margin-left: auto!important;
}
.mx-auto {
    margin-right: auto !important;
}
.mb-auto .my-auto {
    margin-bottom: auto !important;
}
.ml-auto .mx-auto {
    margin-left: auto !important;
}

.btn {display:inline-block; border:2px solid transparent; color: inherit; letter-spacing: .5px; line-height: inherit; border-radius: 0; text-transform: uppercase; width: auto; font-family: 'Montserrat', sans-serif; font-weight: 600; transition-duration: 0.3s; transition-timing-function: ease-in-out; white-space: nowrap;}
.btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger { color: #fff; }

/* button size */
.btn.btn-very-small {font-size:9px; padding: 1px 17px; line-height: 22px;}
.btn.btn-small {font-size:11px; padding: 4px 24px;}
.btn.btn-medium {font-size:12px; padding: 6px 25px 5px;}
.btn.btn-large {font-size:13px; padding: 9px 34px; line-height: 25px}
.btn.btn-extra-large {font-size:15px; padding: 12px 40px 13px;  line-height: 25px}
.btn-dual .btn {margin: 0 10px; }
.btn i {margin-left: 6px; vertical-align: middle; position: relative; top:-1px}

/* button background */
.btn.btn-white {background:#ffffff; border-color: #ffffff; color: #232323}
.btn.btn-white:hover, .btn.btn-white:focus {background: transparent; color: #fff}
.btn.btn-black {background:#000000; border-color: #000000; color: #fff}
.btn.btn-black:hover, .btn.btn-black:focus {background: transparent; color: #000}
.btn.btn-black-alt {background:#000000; border-color: #000000; color: #fff}
.btn.btn-black-alt:hover, .btn.btn-black:focus {background: transparent; color: #fff}
.btn.btn-dark-gray {background: #232323; border-color: #232323; color: #fff}
.btn.btn-dark-gray:hover, .btn.btn-dark-gray:focus {background: transparent; color: #232323}
.btn.btn-light-gray {background: #dbdbdb; border-color: #dbdbdb; color: #232323}
.btn.btn-light-gray:hover, .btn.btn-light-gray:focus {background: transparent; border-color: #dbdbdb; color: #dbdbdb}
.btn.btn-deep-pink {background: #ff214f; border-color: #ff214f; color: #ffffff}
.btn.btn-deep-pink:hover, .btn.btn-deep-pink:focus {background: transparent; border-color: #ff214f; color: #ff214f}
.btn-warning, .btn-warning:hover { color: #fff; }
/* button transparent */
.btn.btn-transparent-white {background: transparent; border-color: #ffffff; color: #ffffff}
.btn.btn-transparent-white:hover, .btn.btn-transparent-white:focus {background: #ffffff; border-color: #ffffff; color: #232323}
.btn.btn-transparent-black {background: transparent; border-color: #000000; color: #000000}
.btn.btn-transparent-black:hover, .btn.btn-transparent-black:focus {background: #000000; border-color: #000000; color: #ffffff}
.btn.btn-transparent-dark-gray {background: transparent; border-color: #232323; color: #232323}
.btn.btn-transparent-dark-gray:hover, .btn.btn-transparent-dark-gray:focus {background: #232323; border-color: #232323; color: #ffffff}
.btn.btn-transparent-light-gray {background: transparent; border-color: #dbdbdb; color: #dbdbdb}
.btn.btn-transparent-light-gray:hover, .btn.btn-transparent-light-gray:focus {background: #dbdbdb; border-color: #dbdbdb; color: #232323}
.btn.btn-transparent-deep-pink {background: transparent; border-color: #ff214f; color: #ff214f}
.btn.btn-transparent-deep-pink:hover, .btn.btn-transparent-deep-pink:focus {background: #ff214f; border-color: #ff214f; color: #fff}

/* button rounded */
.btn.btn-rounded {border-radius: 50px}
.btn.btn-rounded.btn-very-small {padding: 2px 23px 1px;}
.btn.btn-rounded.btn-small {padding: 5px 29px;}
.btn.btn-rounded.btn-medium {padding: 6px 32px;}
.btn.btn-rounded.btn-large {padding: 9px 38px;}
.btn.btn-rounded.btn-extra-large {padding: 12px 45px 13px;}

/* image button */
.image-button {width: 100%; background: rgba(0,0,0,0.80); padding: 26px; font-family: "Roboto", sans-serif; font-size: 16px;}
.image-button:hover {background: rgba(0,0,0,0.5);}

.tag-cloud a {font-size: 10px; padding: 3px 8px; border: 1px solid #d9d9d9; margin: 0 8px 8px 0; display: inline-block; text-transform: uppercase; color: #232323; line-height: 18px;}
.tag-cloud a:hover{ background: #232323; color: #fff !important; border: 1px solid #232323;}

/* dropdown style 1 */
.dropdown-style-1 .btn {color: #fff; font-size: 11px; line-height: normal; padding: 0; margin: 0; background: transparent; border: none; font-weight:normal}
.dropdown-style-1 .btn.dropdown-toggle::after { vertical-align: middle; border-top: .4em solid; border-right: .4em solid transparent; border-bottom: 0; border-left: .4em solid transparent; margin-left: 0; }
.dropdown-style-1 .btn:hover, .custom-dropdown btn:focus {color: #ff214f;}
.dropdown-style-1 .dropdown-menu {margin-top: 2px; min-width: 130px; border-radius:0; border: none; z-index: 444; right: 0; left:auto !important; padding: 5px 0;}
.dropdown-style-1 .dropdown-menu > li > a {padding: 6px 15px; font-size: 12px; display: block; line-height: normal;}
.dropdown-style-1 .dropdown-menu > li > a:hover,.dropdown-style-1 .dropdown-menu > li > a:focus {background: #ededed}

.styling {
    width: 100%; 
    float: left;
}

@media (max-width: 767px) {
.sm-width-100 {
    width: 100% !important;
}
.col-lg-4 {
    -ms-flex: 0 0 100.333333%;
    -webkit-box-flex: 0; 
    flex: 0 0 100.777777%; 
    // max-width: 100%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 69%;
    height: auto;
}
.section {
    padding: 24px 0; 
    overflow: hidden;
}
img {
    max-width: 142%;
}
.btn.btn-medium{
    font-size: 19px;
    padding: 24px 5px 0px;
}

}


@import 'css/responsive.css';
