        <!-- Google Tag Manager (noscript) -->
        <!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PJ9P5PX"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> change GTM-PJ9P5PX to your -->
        <!-- End Google Tag Manager (noscript) -->

        <!-- start header -->
<div class="mainPage">        
        <!-- SHAPING THE IMPACT OF EMERGING TECH PANEL -->

        <section class="wow fadeIn bg-black">
            <div class="container" d >
                <div class="row align-items-center"  >
                    <div class="col-12 col-lg-7 md-margin-50px-bottom">
                        <!-- <h1>
                            <img class="img-responsive" style="width: 100%;" src="@/assets/SIGH_FINANCE.png" alt="Making Inter-Galactic ">
                        </h1> -->

                        <h6 class="alt-font text-white font-weight-300" style="font-size: 20px;"> Introducing 1st of its kind Money Market protocol with an integrated Liquidity Mining Pipeline regulated by A.I models, financially engineered to minimize your losses.</h6>
                        <br>
                        <h6 class="alt-font text-white font-weight-300" style="font-size: 18px;"> Our Liquidity pipeline distributes <span class=" alt-font text-gradient-2 font-weight-700" style="font-size: 1.42rem;"> 'SIGH Token' </span> to LPs and borrowers to minimize losses (if any) due to inherent volatility of the underlying crypto-assets on a daily basis.</h6>
                        <br>
                        <router-link to="/Trade" class="btn btn-black-alt btn-medium text-extra-small border-radius-4 margin-20px-top"><i class="fas fa-play-circle icon-very-small margin-5px-right no-margin-left" aria-hidden="true"></i> 
                            <span class="terminal-gradient-3" style="font-size: 18px;"> Read Whitepaper</span>
                        </router-link>
                    </div>
                    <div class="col-12 col-lg-5 text-center">
                        <img class="img-responsive" style="width: 111%;" src="@/assets/SIGH_FINANCE.png">
                        <span class="alt-font text-white font-weight-300" style="font-size: 12px;">
                        </span>
                    </div>
                </div>
            </div>
        </section>
        <!-- SHAPING THE IMPACT OF EMERGING TECH PANEL -->

        <!-- <about /> -->
        
        <!-- <div class="connect-wallet-msg" > 
          <br>
          <h3> > Connect your Ethereum wallet to interact with our Beta LiquiTrade Version  </h3>
          <br>
        </div> -->

        <!-- WE ARE A VENTURE STUDIO SECTION -->
        <section class="wow fadeIn bg-extra-dark-gray" style="visibility: visible; animation-name: fadeIn;  ">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-12 col-lg-4 text-center text-lg-left md-margin-40px-bottom sm-margin-30px-bottom wow fadeIn" style="visibility: visible; animation-name: fadeIn; float: left;">
                                <img src="./img/blockchain-venture-studio.png" style="width: 200%;">
                            </div>
                            <div class="col-12 col-lg-8 col-md-6 text-center text-md-left md-padding-eight-left sm-padding-15px-left wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                                <h5 class=" alt-font text-white-2 font-weight-400 d-block mb-0 lg-width-90 md-width-100 sm-width-100">Creating the tomorrow, Now.</h5><br>
                                <p class=" lead alt-font text-white-2 font-weight-400 d-block mb-0 lg-width-90 md-width-100 sm-width-100">Our Goal is to fasten the transition of 
                                    human civilization into a multi-planetary species. With the success of SpaceX in reducing the cost of space travel complemented with more on-going developments,
                                     our innate capabilites when it comes to space exploration have undergone rapid progress within the past few years. 
                                     <br> <br>
                                     We aim to take the spirit of space exploration further by developing techno-conscious life habitable environments in space for humans. 
                                     <br> <br> Our stated scope includes establishing   <span class=" alt-font text-gradient font-weight-700 lg-width-90 md-width-100 sm-width-100" style="font-size: 1.42rem;" > Research Labs on Moon  </span> 
                                     <span style="font-size: 1.42rem;"> and </span>
                                     <span class=" alt-font text-gradient font-weight-700" style="font-size: 1.42rem;"> Colonizing Mars </span>


                                     <!-- <br> OWe plan to establish a fully self-sufficient human colony in space by 2035. The scope of the stated objective also includes studying how different planetary environments may affect human evolution and the reproduction cycle." -->

                                     </p>   <br>

                                <p class=" lead alt-font text-white-2 font-weight-400 d-block mb-0 lg-width-90 md-width-100 sm-width-100">“To pursue our stated objectives, we are currently building an ecosystem which will be able to financially support space-tech oriented Startups"
                                </p>
                                <!-- <a href="about-us-classic.html" class="alt-font text-uppercase font-weight-600 text-link-white text-deep-pink-hover text-white-2 text-small">Know more <i class="fas fa-long-arrow-alt-right margin-5px-left text-deep-pink text-medium position-relative top-2" aria-hidden="true"></i></a> -->
                            </div>
                        </div>
                    </div>
                    <!-- BOOTSTRAPPING OURSELVES -->
                    <div class="container" style="margin-top: 42px">
                        <div class="row align-items-center">
                            <div class="col-12 col-lg-4 text-center text-lg-left md-margin-40px-bottom sm-margin-30px-bottom wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                <img src="./img/CAAS_img.png" style="width: 96%;">
                            </div>
                            <div class="col-12 col-lg-8 col-md-6 text-center text-md-left md-padding-eight-left sm-padding-15px-left wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                                <h5 class="text-uppercase alt-font text-gradient font-weight-700 width-75 d-block mb-0 lg-width-90 md-width-100 sm-width-100" style="padding-bottom: 24px;" > Fin-Tech to Finance Space-Tech</h5>
                                <!-- <h5 class=" alt-font text-white-2 font-weight-400 d-block mb-0 lg-width-90 md-width-100 sm-width-100">BootStrapping ourselves with Trade-Alogs</h5><br> -->
                                <p class=" lead alt-font text-white-2 font-weight-400 d-block mb-0 lg-width-90 md-width-100 sm-width-100">We are currently building Investing / Trading systems by leveraging Blockchain architecture and Algorithmic Tokens to financially support ourselves. </p>
                                <!-- <br> <br> The stated financial infrastructure, when successfully created, will be leveraged to support other Space-Tech Oriented Startups.</p> -->
                                 <!-- <a href="about-us-classic.html" class="alt-font text-uppercase font-weight-600 text-link-white text-deep-pink-hover text-white-2 text-small">Know more <i class="fas fa-long-arrow-alt-right margin-5px-left text-deep-pink text-medium position-relative top-2" aria-hidden="true"></i></a> -->
                            </div>
                        </div>
                    </div>                           
                    <!-- WE BOOST IDEAS -->
                    <div class="container" style="margin-top: 50px">
                        <div class="row align-items-center">
    
                            <!-- <div class="col-12 col-lg-4 col-md-6 sm-margin-30px-bottom wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                                <img class="padding-ten-right md-no-padding-right w-100" src="images/homepage-4-section1-img.jpg" alt="" data-no-retina="">
                            </div> -->
                            <div class="col-12 col-lg-4 text-center text-lg-left md-margin-40px-bottom sm-margin-30px-bottom wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                <!-- <h5 class="text-uppercase alt-font text-gradient font-weight-700 width-75 d-block mb-0 lg-width-90 md-width-100 sm-width-100">We BOOST IDEAS</h5> -->
                                <img src="./img/face-dotted.png" style="width: 70%; opacity: 0.7;">
    
                            </div>
                            <div class="col-12 col-lg-8 col-md-6 text-center text-md-left md-padding-eight-left sm-padding-15px-left wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                                <h5 class="text-uppercase alt-font text-gradient font-weight-700 width-75 d-block mb-0 lg-width-90 md-width-100 sm-width-100" style="padding-bottom: 24px;" >Exploring the possibilities of AGI</h5>
                                <p class=" lead alt-font text-white-2 font-weight-400 d-block mb-0 lg-width-90 md-width-100 sm-width-100" style="font-family: Montserrat;">
                                     <!-- When it comes to the possibility of AGI, we have an agnostic stand about both AGI and God.
                               <br> <br> -->
                               Our research and future road-map involves actively pursuing distributed AI architectures while aiming for AGI possibilities (depending upon context), which will be leveraged for Space-Tech related research.</p> 
                                <!-- <br> <br> We are working towards creating mom Singularity actually happening should coincide with humans developing the means to evolve into multi-planetary species    -->
                                <!-- <a href="about-us-classic.html" class="alt-font text-uppercase font-weight-600 text-link-white text-deep-pink-hover text-white-2 text-small">Know more <i class="fas fa-long-arrow-alt-right margin-5px-left text-deep-pink text-medium position-relative top-2" aria-hidden="true"></i></a> -->
                            </div>
                        </div>
                    </div>                       
                <!-- </div>    -->

        </section>
                <!-- WE ARE A VENTURE STUDIO SECTION -->
            
       
        <!-- <faqs /> -->


        <!-- CTA -->
        <!-- <section class="wow fadeIn bg-extra-dark-gray" style="visibility: visible; animation-name: fadeIn;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8 col-md-10 text-center">
                        <h5 class="alt-font text-uppercase font-weight-600 text-gradient-2 width-80 mx-auto margin-35px-bottom lg-width-100 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; float: left; ">HOW MAY WE ASSIST YOU TODAY?</h5> -->
                        <!-- <div> -->
                            <!-- <a class="typeform-share button btn btn-medium btn-rounded btn-dark-gray wow fadeInUp" href="javascript:undefined" @click="toggleContactModal"><span>CONTACT</span></a>  -->
                        <!-- </div> -->

                        <!-- <a class="typeform-share button btn btn-medium btn-rounded btn-dark-gray wow fadeInUp" href="https://block42.typeform.com/to/mWGD8O" data-mode="popup" data-wow-delay="0.2s" style="visibility: visible;">CONTACT</a> -->
                    <!-- </div>
                </div>
            </div>
        </section> -->


        <!-- start footer footer-classic-dark to find -->
        <!-- <footer class="footer-classic-dark bg-black ">
            <div class="bg-black padding-50px-tb sm-padding-30px-tb">
                <div class="container">
                    <div class="row align-items-center"> -->
                        <!-- start slogan -->
                        <!-- <div class="col-lg-4 col-md-5 text-center alt-font sm-margin-15px-bottom">
                            © lifeordream.studio 2020. All rights reserved.
                        </div> -->
                        <!-- end slogan -->
                        <!-- start logo -->
                        <!-- <div class="col-lg-4 col-md-2 text-center sm-margin-10px-bottom">
                            <a href="http://lifeordream.studio"><img class="footer-logo" style="opacity: 0.5;" src="./img/logo/lifeordreamlogowhiteblack.png" data-rjs="img/logo/lifeordreamfooterlogo.png" alt="lifeordream.studio"></a>
                        </div> -->
                        <!-- end logo -->
   
                    <!-- </div>
                </div>
            </div>
        </footer> -->
</div>
        <!-- end footer -->
        <!-- start scroll to top -->
        <!-- <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a> -->
        <!-- end scroll to top  -->
        <!-- javascript libraries -->

        <!-- // CONTAINS MARS TIME CALCULATIONS -->


        <!-- Typeform -->
        <!-- <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
    </body>
</html> -->
