<div class= "Deposit">
    <div class="f1-form-grid" style="position: relative;">
    </div> 
    
    <div v-if="selectedInstrument.isSIGHMechanismActivated" style="height: 175px; margin-top: 20px; margin-bottom: 20px; padding: 2px 2px; border: aliceblue solid 0.1px; ">
        <p style="line-height: 24px; font-size: 12px; color: gold;" > For each '{{ selectedInstrument.symbol  }}' deposited, '{{ selectedInstrument.iTokenSymbol }}'  (ITokens) on a 1:1 basis are transferred directly into your Wallet which 
            <span style="line-height: 24px;font-size: 12px; color:chartreuse; display: contents;" > Farm $SIGH &#127806; and INTEREST </span> 
             for you! 
            <br> 
            <br>
            <span  style="line-height: 24px;font-size: 14.2px; color:greenyellow; display: contents; font-weight: 500;" > &#x1F69C; $SIGH LIQUIDITY STREAM  :  </span>  You  <span style="line-height: 24px;font-size: 12px; color:chartreuse; display: contents;" > Farm $SIGH &#127806; </span> whenever the price of '{{ selectedInstrument.symbol }}' <span style="line-height: 24px;font-size: 12px; color:red; display: contents;" >DECREASES (-)</span> over a 24 Hr period to hedge Volatility Risks against your Deposited <span style="line-height: 24px;font-size: 12px; color:lawngreen; display: contents;" >(LONG)</span> Position! 
            <br>
             Read more about it here :-  
        </p>         
    </div>
    
    <div v-if="!selectedInstrument.isSIGHMechanismActivated" style="height: 155px; margin-top: 20px; margin-bottom: 20px; padding: 2px 2px; border: aliceblue solid 0.1px; ">
        <p style="line-height: 24px; font-size: 12px; color: gold;" > For each '{{ selectedInstrument.symbol  }}' deposited, '{{ selectedInstrument.iTokenSymbol }}'  (ITokens) on a 1:1 basis are transferred directly into your Wallet which 
            <span style="line-height: 24px;font-size: 12px; color:chartreuse; display: contents;" > Farm $SIGH &#127806; and INTEREST </span> 
             for you! 
            <br> 
            <br>
            <span  style="line-height: 24px;font-size: 14.2px; color:greenyellow; display: contents; font-weight: 500;" > &#x1F69C; $SIGH LIQUIDITY STREAM :  </span>  You  <span style="line-height: 24px;font-size: 12px; color:chartreuse; display: contents;" > Farm $SIGH &#127806; </span> as Staking Rewards over your Deposited '{{ selectedInstrument.symbol }}' Amount!
            <br>
             Read more about it here :-  
        </p>         
    </div>

    <div class="deposit-amount-form" style="padding-top: 15px;" >
        <!-- Amount to be entered -->    
        <div class="uk-grid uk-grid-small f1-form-grid">
            <div class="uk-width-1-1" style=" width: 100%; margin: 5px;" >
                <div class="form-grp">
                    <div class="form-elm">
                        <input style="text-align: center;"  class="form-ctrl" type="text" placeholder=" Amount (USD)" v-model="formData.depositValue">
                        <span    style='color:antiquewhite; padding-left:10px;'> USD </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Displays the symbol of the selected Instrument -->
        <div class="uk-grid uk-grid-small f1-form-grid">
            <div class="uk-width-1-1" style=" width: 100%; margin: 5px;" >
                <div class="form-grp">
                    <div class="form-elm">
                        <input style="text-align: center;" class="form-ctrl" type="text" placeholder="Number of tokens" readonly :value="calculatedQuantity">
                        <span   style='color:antiquewhite; padding-left:10px;'>  {{ selectedInstrument.symbol  }}  </span>
                    </div>
                </div>
            </div>
        </div>

        <span style=" padding-top:5px; margin: 2px; line-height: 22px; font-size: 13.5px; color: mintcream; float: left;">  >   {{ selectedInstrument.symbol  }} Price &nbsp; : &nbsp;{{  ( ( Number(selectedInstrumentPriceETH) / Math.pow(10,selectedInstrument.priceDecimals)) * (Number(this.$store.state.ethereumPriceUSD) / Math.pow(10,this.$store.state.ethPriceDecimals)) ).toFixed(4) }} USD   </span> 
        <span style="padding-top:5px; margin: 2px; line-height: 22px; font-size: 11px; font-weight: 300; color: bisque; float: right;"> Deposit Fee : 0.05% </span>         

        <div class="uk-grid uk-grid-small f1-form-grid" style="margin-top: 31px;" >  
        <!-- Loading image -->
            <div v-if="showLoader" class="uk-width-1-1 center">
                <img src="https://image.ibb.co/dc02hd/30.gif" />
            </div>
            <!-- Buttons (Approve/Deposit) -->
            <div v-else class="uk-width-1-1" style="margin-bottom: 15px; margin-top: 31px;" >
                <div class="center">
                    <button class="uk-button uk-button-green"  @click="mint()">Mint</button>
                    <button class="uk-button uk-button-green"  @click="approve()">Approve</button>
                    <button class="uk-button uk-button-green"  @click="deposit()">Deposit</button>
                </div>
            </div>
        </div>
        <span style=" line-height:24px; width:100%; margin-top: 11px;  margin-bottom: 11px; font-size: 15px; padding: 1px; border: aquamarine dotted 0.1px; text-align: center; float: center; color: chartreuse;">  
            Thank You for Choosing $SIGH Finance to Farm your Volatility Risks! &#x1F69C;	&#128104;&#8205;&#127806;
        </span> 
        <div v-if="showLoaderCollateral" class="uk-width-1-1 center">
            <img style="margin-top: 22px;" src="https://image.ibb.co/dc02hd/30.gif" />
        </div>
        <div v-else style="text-align:center;"> 
            <button v-if="!selectedInstrumentWalletState.usageAsCollateralEnabled && Number(selectedInstrumentWalletState.userDepositedBalance) > 0" style="background: darkblue;" class="uk-button uk-button-black"  @click="switchInstrumentAsCollateral(true)">Enable as Collateral</button>
            <button v-if="selectedInstrumentWalletState.usageAsCollateralEnabled && Number(selectedInstrumentWalletState.userDepositedBalance) > 0" style="background: darkblue;" class="uk-button uk-button-black"  @click="switchInstrumentAsCollateral(false)">Disable as Collateral</button>
            <span v-if="Number(selectedInstrumentWalletState.userDepositedBalance) == 0" style="display: contents; color: yellow; font-size: 20px;">  &#127806; &#127806; <a href="https://discord.com/invite/HTrsKeWaZu" target="_blank"> Click to Enter Discord Server! </a> &#127806; &#127806; </span>
        </div>
    </div>

    <div style="border: aliceblue dotted 0.3px; padding: 14px; margin-top: 21px; margin-bottom: 20px;" >
        <table v-if="displayInString" style="color: white;" >
            <!-- 👨‍🌾 TOKEN : ACCOUNT BALANCES 👨‍🌾 -->
            <h1 > <span style="line-height: 24px;font-size: 21px; color:springgreen; font-weight: 500; padding-bottom:10px; padding-left:5%;" > &#128104;&#8205;&#127806; {{ selectedInstrument.symbol }} : </span> <span style="line-height: 24px;font-size: 21px; color:lightcyan; font-weight: 500; padding-bottom:10px;" > &nbsp; ACCOUNT BALANCES &#128104;&#8205;&#127806;  </span>  </h1> 
            <!-- WALLET CONNECTED -->
            <tr>
                <td>  <span style="line-height: 24px; font-size: 12px; color:dodgerblue; display: contents; font-weight: 500;" >  WALLET : </span>  {{ this.$store.state.connectedWallet  }} &nbsp;  </td> 
            </tr>
            <!-- CONTRACT ADDRESSES -->
            <h3 style="font-size: 19px; color: aquamarine; margin-bottom: 4px; margin-top: 24px;"> CONTRACT ADDRESSES </h3>
            <tr>
                <td style="font-size: 12.5px !important;"> <span style="line-height: 24px;font-size: 12px; color:lawngreen; display: contents; font-weight: 500; " > {{ selectedInstrument.symbol  }} &nbsp; :  </span>   &nbsp;{{ selectedInstrumentWalletState.instrumentAddress  }}   </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important;"> <span style="line-height: 24px;font-size: 12px; color:lawngreen; display: contents; font-weight: 500;" > {{ selectedInstrument.iTokenName  }}&nbsp; :  </span>   &nbsp;{{ selectedInstrumentWalletState.iTokenAddress  }} </td> 
            </tr>
            <!-- BALANCES -->
            <h3 style="font-size: 17px; color: aquamarine; margin-bottom: 4px; margin-top: 24px; "> BALANCE : <span style="line-height: 24px;font-size: 17px; color:yellow; display: contents; font-weight: 500;" > {{ selectedInstrument.symbol  }} </span> </h3>
            <tr>
                <td style="font-size: 12.5px !important;" > >   {{ selectedInstrument.symbol  }} Deposit Allowance &nbsp; : &nbsp;{{ getBalanceString(Number(selectedInstrumentWalletState.userAvailableAllowance).toFixed(4))  }} ( {{ getBalanceString(Number(selectedInstrumentWalletState.userAvailableAllowanceWorth).toFixed(4))  }} USD ) </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important; padding-top: 4px;" >  >   {{ selectedInstrument.symbol  }} Balance &nbsp; : &nbsp;{{ getBalanceString(Number(selectedInstrumentWalletState.userBalance).toFixed(4))  }} ( {{ getBalanceString(Number(selectedInstrumentWalletState.userBalanceWorth).toFixed(4))  }} USD )  </td> 
            </tr>
            <!-- DEPOSIT BALANCE -->
            <h3 style="font-size: 17px; color: aquamarine; margin-bottom: 4px; margin-top: 24px; "> {{ selectedInstrument.symbol  }} DEPOSIT BALANCE : <span style="line-height: 24px;font-size: 17px; color:yellow; display: contents; font-weight: 500;" > {{ selectedInstrument.iTokenName  }} &#127806; </span> </h3>
            <tr>
                <td style="font-size: 12.5px !important;" > >  {{ selectedInstrument.iTokenSymbol  }} Compounded Balance &nbsp; : &nbsp;{{ getBalanceString(Number(selectedInstrumentWalletState.userDepositedBalance).toFixed(4))  }} ( {{ getBalanceString(Number(selectedInstrumentWalletState.userDepositedBalanceWorth).toFixed(4))  }} USD )  </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important; padding-top: 4px; padding-bottom: 4px;"> >  &nbsp;SUPPLY APY &nbsp; : &nbsp; <span style="line-height: 24px;font-size: 12.5px; color:greenyellow; display: contents; font-weight: 500;" > {{ Number(selectedInstrumentWalletState.liquidityRate).toFixed(4)  }} % </span> </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important; padding-bottom: 4px;"> >  Enabled As Collateral &nbsp; : &nbsp; <span v-if="selectedInstrumentWalletState.usageAsCollateralEnabled" style="line-height: 24px;font-size: 12.5px; color:green; display: contents; font-weight: 500;" > {{ selectedInstrumentWalletState.usageAsCollateralEnabled }} </span> <span v-if="!selectedInstrumentWalletState.usageAsCollateralEnabled" style="line-height: 24px;font-size: 12.5px; color:red; display: contents; font-weight: 500;" > {{ selectedInstrumentWalletState.usageAsCollateralEnabled }} </span>  </td> 
            </tr>
            <!-- ACTIVE BORROWS -->
            <h3 style="font-size: 17px; color: aquamarine; margin-bottom: 4px; margin-top: 24px; "> ACTIVE BORROWS : <span style="line-height: 24px;font-size: 17px; color:yellow; display: contents; font-weight: 500;" > {{ selectedInstrument.symbol  }} </span> </h3>
            <tr>
                <td style="font-size: 12.5px !important;"> > Borrow Amount (Principal) &nbsp; : &nbsp;{{ getBalanceString(Number(selectedInstrumentWalletState.principalBorrowBalance).toFixed(4))  }} ( {{ getBalanceString(Number(selectedInstrumentWalletState.principalBorrowBalanceWorth).toFixed(4))  }} USD ) </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important; padding-top: 4px; padding-bottom: 4px;"> > Borrow Amount (Compounded) &nbsp; : &nbsp;{{ getBalanceString(Number(selectedInstrumentWalletState.currentBorrowBalance).toFixed(4))  }} ( {{ getBalanceString(Number(selectedInstrumentWalletState.currentBorrowBalanceWorth).toFixed(4))  }} USD ) </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important; padding-bottom: 1px;"> > Interest Accured &nbsp; : &nbsp;{{Number( Number(selectedInstrumentWalletState.currentBorrowBalance).toFixed(4) - Number(selectedInstrumentWalletState.principalBorrowBalance).toFixed(4) ).toFixed(4) }} ( {{ Number( Number(selectedInstrumentWalletState.currentBorrowBalanceWorth).toFixed(4) - Number(selectedInstrumentWalletState.principalBorrowBalanceWorth).toFixed(4) ).toFixed(4) }} USD ) </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important; padding-bottom: 2px;" > > Borrow APY &nbsp; : &nbsp; <span style="line-height: 24px;font-size: 12.5px; color:red; display: contents; font-weight: 500;" > {{ Number(selectedInstrumentWalletState.borrowRate).toFixed(4)  }} % </span> </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important; padding-bottom: 2px;"> >  Borrow Type  &nbsp; : <span style="line-height: 24px;font-size: 12.5px; color:navajowhite; display: contents; font-weight: 500;" > &nbsp;{{ selectedInstrumentWalletState.borrowRateMode == 1 ? 'Stable' : 'Variable' }} </span> </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important;"> >  Borrow Fee (Due) &nbsp; : &nbsp;{{ Number(selectedInstrumentWalletState.originationFee).toFixed(4)  }}  ( {{ Number(selectedInstrumentWalletState.originationFeeWorth).toFixed(4)  }} USD ) </td> 
            </tr>
            <!-- 🌾 $SIGH 🌾 FARMING YIELDS 🚜 👨‍🌾 -->
            <h3 style="font-size: 21px; color: aquamarine; margin-bottom: 4px; margin-top: 24px; "> {{selectedInstrument.symbol}} : <span style="line-height: 24px;font-size: 21px; color:yellow; display: contents; font-weight: 500;" > &#127806;  $SIGH &#127806; </span> <span style="line-height: 24px;font-size: 21px; color:greenyellow; display: contents; font-weight: 500;" > FARMING YIELDS </span>  &#x1F69C;	&#128104;&#8205;&#127806; </h3>
            <!-- 🚜 🚜 $SIGH LIQUIDITY (LONG) STREAM -->
            <tr>
                <td style="font-size: 13.5px !important;  padding-top: 5px; color:yellow;"> &#x1F69C; &#x1F69C; $SIGH LIQUIDITY (<span style="color:rgb(102, 255, 0); display:contents;">LONG</span>)  STREAM  &nbsp; </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important; padding-bottom: 3px;"> --- last 24 hr Average APY &nbsp; : &nbsp; <span style="line-height:1; font-size: 12.9px !important; color:springgreen; display:contents;">{{ Number(selectedInstrument.average24SnapsSuppliersHarvestAPY).toFixed(2)  }} %</span> </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important; padding-bottom: 7px;"> --- last 30 days Average APY &nbsp; : &nbsp; <span style="line-height:1; font-size: 12.9px !important; color:springgreen; display:contents;">{{ Number(selectedInstrument.averageMonthlySnapsSuppliersHarvestAPY).toFixed(2)  }} %</span>  </td> 
            </tr>
            <!-- 🚜 🚜 $SIGH BORROWING (SHORT) STREAM -->
            <tr>
                <td style="font-size: 13.5px !important;  padding-top: 5px; color:yellow;"> &#x1F69C; &#x1F69C; $SIGH BORROWING (<span style="color:red; display:contents;">SHORT</span>)  STREAM  &nbsp; </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important; padding-bottom: 3px;"> --- last 24 hr Average APY &nbsp; : &nbsp; <span style="line-height:1; font-size: 12.9px !important; color:springgreen; display:contents;">{{ Number(selectedInstrument.average24SnapsBorrowersHarvestAPY).toFixed(2)  }} %</span> </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important; padding-bottom: 7px;"> --- last 30 days Average APY &nbsp; : &nbsp; <span style="line-height:1; font-size: 12.9px !important; color:springgreen; display:contents;">{{ Number(selectedInstrument.averageMonthlySnapsBorrowersHarvestAPY).toFixed(2)  }} %</span>  </td> 
            </tr>
            <!-- 🌾 🌾 $SIGH FARMING  :  PRESENT STATE -->
            <tr>
                <td style="font-size: 14px !important;  padding-top: 5px; color:yellow;"> &#127806; &#127806; $SIGH FARMING &nbsp;:&nbsp; <span style="color:violet; display:contents;">PRESENT STATE </span>  </td> 
            </tr>
            <tr>
                <td style="color:violet; font-size: 12.9px !important; padding-top: 4px;"> > Total Volatility (24 hr) &nbsp; : &nbsp; 
                    <span v-if=" selectedInstrument.present_SIGH_Side=='In-Active' " style="line-height:1; font-size: 12.9px !important; color:white; display:contents;"> SIGH Mechanism not Activated</span>  
                    <span v-if=" selectedInstrument.present_SIGH_Side=='Suppliers' " style="line-height:1; font-size: 12.9px !important; color:red; display:contents;">{{ getBalanceString(Number(selectedInstrument.present_total24HrVolatilityUSD).toFixed(2))  }} USD ( - ) </span>  
                    <span v-if=" selectedInstrument.present_SIGH_Side=='Borrowers' " style="line-height:1; font-size: 12.9px !important; color:springgreen; display:contents;">{{ getBalanceString(Number(selectedInstrument.present_total24HrVolatilityUSD).toFixed(2))  }} USD ( + )</span>  
                </td> 
            </tr>
            <tr>
                <td style="color:violet; font-size: 12.9px !important; padding-top: 4px;"> > Accounted Volatility &nbsp; : &nbsp; 
                <span v-if=" selectedInstrument.present_SIGH_Side=='In-Active' " style="line-height:1; font-size: 12.9px !important; color:white; display:contents;"> SIGH Mechanism not Activated</span>  
                <span v-if=" selectedInstrument.present_SIGH_Side=='Suppliers' " style="line-height:1; font-size: 12.9px !important; color:red; display:contents;">{{ getBalanceString(Number(selectedInstrument.present_total24HrSentimentVolatilityUSD).toFixed(2))  }} USD <span style="line-height:1; font-size: 12.9px !important; color:paleturquoise; display:contents;"> (bear : {{  Number(selectedInstrument.present_total24HrVolatilityUSD) > 0 ? Number( 100 * Number(selectedInstrument.present_total24HrSentimentVolatilityUSD) / Number(selectedInstrument.present_total24HrVolatilityUSD)).toFixed(2) : 'In-Active'    }} %) </span>  </span>   
                <span v-if=" selectedInstrument.present_SIGH_Side=='Borrowers' " style="line-height:1; font-size: 12.9px !important; color:springgreen; display:contents;">{{ getBalanceString(Number(selectedInstrument.present_total24HrSentimentVolatilityUSD).toFixed(2))  }} USD  <span style="line-height:1; font-size: 12.9px !important; color:paleturquoise; display:contents;"> (bull : {{  Number(selectedInstrument.present_total24HrVolatilityUSD) > 0 ? Number( 100 * Number(selectedInstrument.present_total24HrSentimentVolatilityUSD) / Number(selectedInstrument.present_total24HrVolatilityUSD)).toFixed(2) : 'In-Active'}} % ) </span>  </span>   
                </td> 
            </tr>
            <tr>
                <td style="color:springgreen; font-size: 12.9px!important; padding-top: 4px;"> > Harvested Volatility &nbsp; : &nbsp;
                <span v-if=" selectedInstrument.present_SIGH_Side=='In-Active' " style="line-height:1; font-size: 12.9px !important; color:yellow; display:contents;">{{ getBalanceString(Number(selectedInstrument.present_harvestValuePerDayUSD).toFixed(2))  }} USD </span>  
                <span v-if=" selectedInstrument.present_SIGH_Side=='Suppliers' " style="line-height:1; font-size: 12.9px !important; color:yellow; display:contents;">{{ getBalanceString(Number(selectedInstrument.present_harvestValuePerDayUSD).toFixed(2))  }} USD <span style="line-height:1; font-size: 12.9px !important; color:white; display:contents;"> (&nbsp;{{  Number(selectedInstrument.present_total24HrVolatilityUSD) > 0 ? Number( 100 * Number(selectedInstrument.present_harvestValuePerDayUSD) / Number(selectedInstrument.present_total24HrVolatilityUSD)).toFixed(2) : 100    }} %&nbsp;) </span>  </span>   
                <span v-if=" selectedInstrument.present_SIGH_Side=='Borrowers' " style="line-height:1; font-size: 12.9px !important; color:yellow; display:contents;">{{ getBalanceString(Number(selectedInstrument.present_harvestValuePerDayUSD).toFixed(2))  }} USD  <span style="line-height:1; font-size: 12.9px !important; color:white; display:contents;"> (&nbsp;{{  Number(selectedInstrument.present_total24HrVolatilityUSD) > 0 ? Number( 100 * Number(selectedInstrument.present_harvestValuePerDayUSD) / Number(selectedInstrument.present_total24HrVolatilityUSD)).toFixed(2) : 100}} % &nbsp;) </span>  </span>   
                </td> 
            </tr>

            <tr>
                <td style="font-size: 12.9px !important;  padding-top: 14px; color:aqua;"> > Current Stream Direction &nbsp; : &nbsp;  
                    <span v-if=" selectedInstrument.present_SIGH_Side=='In-Active' " style="line-height:1; font-size: 12.9px !important; color:white; display:contents;"> Both </span>
                    <span v-if=" selectedInstrument.present_SIGH_Side=='Suppliers' " style="line-height:1; font-size: 12.9px !important; color:rgb(102, 255, 0); display:contents;"> LONG : SUPPLIERS </span>
                    <span v-if=" selectedInstrument.present_SIGH_Side=='Borrowers' " style="line-height:1; font-size: 12.9px !important; color:red; display:contents;"> SHORT : BORROWERS </span>
                </td> 
            </tr>
            <tr>
                <td style="font-size: 12.9px !important;  padding-top: 5px; color:aqua;"> > Current Harvest Speed (per Block) :  <span style="line-height:1; font-size: 12.9px !important; color:yellow; display:contents;">{{ Number(selectedInstrument.present_harvestSpeedPerBlock).toFixed(4) }} SIGH &#127806;</span> <span style="line-height:1; font-size: 12.9px !important; color:white; display:contents;">({{ Number(selectedInstrument.present_harvestValuePerBlockUSD).toFixed(4) }} USD)</span>  </td> 
            </tr>
            <tr>
                <td style="font-size: 12.9px !important;  padding-top: 5px; color:aqua;"> > Current Harvest APY&nbsp;:&nbsp;  <span style="line-height:1; font-size: 12.9px !important; color:springgreen; display:contents;">{{ Number(selectedInstrument.present_harvestAPY).toFixed(2) }} % &nbsp; - &nbsp; </span>   
                    <span v-if=" selectedInstrument.present_SIGH_Side=='In-Active' " style="line-height:1; font-size: 12.9px !important; color:white; display:contents;"> Both </span>
                    <span v-if=" selectedInstrument.present_SIGH_Side=='Suppliers' " style="line-height:1; font-size: 12.9px !important; color:rgb(102, 255, 0); display:contents;"> LONG : SUPPLIERS </span>
                    <span v-if=" selectedInstrument.present_SIGH_Side=='Borrowers' " style="line-height:1; font-size: 12.9px !important; color:red; display:contents;"> SHORT : BORROWERS </span>
                </td> 
            </tr>
        </table>



        <table v-if="!displayInString" style="color: white;" >
            <!-- 👨‍🌾 TOKEN : ACCOUNT BALANCES 👨‍🌾 -->
            <h1 > <span style="line-height: 24px;font-size: 21px; color:springgreen; font-weight: 500; padding-bottom:10px; padding-left:5%;" > &#128104;&#8205;&#127806; {{ selectedInstrument.symbol }} : </span> <span style="line-height: 24px;font-size: 21px; color:lightcyan; font-weight: 500; padding-bottom:10px;" > &nbsp; ACCOUNT BALANCES &#128104;&#8205;&#127806;  </span>  </h1> 
            <!-- WALLET CONNECTED -->
            <tr>
                <td>  <span style="line-height: 24px;font-size: 12px; color:dodgerblue; display: contents; font-weight: 500;" >  WALLET : </span>  {{ this.$store.state.connectedWallet  }} &nbsp;  </td> 
            </tr>
            <!-- CONTRACT ADDRESSES -->
            <h3 style="font-size: 19px; color: aquamarine; margin-bottom: 4px; margin-top: 24px;"> CONTRACT ADDRESSES </h3>
            <tr>
                <td style="font-size: 12.5px !important;"> <span style="line-height: 24px;font-size: 12px; color:lawngreen; display: contents; font-weight: 500; " > {{ selectedInstrument.symbol  }} &nbsp; :  </span>   &nbsp;{{ selectedInstrumentWalletState.instrumentAddress  }}   </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important;"> <span style="line-height: 24px;font-size: 12px; color:lawngreen; display: contents; font-weight: 500;" > {{ selectedInstrument.iTokenName  }}&nbsp; :  </span>   &nbsp;{{ selectedInstrumentWalletState.iTokenAddress  }} </td> 
            </tr>
            <!-- BALANCES -->
            <h3 style="font-size: 17px; color: aquamarine; margin-bottom: 4px; margin-top: 24px; "> BALANCE : <span style="line-height: 24px;font-size: 17px; color:yellow; display: contents; font-weight: 500;" > {{ selectedInstrument.symbol  }} </span> </h3>
            <tr>
                <td style="font-size: 12.5px !important;" > >   {{ selectedInstrument.symbol  }} Deposit Allowance &nbsp; : &nbsp;{{ Number(selectedInstrumentWalletState.userAvailableAllowance).toFixed(4)  }} ( {{ Number(selectedInstrumentWalletState.userAvailableAllowanceWorth).toFixed(4)  }} USD ) </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important; padding-top: 4px;" >  >   {{ selectedInstrument.symbol  }} Balance &nbsp; : &nbsp;{{ Number(selectedInstrumentWalletState.userBalance).toFixed(4)  }} ( {{ Number(selectedInstrumentWalletState.userBalanceWorth).toFixed(4)  }} USD )  </td> 
            </tr>
            <!-- DEPOSIT BALANCE -->
            <h3 style="font-size: 17px; color: aquamarine; margin-bottom: 4px; margin-top: 24px; "> {{ selectedInstrument.symbol  }} DEPOSIT BALANCE : <span style="line-height: 24px;font-size: 17px; color:yellow; display: contents; font-weight: 500;" > {{ selectedInstrument.iTokenName  }} &#127806; </span> </h3>
            <tr>
                <td style="font-size: 12.5px !important;" > >  {{ selectedInstrument.iTokenSymbol  }} Compounded Balance &nbsp; : &nbsp;{{ Number(selectedInstrumentWalletState.userDepositedBalance).toFixed(4)  }} ( {{ Number(selectedInstrumentWalletState.userDepositedBalanceWorth).toFixed(4)  }} USD )  </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important; padding-top: 4px; padding-bottom: 4px;"> >  &nbsp;SUPPLY APY &nbsp; : &nbsp; <span style="line-height: 24px;font-size: 12.5px; color:greenyellow; display: contents; font-weight: 500;" > {{ Number(selectedInstrumentWalletState.liquidityRate).toFixed(4)  }} % </span> </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important; padding-bottom: 4px;"> >  Enabled As Collateral &nbsp; : &nbsp; <span v-if="selectedInstrumentWalletState.usageAsCollateralEnabled" style="line-height: 24px;font-size: 12.5px; color:green; display: contents; font-weight: 500;" > {{ selectedInstrumentWalletState.usageAsCollateralEnabled }} </span> <span v-if="!selectedInstrumentWalletState.usageAsCollateralEnabled" style="line-height: 24px;font-size: 12.5px; color:red; display: contents; font-weight: 500;" > {{ selectedInstrumentWalletState.usageAsCollateralEnabled }} </span>  </td> 
            </tr>
            <!-- ACTIVE BORROWS -->
            <h3 style="font-size: 17px; color: aquamarine; margin-bottom: 4px; margin-top: 24px; "> ACTIVE BORROWS : <span style="line-height: 24px;font-size: 17px; color:yellow; display: contents; font-weight: 500;" > {{ selectedInstrument.symbol  }} </span> </h3>
            <tr>
                <td style="font-size: 12.5px !important;"> > Borrow Amount (Principal) &nbsp; : &nbsp;{{ Number(selectedInstrumentWalletState.principalBorrowBalance).toFixed(4)  }} ( {{ Number(selectedInstrumentWalletState.principalBorrowBalanceWorth).toFixed(4)  }} USD ) </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important; padding-top: 4px; padding-bottom: 4px;"> > Borrow Amount (Compounded) &nbsp; : &nbsp;{{ Number(selectedInstrumentWalletState.currentBorrowBalance).toFixed(4)  }} ( {{ Number(selectedInstrumentWalletState.currentBorrowBalanceWorth).toFixed(4)  }} USD ) </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important; padding-bottom: 1px;"> > Interest Accured &nbsp; : &nbsp;{{Number( Number(selectedInstrumentWalletState.currentBorrowBalance).toFixed(4) - Number(selectedInstrumentWalletState.principalBorrowBalance).toFixed(4) ).toFixed(4) }} ( {{ Number( Number(selectedInstrumentWalletState.currentBorrowBalanceWorth).toFixed(4) - Number(selectedInstrumentWalletState.principalBorrowBalanceWorth).toFixed(4) ).toFixed(4) }} USD ) </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important; padding-bottom: 2px;" > > Borrow APY &nbsp; : &nbsp; <span style="line-height: 24px;font-size: 12.5px; color:red; display: contents; font-weight: 500;" > {{ Number(selectedInstrumentWalletState.borrowRate).toFixed(4)  }} % </span> </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important; padding-bottom: 2px;"> >  Borrow Type  &nbsp; : <span style="line-height: 24px;font-size: 12.5px; color:navajowhite; display: contents; font-weight: 500;" > &nbsp;{{ selectedInstrumentWalletState.borrowRateMode == 1 ? 'Stable' : 'Variable' }} </span> </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important;"> >  Borrow Fee (Due) &nbsp; : &nbsp;{{ Number(selectedInstrumentWalletState.originationFee).toFixed(4)  }}  ( {{ Number(selectedInstrumentWalletState.originationFeeWorth).toFixed(4)  }} USD ) </td> 
            </tr>
            <!-- 🌾 $SIGH 🌾 FARMING YIELDS 🚜 👨‍🌾 -->
            <h3 style="font-size: 21px; color: aquamarine; margin-bottom: 4px; margin-top: 24px; "> {{selectedInstrument.symbol}} : <span style="line-height: 24px;font-size: 21px; color:yellow; display: contents; font-weight: 500;" > &#127806;  $SIGH &#127806; </span> <span style="line-height: 24px;font-size: 21px; color:greenyellow; display: contents; font-weight: 500;" > FARMING YIELDS </span>  &#x1F69C;	&#128104;&#8205;&#127806; </h3>
            <!-- 🚜 🚜 $SIGH LIQUIDITY (LONG) STREAM -->
            <tr>
                <td style="font-size: 13.5px !important;  padding-top: 5px; color:yellow;"> &#x1F69C; &#x1F69C; $SIGH LIQUIDITY (<span style="color:rgb(102, 255, 0); display:contents;">LONG</span>)  STREAM  &nbsp; </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important; padding-bottom: 3px;"> --- last 24 hr Average APY &nbsp; : &nbsp; <span style="line-height:1; font-size: 12.9px !important; color:springgreen; display:contents;">{{ Number(selectedInstrument.average24SnapsSuppliersHarvestAPY).toFixed(2)  }} %</span> </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important; padding-bottom: 7px;"> --- last 30 days Average APY &nbsp; : &nbsp; <span style="line-height:1; font-size: 12.9px !important; color:springgreen; display:contents;">{{ Number(selectedInstrument.averageMonthlySnapsSuppliersHarvestAPY).toFixed(2)  }} %</span>  </td> 
            </tr>
            <!-- 🚜 🚜 $SIGH BORROWING (SHORT) STREAM -->
            <tr>
                <td style="font-size: 13.5px !important;  padding-top: 5px; color:yellow;"> &#x1F69C; &#x1F69C; $SIGH BORROWING (<span style="color:red; display:contents;">SHORT</span>)  STREAM  &nbsp; </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important; padding-bottom: 3px;"> --- last 24 hr Average APY &nbsp; : &nbsp; <span style="line-height:1; font-size: 12.9px !important; color:springgreen; display:contents;">{{ Number(selectedInstrument.average24SnapsBorrowersHarvestAPY).toFixed(2)  }} %</span> </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important; padding-bottom: 7px;"> --- last 30 days Average APY &nbsp; : &nbsp; <span style="line-height:1; font-size: 12.9px !important; color:springgreen; display:contents;">{{ Number(selectedInstrument.averageMonthlySnapsBorrowersHarvestAPY).toFixed(2)  }} %</span>  </td> 
            </tr>
            <!-- 🌾 🌾 $SIGH FARMING  :  PRESENT STATE -->
            <tr>
                <td style="font-size: 14px !important;  padding-top: 5px; color:yellow;"> &#127806; &#127806; $SIGH FARMING &nbsp;:&nbsp; <span style="color:violet; display:contents;">PRESENT STATE </span>  </td> 
            </tr>
            <tr>
                <td style="color:violet; font-size: 12.9px !important; padding-top: 4px;"> > Total Volatility (24 hr) &nbsp; : &nbsp; 
                    <span v-if=" selectedInstrument.present_SIGH_Side=='In-Active' " style="line-height:1; font-size: 12.9px !important; color:white; display:contents;"> SIGH Mechanism not Activated</span>  
                    <span v-if=" selectedInstrument.present_SIGH_Side=='Suppliers' " style="line-height:1; font-size: 12.9px !important; color:red; display:contents;">{{ Number(selectedInstrument.present_total24HrVolatilityUSD).toFixed(2)  }} USD ( - ) </span>  
                    <span v-if=" selectedInstrument.present_SIGH_Side=='Borrowers' " style="line-height:1; font-size: 12.9px !important; color:springgreen; display:contents;">{{ Number(selectedInstrument.present_total24HrVolatilityUSD).toFixed(2)  }} USD ( + )</span>  
                </td> 
            </tr>
            <tr>
                <td style="color:violet; font-size: 12.9px !important; padding-top: 4px;"> > Accounted Volatility &nbsp; : &nbsp; 
                <span v-if=" selectedInstrument.present_SIGH_Side=='In-Active' " style="line-height:1; font-size: 12.9px !important; color:white; display:contents;"> SIGH Mechanism not Activated</span>  
                <span v-if=" selectedInstrument.present_SIGH_Side=='Suppliers' " style="line-height:1; font-size: 12.9px !important; color:red; display:contents;">{{ Number(selectedInstrument.present_total24HrSentimentVolatilityUSD).toFixed(2)  }} USD <span style="line-height:1; font-size: 12.9px !important; color:paleturquoise; display:contents;"> (bear : {{  Number(selectedInstrument.present_total24HrVolatilityUSD) > 0 ? Number( 100 * Number(selectedInstrument.present_total24HrSentimentVolatilityUSD) / Number(selectedInstrument.present_total24HrVolatilityUSD)).toFixed(2) : 'In-Active'    }} %) </span>  </span>   
                <span v-if=" selectedInstrument.present_SIGH_Side=='Borrowers' " style="line-height:1; font-size: 12.9px !important; color:springgreen; display:contents;">{{ Number(selectedInstrument.present_total24HrSentimentVolatilityUSD).toFixed(2)  }} USD  <span style="line-height:1; font-size: 12.9px !important; color:paleturquoise; display:contents;"> (bull : {{  Number(selectedInstrument.present_total24HrVolatilityUSD) > 0 ? Number( 100 * Number(selectedInstrument.present_total24HrSentimentVolatilityUSD) / Number(selectedInstrument.present_total24HrVolatilityUSD)).toFixed(2) : 'In-Active'}} % ) </span>  </span>   
                </td> 
            </tr>
            <tr>
                <td style="color:springgreen; font-size: 12.9px!important; padding-top: 4px;"> > Harvested Volatility &nbsp; : &nbsp;
                <span v-if=" selectedInstrument.present_SIGH_Side=='In-Active' " style="line-height:1; font-size: 12.9px !important; color:yellow; display:contents;">{{ Number(selectedInstrument.present_harvestValuePerDayUSD).toFixed(2)  }} USD </span>  
                <span v-if=" selectedInstrument.present_SIGH_Side=='Suppliers' " style="line-height:1; font-size: 12.9px !important; color:yellow; display:contents;">{{ Number(selectedInstrument.present_harvestValuePerDayUSD).toFixed(2)  }} USD <span style="line-height:1; font-size: 12.9px !important; color:white; display:contents;"> (&nbsp;{{  Number(selectedInstrument.present_total24HrVolatilityUSD) > 0 ? Number( 100 * Number(selectedInstrument.present_harvestValuePerDayUSD) / Number(selectedInstrument.present_total24HrVolatilityUSD)).toFixed(2) : 100    }} %&nbsp;) </span>  </span>   
                <span v-if=" selectedInstrument.present_SIGH_Side=='Borrowers' " style="line-height:1; font-size: 12.9px !important; color:yellow; display:contents;">{{ Number(selectedInstrument.present_harvestValuePerDayUSD).toFixed(2)  }} USD  <span style="line-height:1; font-size: 12.9px !important; color:white; display:contents;"> (&nbsp;{{  Number(selectedInstrument.present_total24HrVolatilityUSD) > 0 ? Number( 100 * Number(selectedInstrument.present_harvestValuePerDayUSD) / Number(selectedInstrument.present_total24HrVolatilityUSD)).toFixed(2) : 100}} % &nbsp;) </span>  </span>   
                </td> 
            </tr>

            <tr>
                <td style="font-size: 12.9px !important;  padding-top: 14px; color:aqua;"> > Current Stream Direction &nbsp; : &nbsp;  
                    <span v-if=" selectedInstrument.present_SIGH_Side=='In-Active' " style="line-height:1; font-size: 12.9px !important; color:white; display:contents;"> Both </span>
                    <span v-if=" selectedInstrument.present_SIGH_Side=='Suppliers' " style="line-height:1; font-size: 12.9px !important; color:rgb(102, 255, 0); display:contents;"> LONG : SUPPLIERS </span>
                    <span v-if=" selectedInstrument.present_SIGH_Side=='Borrowers' " style="line-height:1; font-size: 12.9px !important; color:red; display:contents;"> SHORT : BORROWERS </span>
                </td> 
            </tr>
            <tr>
                <td style="font-size: 12.9px !important;  padding-top: 5px; color:aqua;"> > Current Harvest Speed (per Block) :  <span style="line-height:1; font-size: 12.9px !important; color:yellow; display:contents;">{{ Number(selectedInstrument.present_harvestSpeedPerBlock).toFixed(4) }} SIGH &#127806;</span> <span style="line-height:1; font-size: 12.9px !important; color:white; display:contents;">({{ Number(selectedInstrument.present_harvestValuePerBlockUSD).toFixed(4) }} USD)</span>  </td> 
            </tr>
            <tr>
                <td style="font-size: 12.9px !important;  padding-top: 5px; color:aqua;"> > Current Harvest APY&nbsp;:&nbsp;  <span style="line-height:1; font-size: 12.9px !important; color:springgreen; display:contents;">{{ Number(selectedInstrument.present_harvestAPY).toFixed(2) }} % &nbsp; - &nbsp; </span>   
                    <span v-if=" selectedInstrument.present_SIGH_Side=='In-Active' " style="line-height:1; font-size: 12.9px !important; color:white; display:contents;"> Both </span>
                    <span v-if=" selectedInstrument.present_SIGH_Side=='Suppliers' " style="line-height:1; font-size: 12.9px !important; color:rgb(102, 255, 0); display:contents;"> LONG : SUPPLIERS </span>
                    <span v-if=" selectedInstrument.present_SIGH_Side=='Borrowers' " style="line-height:1; font-size: 12.9px !important; color:red; display:contents;"> SHORT : BORROWERS </span>
                </td> 
            </tr>    
        </table>


    </div>

    <div class="center">
        <img  v-if="showLoaderRefresh" src="https://image.ibb.co/dc02hd/30.gif" />
        <button style="background: darkblue;" v-else class="uk-button uk-button-black"  @click="refreshCurrentInstrumentWalletState(true)">Refresh</button>
        <button style="background: darkblue;" v-if="displayInString" class="uk-button uk-button-black"  @click="toggle(true)">Display Strings</button>
        <button style="background: darkblue;" v-if="!displayInString" class="uk-button uk-button-black"  @click="toggle(true)">Display Numbers</button>
    </div>
</div>