<div class="sighStream"  style="margin-top: 24px;">> 
    <div class="f1-form-grid" style="position: relative;">

        <div class="cs-tab-1  uk-position-relative">
            <div id="subtab-market" :title-link-class="'tab-title-class'">
                <tab-bar :mobileDropdown=false :tabs=tabs @tab-change="activeTabChange" />
            </div>
            
            <keep-alive>
                <anotherAccount v-if="activeTab === 'Another Account'" />
                <yourAccount v-if="activeTab === 'Connected Account'" />
            </keep-alive>
        </div>
    </div>
</div>