<div class= "repayQuantity">
    <div class="uk-grid uk-grid-small f1-form-grid" style="position: relative;">
    </div> 
    
    <!-- Displays the symbol of the selected Instrument -->
    <div class="uk-grid uk-grid-small f1-form-grid">
        <div class="uk-width-1-1">
            <div class="form-grp">
                <div class="form-elm">
                    <input style="text-align: center;" class="form-ctrl" type="text" placeholder="Number of tokens" v-model="formData.repayQuantity">
                    <span style='color:antiquewhite'>  {{ selectedInstrument.symbol  }}  </span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="uk-grid uk-grid-small f1-form-grid">
        <div class="uk-width-1-1">
            <div class="form-grp">
                <div class="form-elm">
                    <input style="text-align: center;"  class="form-ctrl" type="text" placeholder="Estimated Value " readonly :value="calculatedValue">
                    <span  style='color:antiquewhite'> USD </span>
                </div>
            </div>
        </div>
    </div>

    <!-- Loading image -->
    
    <div class="uk-grid uk-grid-small f1-form-grid">
        <div v-if="showLoader" class="uk-width-1-1 center">
            <img src="https://image.ibb.co/dc02hd/30.gif" />
        </div>
        <div v-else class="uk-width-1-1">

<!-- Buttons (Repay) -->
            <div class="left">
                <!-- <button class="uk-button uk-button-green"  @click="approve()">Approve</button> -->
                <button class="uk-button uk-button-green" style="padding: 0 81px;" @click="repay()">Repay</button>
            </div>
        </div>
    </div>
</div>