<div id="MoneyMarketsConfig" style="border: aliceblue dotted 2px; padding: 14px 0px; margin-top: 24px;">

    <div class="uk-panel"  style="padding-bottom: 5px;">
        <!-- Live markets heading  uk-text-center-->
        <h3 class="uk-panel-title uk-text-center" style="font-weight: 700;  font-size: 24px !important;">
            <span  style="font-weight: 700; padding-bottom: 20px; color: greenyellow; font-size: 24px !important;"> CONFIGURATION INFO-GRAPHICS </span> 
        </h3>
        <div style="margin:17px; text-align: center;" >
            <span style="color: ivory; padding-right:24px;" > <u>Read About Configuration Parameters Here</u>  :  Medium Article  </span>  
        </div>
        
    </div>
    
    <!-- v-if="!showLoader" -->
    <template >   
        <div class="noShow noHorizontal scrollit"> 
            <!-- <div id="hello" data-simplebar data-simplebar-auto-hide="uk-text-center" > -->
                <!-- :style="{ height: tableHeight } -->
                <table >
                    <thead class="uk-visible">
                        <!-- live instruments Bar heading -->
                        <tr>
                            <th class="uk-text-center"> <span style="color: ivory;color:yellow; font-size: 15px !important;" > MARKETS </span>  </th>
                            <th class="uk-text-center"> <span style="color:violet; font-size:14px;"> Is Active </span> </th>
                            <th class="uk-text-center"> <span style="color:violet; font-size:14px;"> Is Freezed </span> </th>
                            <th class="uk-text-center" style="color: darkturquoise;">Usage as Collateral Enabled</th>
                            <th class="uk-text-center" style="color: darkturquoise;">Borrowing Enabled</th>
                            <th class="uk-text-center" style="color: darkturquoise;">Stable Borrow Enabled</th>
                            <th class="uk-text-center" style="color: mediumvioletred; font-size:14px;" > LTV </th>
                            <th class="uk-text-center" style="color: mediumvioletred; font-size:14px;">Liquidation Threshold</th>
                            <th class="uk-text-center" style="color: mediumvioletred; font-size:14px;">Liquidation Bonus</th>
                            <th class="uk-text-center"> <span style="color:yellow; font-weight: 700; font-size:13px;"> $SIGH </span>  <span style="color:chartreuse; font-weight: 700; font-size:14px;"> Mechanism Activated </span>  </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- live instruments content -->
                        <tr v-for="instrument in instruments">
                            <td class="uk-text-center c-white" style="line-height: 4;" >{{ instrument.underlyingInstrumentSymbol }}</td>
                            <td v-if="instrument.isActive" class="uk-text-center c-green" style="line-height: 4;" > {{ instrument.isActive }} </td>
                            <td v-if="!instrument.isActive" class="uk-text-center c-red" style="line-height: 4;" > {{ instrument.isActive }} </td>
                            <td v-if="instrument.isFreezed" class="uk-text-center c-green" style="line-height: 4;" > {{ instrument.isFreezed }} </td>
                            <td v-if="!instrument.isFreezed" class="uk-text-center c-red" style="line-height: 4;" > {{ instrument.isFreezed }} </td>
                            <td v-if="instrument.usageAsCollateralEnabled" class="uk-text-center c-green" style="line-height: 4;" > {{ instrument.usageAsCollateralEnabled }} </td>
                            <td v-if="!instrument.usageAsCollateralEnabled" class="uk-text-center c-red" style="line-height: 4;" > {{ instrument.usageAsCollateralEnabled }} </td>
                            <td v-if="instrument.borrowingEnabled" class="uk-text-center c-green" style="line-height: 4;" > {{ instrument.borrowingEnabled }} </td>
                            <td v-if="!instrument.borrowingEnabled" class="uk-text-center c-red" style="line-height: 4;" > {{ instrument.borrowingEnabled }} </td>
                            <td v-if="instrument.isStableBorrowRateEnabled" class="uk-text-center c-green" style="line-height: 4;" > {{ instrument.isStableBorrowRateEnabled }} </td>
                            <td v-if="!instrument.isStableBorrowRateEnabled" class="uk-text-center c-red" style="line-height: 4;" > {{ instrument.isStableBorrowRateEnabled }} </td>
                            <td class="uk-text-center c-white" style="line-height: 4;" >{{ instrument.baseLTVasCollateral  }} %  </td>
                            <td class="uk-text-center c-white" style="line-height: 4;" >{{ instrument.liquidationThreshold  }} % </td>
                            <td class="uk-text-center c-white" style="line-height: 4;" >{{ instrument.liquidationBonus  }} %  </td>
                            <td v-if="instrument.isSIGHMechanismActivated" class="uk-text-center c-green" style="line-height: 4;" > {{ instrument.isSIGHMechanismActivated }} </td>
                            <td v-if="!instrument.isSIGHMechanismActivated" class="uk-text-center c-red" style="line-height: 4;" > {{ instrument.isSIGHMechanismActivated }} </td>
                        </tr>
                    </tbody>
                </table>
            <!-- </div> -->
        </div>
    </template>
    
</div>