      <section class="newsletter" style="margin-top:24px;">
        <div class="container">

          <div class="container contact-wrapper text-slate" style="border-radius: 20px;
          background-color: rgb(255, 255, 255);
          box-shadow: rgba(107, 83, 254, 0.1) 0px 0px 94px 6px;">
                <div class="row text-center mb-4 pt-5">
                    <h4 class="col-12 text-slate-dark heading-bigger mb-4">
                        Get The Latest Updates
                    </h4>
                </div>

                <div class="row justify-content-center">
                    <form action="" class="col-12 col-lg-7">
                        <div class="contact-container__email-bg">
                            <input
                                type="email"
                                class="contact-container__email-input col-sm-12 col-lg-8 py-2 py-lg-4"
                                placeholder="Enter your Email address"
                            />
                        </div>
                        <input
                        type="submit"
                        class="contact-container__submit col-12 col-lg-3 my-3 my-lg-0 py-lg-4"
                        value="Send message"
                        />
                    </form>
                </div>

            <div class="row text-center mt-lg-4 pb-5">
              <p class="col-12 mb-sm-4 mb-md-4">
                Become part of our ever growing community.
                <a
                  href="https://t.me/ShieldDAO"
                  target="_blank"
                  title="Join our telegram group"
                >
                  Join us on Telegram.
                </a>
              </p>
            </div>

          </div>
          
        </div>
      </section>
  