<div class="borrow-order">
    <div class="f1-form-grid" style="position: relative;">
        <!-- IMPLEMENTING  -->
        <div class="cs-tab-3  uk-position-relative " style=" padding-left: 9px; padding-right: 9px; padding-top: 12px;">

            <div id="subtab-limit" :title-link-class="'tab-title-class'"  style="padding-left: 20%;"  >
                <tab-bar :mobileDropdown=false :tabs=tabs @tab-change="activeTabChange" />
            </div>

            <keep-alive>
                <repayQuantity v-if="activeTab === 'Quantity'" />
                <repayAmount v-if="activeTab === 'Amount'" />
            </keep-alive>
            
        </div>
    </div>
</div> 