        <!-- Google Tag Manager (noscript) -->
        <!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PJ9P5PX"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> change GTM-PJ9P5PX to your -->
        <!-- End Google Tag Manager (noscript) -->

        <!-- start header -->
<div class="mainPage">        

        <!-- SHAPING THE IMPACT OF EMERGING TECH PANEL -->
        <modal-box internalComponent="contact" :show='contactModalShown' @modal-closed='toggleContactModal' />

        <section class="wow fadeIn bg-black">
            <div class="container" style="padding-top: 2%;" >
                <div class="row align-items-center"  >
                    <div class="col-12 col-lg-7 md-margin-50px-bottom">
                        <h1>
                            <img class="img-responsive" style="width: 200%;" src="./img/home-landing.png" alt="Making Inter-Galactic ">
                        </h1>

                        <h6 class="alt-font text-white font-weight-300" style="font-size: 20px;"> 
                            <span style="line-height: 24px;font-size: 24px; font-weight:600; color:chartreuse; display: contents;" > &#128104;&#8205;&#127806; SIGH FINANCE  &#128104;&#8205;&#127806; </span> is a financially engineered money-market protocol designed to address the loss potential due to the price volatility of the supported financial instruments. 
                        </h6>
                        <h6 class="alt-font text-white font-weight-300" style="font-size: 20px;"> 
                            Protocol Participants <span style="line-height: 24px;font-size: 20px; color:lawngreen; display: contents;" >  FARM </span> <span style="line-height: 24px;font-size: 20px; font-weight:600; color:yellow; display: contents;" >  &#127806;  $SIGH &#127806; </span> whenever the market moves <span style="line-height: 24px;font-size: 20px; color:red; display: contents;" >  against </span> their current position!
                        </h6>
                        <h6 class="alt-font text-white font-weight-240" style="font-size: 15px; margin-top: 11px; margin-bottom: 11px;"> 
                            >  <span style="line-height: 24px;font-size: 15px; color:cornsilk; display: contents;" > SUPPLIERS </span> earn interest regularly and <span style="line-height: 24px;font-size: 15px; color:lawngreen; display: contents;">  &#x1F69C; FARM </span> <span style="line-height: 24px;font-size: 15px; font-weight:600; color:yellow; display: contents;" > $SIGH &#127806; </span>  whenever the price of the deposited instrument <span style="line-height: 24px;font-size: 15px; color:red; display: contents;" >  decreases </span>  over a 24 hour period. 
                        </h6>   
                        <h6 class="alt-font text-white font-weight-240" style="font-size: 15px; margin-top: 11px; margin-bottom: 11px;">
                             >  <span style="line-height: 24px;font-size: 15px; color:cornsilk; display: contents;" > BORROWERS </span> pay interest regularly and<span style="line-height: 24px;font-size: 15px; color:lawngreen; display: contents;">  &#x1F69C; FARM </span> <span style="line-height: 24px;font-size: 15px; font-weight:600; color:yellow; display: contents;" > $SIGH &#127806; </span> whenever the price of the borrowed instrument <span style="line-height: 24px;font-size: 15px; color:lawngreen; display: contents;" >  increases </span>  over a 24 hour period. 
                        </h6>   
                        <h6 class="alt-font text-white font-weight-240" style="font-size: 15px; margin-top: 11px; margin-bottom: 11px;"> 
                            > Both interest being earned and the $SIGH tokens can be streamed to other accounts. 
                        </h6>   
                        <h6 class="alt-font text-white font-weight-240" style="font-size: 15px; margin-top: 11px; margin-bottom: 11px;"> 
                            > A "$SIGH FARM" where participants / farmers can sell their "$SIGH Harvests" ( market-bets with python Notebooks support) 
                        </h6>   
                        <h6 class="alt-font text-white font-weight-300" style="font-size: 18px;"> 
                            Details regarding the <span class=" alt-font text-gradient-2 font-weight-700" > 'SIGH FINANCE Protocol' </span>will be shared soon.  
                        </h6>
                        <!-- <class="btn btn-black-alt btn-medium text-extra-small border-radius-4 margin-20px-top"><i class="fas fa-play-circle icon-very-small margin-5px-right no-margin-left" aria-hidden="true"></i> Enter TRADE Terminal</a> -->
                        <!-- <router-link to="/Trade" class="btn btn-black-alt btn-medium text-extra-small border-radius-4 margin-20px-top"><i class="fas fa-play-circle icon-very-small margin-5px-right no-margin-left" aria-hidden="true"></i> 
                            <span class="terminal-gradient-3" style="font-size: 18px;"> Enter Trade Terminal (Currently in BETA)</span>
                        </router-link> -->
                    </div>
                    <div class="col-12 col-lg-5 text-center">
                        <img class="img-responsive" style="width: 111%;" src="./img/SIGH_FINANCE_LOGO_.png">
                        <!-- <span class="alt-font text-white font-weight-300" style="font-size: 12px;">
                        <br > <br>
                        {{martianDate}} 
                        <br> <br>
                        {{martianTime}}
                        </span> -->
                    </div>
                </div>
            </div>
        </section>
        <!-- SHAPING THE IMPACT OF EMERGING TECH PANEL -->

        <!-- <section class="wow fadeIn bg-extra-dark-gray" style="visibility: visible; animation-name: fadeIn;  padding-bottom: 60px;"> -->
        
            <!-- <section class="wow fadeIn cover-background" style="visibility: visible; animation-name: fadeIn; background-image: url(img/about-landing.jpg); background-position: 0px 98.875px; visibility: visible; animation-name: fadeIn;"> -->
                    <!-- <div class="container">
                        <div class="row align-items-center"> -->
                            
                            <!-- <div class="col-12 col-lg-4 col-md-6 sm-margin-30px-bottom wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                                <img class="padding-ten-right md-no-padding-right w-100" src="images/homepage-4-section1-img.jpg" alt="" data-no-retina="">
                            </div> -->
                            <!-- <div class="col-12 col-lg-4 text-center text-lg-left md-margin-40px-bottom sm-margin-30px-bottom wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                <h5 class="text-light-gray alt-font font-weight-600 text-middle-line margin-five-bottom md-margin-5px-bottom w-50 letter-spacing-minus-3 md-width-100 md-text-middle-line">ABOUT US</h5>
                                <h5 class="text-uppercase alt-font text-gradient font-weight-700 width-75 d-block mb-0 lg-width-90 md-width-100 sm-width-100">We are a blockchain technology company</h5>
                            </div>
                            <div class="col-12 col-lg-8 col-md-6 text-center text-md-left md-padding-eight-left sm-padding-15px-left wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                                <h5 class=" alt-font text-gradient font-weight-400 d-block mb-0 lg-width-90 md-width-100 sm-width-100">We provide custom blockchain solutions and development services to take your business a step ahead.</h5><br>
                                <p class=" lead alt-font text-white-2 font-weight-400 d-block mb-0 lg-width-90 md-width-100 sm-width-100">We are a blockchain company that aims at unlocking the potential of decentralized technology for businesses. Our highly experienced and talented team offers consultancy to identify opportunities for efficient blockchain technology implementation after which our solutions team works on customized products based on sector.</p> -->
                                <!-- <a href="about-us-classic.html" class="alt-font text-uppercase font-weight-600 text-link-white text-deep-pink-hover text-white-2 text-small">Know more <i class="fas fa-long-arrow-alt-right margin-5px-left text-deep-pink text-medium position-relative top-2" aria-hidden="true"></i></a> -->
                            <!-- </div>
                        </div>
                    </div> -->
                <!-- <div class="container" style="margin-top: 80px">                                
                    <div class="row"> -->
                        <!-- start service item -->
                        <!-- <div class="col-12 col-lg-4 col-md-6 text-center last-paragraph-no-margin margin-70px-bottom md-margin-40px-bottom sm-margin-30px-bottom wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">                       
                            <i class="icon-desktop icon-extra-medium margin-20px-bottom"></i>
                            <div class="text-deep-pink margin-10px-bottom md-margin-5px-bottom alt-font font-weight-600 text-extra-large">BLOCKCHAIN CONSULTANCY</div>
                            <p class="width-80 mx-auto sm-width-100 text-white-2">We help businesses understand the potential of blockchain to change the way business operations are run with the help of our experienced Blockchain consultants.</p>                      
                        </div> -->
                        <!-- end service item -->
                        <!-- start service item -->
                        <!-- <div class="col-12 col-lg-4 col-md-6 text-center last-paragraph-no-margin margin-70px-bottom md-margin-40px-bottom sm-margin-30px-bottom wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">                       
                            <i class="icon-tools icon-extra-medium margin-20px-bottom"></i>
                            <div class="text-deep-pink margin-10px-bottom md-margin-5px-bottom alt-font font-weight-600 text-extra-large">ENTERPRISE BLOCKCHAIN DEVELOPMENT</div>
                            <p class="width-80 mx-auto sm-width-100 text-white-2">Our enterprise blockchain solutions can help companies improve business performance by increasing speed and efficiency, reliability and trust, security and cost.</p>                      
                        </div> -->
                        <!-- end service item -->
                        <!-- start service item -->
                        <!-- <div class="col-12 col-lg-4 col-md-6 text-center last-paragraph-no-margin sm-margin-30px-bottom wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">                       
                            <i class="icon-scissors icon-extra-medium margin-20px-bottom"></i>
                            <div class="text-deep-pink margin-10px-bottom md-margin-5px-bottom alt-font font-weight-600 text-extra-large">MIGRATION AND UPGRADES</div>
                            <p class="width-80 mx-auto sm-width-100 text-white-2">We move existing solutions to the blockchain by creating a roadmap for testing, migration, and updating ensuring the business processes keep running without having any downtime.</p>                      
                        </div>  -->
                        <!-- end service item -->
                    <!-- </div>
                </div> -->
            <!-- </section> -->
    
        <!-- WE ARE A VENTURE STUDIO SECTION -->
        <section class="wow fadeIn bg-extra-dark-gray" style="visibility: visible; animation-name: fadeIn;  ">
            <!-- <section class="wow fadeIn cover-background" style="visibility: visible; animation-name: fadeIn; background-image: url(img/about-landing.jpg); background-position: 0px 98.875px; visibility: visible; animation-name: fadeIn;"> -->
                    <!-- <div class="container">
                        <div class="row align-items-center"> -->
                            <!-- <div class="col-12 col-lg-4 col-md-6 sm-margin-30px-bottom wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                                <img class="padding-ten-right md-no-padding-right w-100" src="images/homepage-4-section1-img.jpg" alt="" data-no-retina="">
                            </div> -->
                            <!-- <div class="col-12 col-lg-4 text-center text-lg-left md-margin-40px-bottom sm-margin-30px-bottom wow fadeIn" style="visibility: visible; animation-name: fadeIn; float: left;"> -->
                                <!-- <h5 class="text-light-gray alt-font font-weight-600 text-middle-line margin-five-bottom md-margin-5px-bottom w-50 letter-spacing-minus-3 md-width-100 md-text-middle-line">ABOUT US</h5> -->
                                <!-- <img src="./img/blockchain-venture-studio.png" style="width: 200%;"> -->
                                <!-- <h5 class="text-uppercase alt-font text-gradient font-weight-700 width-75 d-block mb-0 lg-width-90 md-width-100 sm-width-100">We are a blockchain Venture Studio</h5> -->
                            <!-- </div>
                            <div class="col-12 col-lg-8 col-md-6 text-center text-md-left md-padding-eight-left sm-padding-15px-left wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                                <h5 class=" alt-font text-white-2 font-weight-400 d-block mb-0 lg-width-90 md-width-100 sm-width-100">Creating the tomorrow, Now.</h5><br>
                                <p class=" lead alt-font text-white-2 font-weight-400 d-block mb-0 lg-width-90 md-width-100 sm-width-100">Our Goal is to fasten the transition of 
                                    human civilization into a multi-planetary species. With the success of SpaceX in reducing the cost of space travel complemented with more on-going developments,
                                     our innate capabilites when it comes to space exploration have undergone rapid progress within the past few years. 
                                     <br> <br>
                                     We aim to take the spirit of space exploration further by developing techno-conscious life habitable environments in space for humans. 
                                     <br> <br> Our stated scope includes establishing   <span class=" alt-font text-gradient font-weight-700 lg-width-90 md-width-100 sm-width-100" > Research Labs on Moon  </span> 
                                     <span> and </span>
                                     <span class=" alt-font text-gradient font-weight-700" > Colonizing Mars </span> -->
                                     <!-- <br> OWe plan to establish a fully self-sufficient human colony in space by 2035. The scope of the stated objective also includes studying how different planetary environments may affect human evolution and the reproduction cycle." -->
                                <!-- </p>   <br> -->
                                <!-- <p class=" lead alt-font text-white-2 font-weight-400 d-block mb-0 lg-width-90 md-width-100 sm-width-100">“To pursue our stated objectives, we are currently building an ecosystem which will be able to financially support space-tech oriented Startups"</p>
                                </p> -->
                                <!-- <a href="about-us-classic.html" class="alt-font text-uppercase font-weight-600 text-link-white text-deep-pink-hover text-white-2 text-small">Know more <i class="fas fa-long-arrow-alt-right margin-5px-left text-deep-pink text-medium position-relative top-2" aria-hidden="true"></i></a> -->
                            <!-- </div>
                        </div>
                    </div> -->
                    <!-- BOOTSTRAPPING OURSELVES -->
                    <div class="container" style="margin-top: 24px">
                        <div class="row align-items-center">
                            <div class="col-12 col-lg-4 text-center text-lg-left md-margin-40px-bottom sm-margin-30px-bottom wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                <img src="./img/CAAS_img.png" style="width: 96%;">
                            </div>
                            <div class="col-12 col-lg-8 col-md-6 text-center text-md-left md-padding-eight-left sm-padding-15px-left wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                                <h5 class="text-uppercase alt-font text-gradient font-weight-700 width-75 d-block mb-0 lg-width-90 md-width-100 sm-width-100" style="padding-bottom: 24px;" > SIGH FINANCE : Engineered To Be Profitable! </h5>
                                <!-- <h5 class=" alt-font text-white-2 font-weight-400 d-block mb-0 lg-width-90 md-width-100 sm-width-100">BootStrapping ourselves with Trade-Alogs</h5><br> -->
                                <p class=" lead alt-font text-white-2 font-weight-400 d-block mb-0 lg-width-90 md-width-100 sm-width-100">As part of our R&D initiative, we are building <em> SIGH FINANCE, a protocol that supports an integrated financially engineered liquidity mining pipeline controlled by A.I models to fulfill a certain objective, </em>  agreed upon by the network participants. 
                                <br> <br> To fulfill its objective, Sigh Finance's liquidity mining pipeline will regulate the distibution of <em style="color: orange;">  SIGH Tokens, an inflationary crypto-asset supporting an inflation rate which is designed to act as self-distributing store of value,</em>  across the qualifying market participants.
                                <br> <br> -> During its initial Launch, Sigh Finance's liquidity mining pipeline will cater to a pre-defined objective which involves minimizing losses (if any) incurred by the network participants due to the inherent volatility of the underlying crypto-assets. </p>
                                 <!-- <a href="about-us-classic.html" class="alt-font text-uppercase font-weight-600 text-link-white text-deep-pink-hover text-white-2 text-small">Know more <i class="fas fa-long-arrow-alt-right margin-5px-left text-deep-pink text-medium position-relative top-2" aria-hidden="true"></i></a> -->
                            </div>
                        </div>
                    </div>                           
                    <!-- WE BOOST IDEAS -->
                    <div class="container" style="margin-top: 50px">
                        <div class="row align-items-center">
    
                            <!-- <div class="col-12 col-lg-4 col-md-6 sm-margin-30px-bottom wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                                <img class="padding-ten-right md-no-padding-right w-100" src="images/homepage-4-section1-img.jpg" alt="" data-no-retina="">
                            </div> -->
                            <div class="col-12 col-lg-4 text-center text-lg-left md-margin-40px-bottom sm-margin-30px-bottom wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                <!-- <h5 class="text-uppercase alt-font text-gradient font-weight-700 width-75 d-block mb-0 lg-width-90 md-width-100 sm-width-100">We BOOST IDEAS</h5> -->
                                <img src="./img/face-dotted.png" style="width: 70%; opacity: 0.7;">
    
                            </div>
                            <div class="col-12 col-lg-8 col-md-6 text-center text-md-left md-padding-eight-left sm-padding-15px-left wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                                <h5 class="text-uppercase alt-font text-gradient font-weight-700 width-75 d-block mb-0 lg-width-90 md-width-100 sm-width-100" style="padding-bottom: 24px;" > Governance over the A.I </h5>
                                <p class=" lead alt-font text-white-2 font-weight-400 d-block mb-0 lg-width-90 md-width-100 sm-width-100" style="font-family: Montserrat;">
                                     <!-- When it comes to the possibility of AGI, we have an agnostic stand about both AGI and God.
                               <br> <br> -->
                               Our research road-map involves actively developing and documenting different kind of A.I models which can be utilized to fulfill certain objectives agreed upon by the community participants through our governance coin, <em>GSIGH </em>.  </p> 
                                <!-- <br> <br> We are working towards creating mom Singularity actually happening should coincide with humans developing the means to evolve into multi-planetary species    -->
                                <!-- <a href="about-us-classic.html" class="alt-font text-uppercase font-weight-600 text-link-white text-deep-pink-hover text-white-2 text-small">Know more <i class="fas fa-long-arrow-alt-right margin-5px-left text-deep-pink text-medium position-relative top-2" aria-hidden="true"></i></a> -->
                            </div>
                        </div>
                    </div>                       
                <!-- </div>    -->

        </section>
                <!-- WE ARE A VENTURE STUDIO SECTION -->
            
       
        <!-- Process -->
        <!-- <section class="wow fadeIn bg-black" style="visibility: visible; animation-name: fadeIn;">
            <div class="container tab-style4">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-3 col-md-3 pr-0 position-relative z-index-1"> -->
                        <!-- start tab navigation -->
                        <!-- <ul class="nav nav-tabs alt-font text-uppercase text-small font-weight-600">
                            <li class="nav-item"><a class="nav-link active" href="#tab-four1" data-toggle="tab">Clarifying Needs</a></li>
                            <li class="nav-item"><a class="nav-link" href="#tab-four2" data-toggle="tab">Strategy & Concept Workshop</a></li>
                            <li class="nav-item"><a class="nav-link" href="#tab-four3" data-toggle="tab">Design & Development</a></li>
                            <li class="nav-item"><a class="nav-link" href="#tab-four4" data-toggle="tab">Launch</a></li>
                            <li class="nav-item"><a class="nav-link" href="#tab-four5" data-toggle="tab">Support & Further Growth</a></li>
                        </ul> -->
                        <!-- end tab navigation -->
                    <!-- </div>
                    <div class="col-12 col-lg-9 col-md-9 pl-0">
                        <div class="tab-content"> -->
                            <!-- start tab content -->
                            <!-- <div class="tab-pane med-text fade in active show" id="tab-four1">
                                <div class="row align-items-center">
                                    
                                    <div class="col-12 col-lg-5 col-md-6 offset-lg-1">
                                        <h6 class="alt-font font-weight-700 text-white-2 margin-20px-bottom text-uppercase">PROCESS #1</h6>
                                        <h5 class="alt-font font-weight-700 text-gradient margin-20px-bottom text-uppercase">CLARIFYING NEEDS</h5> -->
                                        <!-- <p class="text-white-2 alt-text">We gather initial requirements during an introductory call or meeting. The project gets a size assessment to clarify the approximate budget and time range for its implementation.</p> -->
                                        <!-- <a href="javascript:void(0);" class="btn btn-small btn-rounded btn-dark-gray">Explore services</a> -->
                                    <!-- </div>
                                    <div class="col-12 col-md-6 sm-margin-30px-bottom">
                                        <p class="text-white-2 alt-text">We gather initial requirements during an introductory call or meeting. The project gets a size assessment to clarify the approximate budget and time range for its implementation.</p>
                                        <p class=" lead alt-font font-weight-700 text-white-2 margin-20px-bottom text-uppercase">DELIVERABLES</p>
                                        <ul class="p-0 list-style-4">
                                            <li>&nbsp;Product design workshop</li>
                                            <li>&nbsp;Public blockchain network integration</li>
                                            <li>&nbsp;Permissioned and Permissionless blockchain development</li>
                                        </ul>        
                                    </div>
                                </div>
                            </div> -->
                            <!-- end tab content -->
                            <!-- start tab content -->
                            <!-- <div class="tab-pane fade in" id="tab-four2">
                                <div class="row align-items-center">
                                    
                                    <div class="col-12 col-lg-5 col-md-6 offset-lg-1">
                                        <h6 class="alt-font font-weight-700 text-white-2 margin-20px-bottom text-uppercase">PROCESS #2</h6>
                                        <h5 class="alt-font font-weight-700 text-gradient margin-20px-bottom text-uppercase">STRATEGY & CONCEPT WORKSHOP</h5> -->
                                        <!-- <p class="text-white-2 alt-text">We gather initial requirements during an introductory call or meeting. The project gets a size assessment to clarify the approximate budget and time range for its implementation.</p> -->
                                        <!-- <a href="javascript:void(0);" class="btn btn-small btn-rounded btn-dark-gray">Explore services</a> -->
                                    <!-- </div>
                                    <div class="col-12 col-md-6 sm-margin-30px-bottom">
                                        <p class="text-white-2 alt-text">Together with a team of subject matter experts, business analysts, tech and product leads we define existing and desired business processes, transform business needs into functional requirements, identify risks and limitations, create the initial vision of the architecture and technology stack to be used.</p>
                                        <p class=" lead alt-font font-weight-700 text-white-2 margin-20px-bottom text-uppercase">DELIVERABLES</p>
                                        <ul class="p-0 list-style-4">
                                            <li>&nbsp;Documented features and requirements for MVP</li>
                                            <li>&nbsp;Clickable prototype for most important system use-cases (optional)</li>
                                            <li>&nbsp;Project plan with risks, budgeting and release strategy</li>
                                            <li>&nbsp;Development proposal, SOW</li>
                                        </ul>        
                                    </div>
                                </div>
                            </div> -->
                            <!-- end tab content -->
                            <!-- start tab content -->
                            <!-- <div class="tab-pane fade in" id="tab-four3">
                                <div class="row align-items-center">
                                    
                                    <div class="col-12 col-lg-5 col-md-6 offset-lg-1">
                                        <h6 class="alt-font font-weight-700 text-white-2 margin-20px-bottom text-uppercase">PROCESS #3</h6>
                                        <h5 class="alt-font font-weight-700 text-gradient margin-20px-bottom text-uppercase">DESIGN & DEVELOPMENT</h5> -->
                                        <!-- <p class="text-white-2 alt-text">We gather initial requirements during an introductory call or meeting. The project gets a size assessment to clarify the approximate budget and time range for its implementation.</p> -->
                                        <!-- <a href="javascript:void(0);" class="btn btn-small btn-rounded btn-dark-gray">Explore services</a> -->
                                    <!-- </div>
                                    <div class="col-12 col-md-6 sm-margin-30px-bottom">
                                        <p class="text-white-2 alt-text">Once the project is confirmed for implementation we gather a product engineering team, assign a dedicated project manager and business analyst. We use agile methodologies for iterative development and close communication between the project team and the client.</p>
                                        <p class=" lead alt-font font-weight-700 text-white-2 margin-20px-bottom text-uppercase">DELIVERABLES</p>
                                        <ul class="p-0 list-style-4">
                                            <li>&nbsp;The product ready for production deployment</li>
                                            <li>&nbsp;Product documentation describing features</li>
                                            <li>&nbsp;Technical documentation (optional)</li>
                                            <li>&nbsp;Release plan</li>
                                        </ul>        
                                    </div>
                                </div>
                            </div> -->
                            <!-- end tab content -->
                            <!-- start tab content -->
                            <!-- <div class="tab-pane fade in" id="tab-four4">
                                <div class="row align-items-center">
                                    
                                    <div class="col-12 col-lg-5 col-md-6 offset-lg-1">
                                        <h6 class="alt-font font-weight-700 text-white-2 margin-20px-bottom text-uppercase">PROCESS #4</h6>
                                        <h5 class="alt-font font-weight-700 text-gradient margin-20px-bottom text-uppercase">LAUNCH</h5> -->
                                        <!-- <p class="text-white-2 alt-text">We gather initial requirements during an introductory call or meeting. The project gets a size assessment to clarify the approximate budget and time range for its implementation.</p> -->
                                        <!-- <a href="javascript:void(0);" class="btn btn-small btn-rounded btn-dark-gray">Explore services</a> -->
                                    <!-- </div>
                                    <div class="col-12 col-md-6 sm-margin-30px-bottom">
                                        <p class="text-white-2 alt-text">When the product is ready for production release, we plan out the launch in sync with marketing, sales, devops and customer support teams. We also set up system health checks and define support and maintenance processes to ensure smooth operation of the system.</p>
                                        <p class=" lead alt-font font-weight-700 text-white-2 margin-20px-bottom text-uppercase">DELIVERABLES</p>
                                        <ul class="p-0 list-style-4">
                                            <li>&nbsp;Product launch in production environment</li>
                                            <li>&nbsp;Support and maintenance processes</li>
                                        </ul>        
                                    </div>
                                </div>
                            </div> -->
                            <!-- end tab content -->
                            <!-- start tab content -->
                            <!-- <div class="tab-pane fade in" id="tab-four5">
                                <div class="row align-items-center">
                                    
                                    <div class="col-12 col-lg-5 col-md-6 offset-lg-1">
                                        <h6 class="alt-font font-weight-700 text-white-2 margin-20px-bottom text-uppercase">PROCESS #5</h6>
                                        <h5 class="alt-font font-weight-700 text-gradient margin-20px-bottom text-uppercase">SUPPORT & FURTHER GROWTH</h5> -->
                                        <!-- <p class="text-white-2 alt-text">We gather initial requirements during an introductory call or meeting. The project gets a size assessment to clarify the approximate budget and time range for its implementation.</p> -->
                                        <!-- <a href="javascript:void(0);" class="btn btn-small btn-rounded btn-dark-gray">Explore services</a> -->
                                    <!-- </div>
                                    <div class="col-12 col-md-6 sm-margin-30px-bottom">
                                        <p class="text-white-2 alt-text">It all starts with the successful launch. We offer support and maintenance services, as well as dedicated and extended teams that help you grow and expand your product further.</p>
                                        <p class=" lead alt-font font-weight-700 text-white-2 margin-20px-bottom text-uppercase">DELIVERABLES</p>
                                        <ul class="p-0 list-style-4">
                                            <li>&nbsp;Support and Maintenance process</li>
                                            <li>&nbsp;SLA contract</li>
                                            <li>&nbsp;Dedicated/Extended Team proposal</li>
                                        </ul>        
                                    </div>
                                </div>
                            </div> -->
                            <!-- end tab content -->
                        <!-- </div>
                    </div>       
                </div>                                
            </div>
        </section> -->



        <!-- CTA -->
        <!-- <section class="wow fadeIn bg-extra-dark-gray" style="visibility: visible; animation-name: fadeIn;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8 col-md-10 text-center">
                        <h5 class="alt-font text-uppercase font-weight-600 text-gradient-2 width-80 mx-auto margin-35px-bottom lg-width-100 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp; float: left; ">HOW MAY WE ASSIST YOU TODAY?</h5> -->
                        <!-- <div> -->
                            <!-- <a class="typeform-share button btn btn-medium btn-rounded btn-dark-gray wow fadeInUp" href="javascript:undefined" @click="toggleContactModal"><span>CONTACT</span></a>  -->
                        <!-- </div> -->

                        <!-- <a class="typeform-share button btn btn-medium btn-rounded btn-dark-gray wow fadeInUp" href="https://block42.typeform.com/to/mWGD8O" data-mode="popup" data-wow-delay="0.2s" style="visibility: visible;">CONTACT</a> -->
                    <!-- </div>
                </div>
            </div>
        </section> -->

        <faqs/>

        <!-- start footer footer-classic-dark to find -->
        <footer class="footer-classic-dark bg-black ">
            <div class="bg-black padding-50px-tb sm-padding-30px-tb">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- start slogan -->
                        <div class="col-lg-4 col-md-5 text-center alt-font sm-margin-15px-bottom" style="color:aliceblue">
                            © SighFinance 2020. All rights reserved.
                        </div>
                        <!-- end slogan -->
                        <!-- start logo -->
                        <div class="col-lg-4 col-md-2 text-center sm-margin-10px-bottom">
                            <a href="http://sigh.finance"><img class="footer-logo" style="opacity: 0.5;" src="./img/SIGH_LOGO.png" data-rjs="img/SIGH_LOGO.png" alt="sigh.finance"></a>
                        </div>
                        <!-- end logo -->
   
                    </div>
                </div>
            </div>
        </footer>
</div>
        <!-- end footer -->
        <!-- start scroll to top -->
        <!-- <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a> -->
        <!-- end scroll to top  -->
        <!-- javascript libraries -->

        <!-- // CONTAINS MARS TIME CALCULATIONS -->


        <!-- Typeform -->
        <!-- <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
    </body>
</html> -->
