thead {
  width: calc(100% - 51px);
  display: table;
  text-align: left;
}
tbody {
  width: calc(100% - 51px);
  display: table;
  text-align: left;
}
// thead tr {
//   width: 100%;
//   color: var(--primary-text-color);
//   text-align: left;
//   text-transform: uppercase;
// }
thead tr {
  width: calc(100% - 20px);
  border-bottom: beige solid 2px;  
}

#simpleBarContainer {
  max-height: 200px;
  min-height: 150px;
  height: fit-content;
}
table {
  width: 100%;
  display: block;
}
th {
  margin-left: 10px;
  color: var(--primary-text-color);
  // text-transform: uppercase;
  padding-top: 2px;
  padding-bottom: 2px;
}

td {
  color: mintcream;
  padding-top: 5px;
  padding-bottom: 5px;
}

tbody tr td {
  width: 15%;
  color: aliceblue;
  padding-top: 0px;
  padding-bottom: 0px;
}
thead th {
  border-bottom: 1px solid wheat; // var(--border-bottom-color);
  width: 15%;
  font-weight: 400;
  color: gold;  
  font-size: smaller;  
}

tbody tr {
  width: calc(100% - 10px);
  table-layout: fixed;
  border-bottom: white dotted 0.5px;  
}

// #line {
//   border-bottom: 1px solid var(--border-bottom-color);
// }

tr:hover {
  color: var(--primary-text-color) !important;
}

#tab-a3 {
  margin-top: -20px;
  margin-right: -20px;
}

.center {
  text-align: center;
}




















