<div id="tab-a3 noHorizontal" class="tikertab-content"> 
    <div class="sv-table-wrapper ticker-table cs-table-1">

        <table class="sv-table display nowrap" style="width:100%" data-scroll-y="291px">
            <thead class="uk-visible">
                <tr>
                    <th class="uk-text-center">Instrument</th>
                    <th class="uk-text-center">Supplied</th>
                    <th class="uk-text-center">Borrowed</th>
                    <th class="uk-text-center">Supply APY</th>
                    <th class="uk-text-center">Borrow APY</th>
                    <th class="uk-text-center">$SIGH Yield</th>
                </tr>
            </thead>
            <div id="simpleBarContainer" data-simplebar data-simplebar-auto-hide="false">
            <tbody>
            <tr v-for="userInstrumentBalance in $store.state.userInstrumentStateBalances ">
                <td class="uk-text-center c-white" style="line-height: 4;" >{{ userInstrumentBalance.symbol }}</td>
                <td class="uk-text-center c-white" style="line-height: 4;" >{{ userInstrumentBalance.currentITokenBalance }}</td>
                <td class="uk-text-center c-white" style="line-height: 4;" >{{ userInstrumentBalance.currentBorrowBalance }}</td>
                <td class="uk-text-center c-white" style="line-height: 4;" >{{ userInstrumentBalance.liquidityRate }}</td>
                <td class="uk-text-center c-white" style="line-height: 4;" >{{ userInstrumentBalance.borrowRate }}</td>
                <td class="uk-text-center c-white" style="line-height: 4;" >{{ userInstrumentBalance.borrowRate }}</td>
            </tr>
                <!-- <tr>
                    <td class="uk-text-center">VUSD</td>
                    <td class="uk-text-center">4.32</td>
                    <td class="uk-text-center">1.72</td>
                    <td class="uk-text-center">6.04</td>
                    <td class="uk-text-center">6.04</td>
                </tr>
                <tr>
                    <td class="uk-text-center">VUSD</td>
                    <td class="uk-text-center">4.32</td>
                    <td class="uk-text-center">1.72</td>
                    <td class="uk-text-center">6.04</td>
                    <td class="uk-text-center">6.04</td>
                </tr>
                <tr>
                    <td class="uk-text-center">VUSD</td>
                    <td class="uk-text-center">4.32</td>
                    <td class="uk-text-center">1.72</td>
                    <td class="uk-text-center">6.04</td>
                    <td class="uk-text-center">6.04</td>
                </tr>
                <tr>
                    <td class="uk-text-center">VUSD</td>
                    <td class="uk-text-center">4.32</td>
                    <td class="uk-text-center">1.72</td>
                    <td class="uk-text-center">6.04</td>
                    <td class="uk-text-center">6.04</td>
                </tr>
                <tr>
                    <td class="uk-text-center">VUSD</td>
                    <td class="uk-text-center">4.32</td>
                    <td class="uk-text-center">1.72</td>
                    <td class="uk-text-center">6.04</td>
                    <td class="uk-text-center">6.04</td>
                </tr>
                <tr>
                    <td class="uk-text-center">VUSD</td>
                    <td class="uk-text-center">4.32</td>
                    <td class="uk-text-center">1.72</td>
                    <td class="uk-text-center">6.04</td>
                    <td class="uk-text-center">6.04</td>
                </tr>
                <tr>
                    <td class="uk-text-center">VUSD</td>
                    <td class="uk-text-center">4.32</td>
                    <td class="uk-text-center">1.72</td>
                    <td class="uk-text-center">6.04</td>
                    <td class="uk-text-center">6.04</td>
                </tr>
                <tr>
                    <td class="uk-text-center">VUSD</td>
                    <td class="uk-text-center">4.32</td>
                    <td class="uk-text-center">1.72</td>
                    <td class="uk-text-center">6.04</td>
                    <td class="uk-text-center">6.04</td>
                </tr> -->
            </tbody>
            </div>
        </table>

        <br>

        <div> 

            <fieldset>
                    <legend style="color: white;" > Aggregated Account Info</legend>
            <table>
                    <tr>
                        <td>Total Value Supplied : {{ $store.state.userProtocolBalances.totalLiquidity }} </td> 
                        <!-- <span> &nbsp &nbsp &nbsp</span> -->
                    </tr>
                    <tr>
                        <td>Total Collateral : {{ $store.state.userProtocolBalances.totalCollateral }}  </td> 
                    </tr>
                    <tr>
                        <td>Total Value Borrowed : {{ $store.state.userProtocolBalances.totalBorrows }} </td> 
                    </tr>
                    <tr>
                        <!-- <span> &nbsp &nbsp &nbsp</span> -->
                        <td>Available Borrows : {{ $store.state.userProtocolBalances.availableBorrows }}</td> 
                    </tr>
                    <tr>
                        <td>Liquidation Threshold : {{ $store.state.userProtocolBalances.currentLiquidationThreshold }} </td> 
                        <!-- <span> &nbsp &nbsp &nbsp</span> -->
                    </tr>
                    <tr>
                        <td>Loan To Value (LTV) : {{ $store.state.userProtocolBalances.ltv }} </td> 
                    </tr>
                    <tr>
                        <td>Health Factor : {{ $store.state.userProtocolBalances.healthFactor }} </td> 
                    </tr>
                    <tr>
                        <!-- <span> &nbsp &nbsp &nbsp</span> -->
                        <td>Total Fee : {{ $store.state.userProtocolBalances.totalFees }} </td> 
                    </tr>
            </table>
            </fieldset>
        </div>

        <div class="center">
            <button class="uk-button uk-button-green" style="padding: 0 17px;"  @click="refresh()">Refresh</button>
        </div>


    </div>
    <!-- <div v-if=showLoader  class="center">
            <img width="75px" src="https://image.ibb.co/dc02hd/30.gif" />
    </div> -->
</div>