<div class= "BorrowQuantity">
    <div class="f1-form-grid" style="position: relative;">
    </div> 
    
    <!-- If borrowing DISBALED -->
    <div v-if="!selectedInstrument.borrowingEnabled" style="height: 31px; margin-top: 20px; margin-bottom: 20px; padding: 2px 2px; border: aliceblue solid 0.1px; ">
        <p style="line-height: 24px; font-size: 12px; color: gold; text-align: center; " >Borrowing is currently disabled for '{{ selectedInstrument.symbol }}'!  
        </p>         
    </div>

    <!-- If borrowing ENABLED, stable borrowing ENABLED  & SIGH Mechanism ENABLED -->
    <div v-if="selectedInstrument.borrowingEnabled && selectedInstrument.stableBorrowRateEnabled && selectedInstrument.isSIGHMechanismActivated" style="height: 171px; margin-top: 20px; margin-bottom: 20px; padding: 2px 2px; border: aliceblue solid 0.1px; ">
        <p style="line-height: 24px; font-size: 12px; color: gold;" > You can Borrow '{{ selectedInstrument.symbol }}'  at <span style="line-height: 24px;font-size: 12px; color:darkturquoise; display: contents;" >{{ Number(selectedInstrument.stableBorrowInterestPercent).toFixed(2) }}  % </span> <span style="line-height: 24px;font-size: 12px; color:darkturquoise; display: contents;" > (STABLE) </span> and <span style="line-height: 24px;font-size: 12px; color:darkturquoise; display: contents;" >{{ Number(selectedInstrument.variableBorrowInterestPercent).toFixed(2) }} % </span> 
            <span style="line-height: 24px;font-size: 12px; color:darkturquoise; display: contents;" > (VARIABLE) </span> Interest Rates!
            <br> <br>
            <span  style="line-height: 24px;font-size: 14.2px; color:greenyellow; display: contents; font-weight: 500;" > &#x1F69C; $SIGH BORROWING STREAM  :  </span>  You  <span style="line-height: 24px;font-size: 12px; color:chartreuse; display: contents;" > Farm $SIGH &#127806; </span> whenever the price of '{{ selectedInstrument.symbol }}' <span style="line-height: 24px;font-size: 12px; color:lawngreen; display: contents;" >INCREASES (+)</span> over a 24 Hr period to hedge Volatility Risks against your Borrowed <span style="line-height: 24px;font-size: 12px; color:red; display: contents;" >(SHORT)</span> Position! 
            <br> 
             Read more about it here :-  
        </p>         
    </div>

    <!-- If borrowing ENABLED, stable borrowing ENABLED  & SIGH Mechanism DISABLED -->
    <div v-if="selectedInstrument.borrowingEnabled && selectedInstrument.stableBorrowRateEnabled && !selectedInstrument.isSIGHMechanismActivated" style="height: 147px; margin-top: 20px; margin-bottom: 20px; padding: 2px 2px; border: aliceblue solid 0.1px; ">
        <p style="line-height: 24px; font-size: 12px; color: gold;" > You can Borrow '{{ selectedInstrument.symbol }}'  at <span style="line-height: 24px;font-size: 12px; color:darkturquoise; display: contents;" >{{ Number(selectedInstrument.stableBorrowInterestPercent).toFixed(2) }}  % </span> <span style="line-height: 24px;font-size: 12px; color:darkturquoise; display: contents;" > (STABLE) </span> and <span style="line-height: 24px;font-size: 12px; color:darkturquoise; display: contents;" >{{ Number(selectedInstrument.variableBorrowInterestPercent).toFixed(2) }} % </span> 
            <span style="line-height: 24px;font-size: 12px; color:darkturquoise; display: contents;" > (VARIABLE) </span> Interest Rates!
            <br> <br>
            <span  style="line-height: 24px;font-size: 14.2px; color:greenyellow; display: contents; font-weight: 500;" > &#x1F69C; $SIGH BORROWING STREAM :  </span>  You  <span style="line-height: 24px;font-size: 12px; color:chartreuse; display: contents;" > Farm $SIGH &#127806; </span> as Staking Rewards over your Borrowed '{{ selectedInstrument.symbol }}' Amount!
            <br> 
             Read more about it here :-  
        </p>         
    </div>

    <!-- If borrowing enabled, stable borrowing DISABLED  & SIGH Mechanism ENABLED -->
    <div v-if="selectedInstrument.borrowingEnabled && !selectedInstrument.stableBorrowRateEnabled && selectedInstrument.isSIGHMechanismActivated" style="height: 147px; margin-top: 20px; margin-bottom: 20px; padding: 2px 2px; border: aliceblue solid 0.1px; ">
        <p style="line-height: 24px; font-size: 12px; color: gold;" > You can Borrow '{{ selectedInstrument.symbol }}'  at <span style="line-height: 24px;font-size: 12px; color:darkturquoise; display: contents;" >{{ Number(selectedInstrument.variableBorrowInterestPercent).toFixed(2) }} % </span> 
            <span style="line-height: 24px;font-size: 12px; color:darkturquoise; display: contents;" > (VARIABLE) </span> Interest Rate!
            <br> <br>
            <span  style="line-height: 24px;font-size: 14.2px; color:greenyellow; display: contents; font-weight: 500;" > &#x1F69C; $SIGH BORROWING STREAM :  </span>  You  <span style="line-height: 24px;font-size: 12px; color:chartreuse; display: contents;" > Farm $SIGH &#127806; </span> whenever the price of '{{ selectedInstrument.symbol }}' <span style="line-height: 24px;font-size: 12px; color:lawngreen; display: contents;" >INCREASES (+)</span> over a 24 Hr period to hedge Volatility Risks against your Borrowed <span style="line-height: 24px;font-size: 12px; color:red; display: contents;" >(SHORT)</span> Position! 
            <br> 
             Read more about it here :-  
        </p>         
    </div>

    <!-- If borrowing enabled, stable borrowing DISABLED   & SIGH Mechanism DISABLED  -->
    <div v-if="selectedInstrument.borrowingEnabled && !selectedInstrument.stableBorrowRateEnabled && !selectedInstrument.isSIGHMechanismActivated" style="height: 124px; margin-top: 20px; margin-bottom: 20px; padding: 2px 2px; border: aliceblue solid 0.1px; ">
        <p style="line-height: 24px; font-size: 12px; color: gold;" > You can Borrow '{{ selectedInstrument.symbol }}'  at <span style="line-height: 24px;font-size: 12px; color:darkturquoise; display: contents;" >{{ Number(selectedInstrument.variableBorrowInterestPercent).toFixed(2) }} % </span> 
            <span style="line-height: 24px;font-size: 12px; color:darkturquoise; display: contents;" > (VARIABLE) </span> Interest Rate!
            <br> <br>
            <span  style="line-height: 24px;font-size: 14.2px; color:greenyellow; display: contents; font-weight: 500;" > &#x1F69C; $SIGH BORROWING STREAM :  </span>  You  <span style="line-height: 24px;font-size: 12px; color:chartreuse; display: contents;" > Farm $SIGH &#127806; </span> as Staking Rewards over your Borrowed '{{ selectedInstrument.symbol }}' Amount!
            <br> 
             Read more about it here :-  
        </p>         
    </div>  


    <div class="borrow-quantity-form" style="padding-top: 15px;" >
        <!-- Displays the symbol of the selected Instrument -->
        <div class="uk-grid uk-grid-small f1-form-grid">
            <div class="uk-width-1-1" style=" width: 100%; margin: 5px;" >
                <div class="form-grp">
                    <div class="form-elm">
                        <input style="text-align: center;" class="form-ctrl" type="text" placeholder="Number of tokens" v-model="formData.borrowQuantity">
                        <span   style='color:antiquewhite; padding-left:10px;'>  {{ selectedInstrument.symbol  }}  </span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="uk-grid uk-grid-small f1-form-grid">
            <div class="uk-width-1-1" style=" width: 100%; margin: 5px;">
                <div class="form-grp">
                    <div class="form-elm">
                        <input style="text-align: center;"  class="form-ctrl" type="text" placeholder="Estimated Value " readonly :value="calculatedValue">
                        <span    style='color:antiquewhite; padding-left:10px;'> USD </span>
                    </div>
                </div>
            </div>
        </div> 


        <div class="uk-grid uk-grid-small f1-form-grid">
            <div class="uk-width-1-1" style=" width: 100%; margin: 5px;">
                <div class="form-grp">
                    <div class="form-elm">
                        <span style='color:antiquewhite; font-size: 13px; font-weight: 400; margin-right: 5%;'>  INTEREST MODE :  </span>
                        <select class="form-ctrl select2-single" style="width:69%; padding-left: 20px;" v-model=formData.interestRateMode>
                            <option v-for="option in interestRateModes" :key=option :value=option>
                                {{ option }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        
        <span style=" padding-top:5px; margin: 2px; line-height: 22px; font-size: 13.5px; color: mintcream; float: left;">  >   {{ selectedInstrument.symbol  }} Price &nbsp; : &nbsp;{{  ( ( Number(selectedInstrumentPriceETH) / Math.pow(10,selectedInstrument.priceDecimals)) * (Number(this.$store.state.ethereumPriceUSD) / Math.pow(10,this.$store.state.ethPriceDecimals)) ).toFixed(4) }} USD   </span> 
        <span style="padding-top:5px; margin: 2px; line-height: 22px; font-size: 11px; font-weight: 300; color: bisque; float: right;"> Borrow Fee : 0.05% </span>         

        <div class="uk-grid uk-grid-small f1-form-grid" style="margin-top: 31px;" >  
            <!-- Loading image -->    
            <div v-if="showLoader" class="uk-width-1-1 center">
                <img src="https://image.ibb.co/dc02hd/30.gif" />
            </div>
            <!-- Buttons (Borrow) -->
            <div v-else class="uk-width-1-1" style="margin-bottom: 15px; margin-top: 15px;" >
                <div class="center">
                    <button class="uk-button uk-button-green"  @click="borrow()">Borrow</button>
                </div>
            </div>        
        </div>    
        <span style=" line-height:24px; width:100%; margin-top: 11px; margin-bottom: 11px; font-size: 15px; padding: 1px; border: aquamarine dotted 0.1px; text-align: center; float: center; color: chartreuse;">  
            Thank You for Choosing $SIGH Finance to Farm your Volatility Risks! &#x1F69C;	&#128104;&#8205;&#127806;
        </span> 
        <div v-if="showLoaderBorrowRateSwap" class="uk-width-1-1 center">
            <img style="margin-top: 22px;" src="https://image.ibb.co/dc02hd/30.gif" />
        </div>
        <div v-else style="text-align:center;"> 
            <button v-if="(Number(selectedInstrumentWalletState.borrowRateMode) == 1) && Number(selectedInstrumentWalletState.currentBorrowBalance) > 0" style="background: darkblue;" class="uk-button uk-button-black margin-bottom: 15px;"  @click="swapBorrowRateMode('variable')">Switch to Variable Borrow Rate</button>
            <button v-else-if="selectedInstrument.stableBorrowRateEnabled && (selectedInstrumentWalletState.borrowRateMode == 2) && Number(selectedInstrumentWalletState.currentBorrowBalance) > 0" style="background: darkblue; margin-bottom: 15px;" class="uk-button uk-button-black"  @click="swapBorrowRateMode('stable')">Switch to Stable Borrow Rate</button>
            <span v-else style="display: contents; color: yellow; font-size: 20px;"> &#127806; &#127806; <a href="https://discord.com/invite/HTrsKeWaZu" target="_blank"> Click to Enter Discord Server! </a> &#127806; &#127806; </span>
        </div>
    </div>


    <div style="border: aliceblue dotted 0.3px; padding: 14px; margin-top: 11px; margin-bottom: 20px;" >
        <table v-if="!displayInString" style="color: white;" >
            <!-- 👨‍🌾 TOKEN : ACCOUNT BALANCES 👨‍🌾 -->
            <h1 > <span style="line-height: 24px;font-size: 21px; color:springgreen; font-weight: 500; padding-bottom:10px; padding-left:5%;" > &#128104;&#8205;&#127806; {{ selectedInstrument.symbol }} : </span> <span style="line-height: 24px;font-size: 21px; color:lightcyan; font-weight: 500; padding-bottom:10px;" > &nbsp; ACCOUNT BALANCES &#128104;&#8205;&#127806;  </span>  </h1> 
            <!-- WALLET CONNECTED -->
            <tr>
                <td style="font-size: 12.5px !important;">  <span style="line-height: 24px;font-size: 12px; color:dodgerblue; display: contents; font-weight: 500;" >  WALLET : </span>  {{ this.$store.state.connectedWallet  }} &nbsp;  </td> 
            </tr>
            <!-- CONTRACT ADDRESSES -->
            <h3 style="font-size: 19px; color: aquamarine; margin-bottom: 4px; margin-top: 24px;"> CONTRACT ADDRESSES </h3>
            <tr>
                <td style="font-size: 12.5px !important;"> <span style="line-height: 24px;font-size: 12px; color:lawngreen; display: contents; font-weight: 500; " > {{ selectedInstrument.symbol  }} &nbsp; :  </span>   &nbsp;{{ selectedInstrumentWalletState.instrumentAddress  }}   </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important;"> <span style="line-height: 24px;font-size: 12px; color:lawngreen; display: contents; font-weight: 500;" > {{ selectedInstrument.iTokenName  }}&nbsp; :  </span>   &nbsp;{{ selectedInstrumentWalletState.iTokenAddress  }} </td> 
            </tr>
            <!-- BALANCES -->
            <h3 style="font-size: 17px; color: aquamarine; margin-bottom: 4px; margin-top: 24px; "> BALANCE : <span style="line-height: 24px;font-size: 17px; color:yellow; display: contents; font-weight: 500;" > {{ selectedInstrument.symbol  }} </span> </h3>
            <tr>
                <td style="font-size: 12.5px !important;" > >   {{ selectedInstrument.symbol  }} Deposit Allowance &nbsp; : &nbsp;{{ getBalanceString(Number(selectedInstrumentWalletState.userAvailableAllowance).toFixed(4))  }} ( {{ getBalanceString(Number(selectedInstrumentWalletState.userAvailableAllowanceWorth).toFixed(4))  }} USD ) </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important; padding-top: 4px;" >  >   {{ selectedInstrument.symbol  }} Balance &nbsp; : &nbsp;{{ getBalanceString(Number(selectedInstrumentWalletState.userBalance).toFixed(4))  }} ( {{ getBalanceString(Number(selectedInstrumentWalletState.userBalanceWorth).toFixed(4))  }} USD )  </td> 
            </tr>
            <!-- DEPOSIT BALANCE -->
            <h3 style="font-size: 17px; color: aquamarine; margin-bottom: 4px; margin-top: 24px; "> {{ selectedInstrument.symbol  }} DEPOSIT BALANCE : <span style="line-height: 24px;font-size: 17px; color:yellow; display: contents; font-weight: 500;" > {{ selectedInstrument.iTokenName  }} &#127806; </span> </h3>
            <tr>
                <td style="font-size: 12.5px !important;" > >  {{ selectedInstrument.iTokenSymbol  }} Compounded Balance &nbsp; : &nbsp;{{ getBalanceString(Number(selectedInstrumentWalletState.userDepositedBalance).toFixed(4))  }} ( {{ getBalanceString(Number(selectedInstrumentWalletState.userDepositedBalanceWorth).toFixed(4))  }} USD )  </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important; padding-top: 4px; padding-bottom: 4px;"> >  &nbsp;SUPPLY APY &nbsp; : &nbsp; <span style="line-height: 24px;font-size: 12.5px; color:greenyellow; display: contents; font-weight: 500;" > {{ Number(selectedInstrumentWalletState.liquidityRate).toFixed(4)  }} % </span> </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important; padding-bottom: 4px;"> >  Enabled As Collateral &nbsp; : &nbsp; <span v-if="selectedInstrumentWalletState.usageAsCollateralEnabled" style="line-height: 24px;font-size: 12.5px; color:green; display: contents; font-weight: 500;" > {{ selectedInstrumentWalletState.usageAsCollateralEnabled }} </span> <span v-if="!selectedInstrumentWalletState.usageAsCollateralEnabled" style="line-height: 24px;font-size: 12.5px; color:red; display: contents; font-weight: 500;" > {{ selectedInstrumentWalletState.usageAsCollateralEnabled }} </span>  </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important;"> >  Deposit Fee (Due) &nbsp; : &nbsp; 0 </td> 
            </tr>
            <!-- ACTIVE BORROWS -->
            <h3 style="font-size: 17px; color: aquamarine; margin-bottom: 4px; margin-top: 24px; "> ACTIVE BORROWS : <span style="line-height: 24px;font-size: 17px; color:yellow; display: contents; font-weight: 500;" > {{ selectedInstrument.symbol  }} </span> </h3>
            <tr>
                <td style="font-size: 12.5px !important;"> > Borrow Amount (Principal) &nbsp; : &nbsp;{{ getBalanceString(Number(selectedInstrumentWalletState.principalBorrowBalance).toFixed(4))  }} ( {{ getBalanceString(Number(selectedInstrumentWalletState.principalBorrowBalanceWorth).toFixed(4))  }} USD ) </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important; padding-top: 4px; padding-bottom: 4px;"> > Borrow Amount (Compounded) &nbsp; : &nbsp;{{ getBalanceString(Number(selectedInstrumentWalletState.currentBorrowBalance).toFixed(4))  }} ( {{ getBalanceString(Number(selectedInstrumentWalletState.currentBorrowBalanceWorth).toFixed(4))  }} USD ) </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important; padding-bottom: 1px;"> > Interest Accured &nbsp; : &nbsp;{{Number( Number(selectedInstrumentWalletState.currentBorrowBalance).toFixed(4) - Number(selectedInstrumentWalletState.principalBorrowBalance).toFixed(4) ).toFixed(4) }} ( {{ Number( Number(selectedInstrumentWalletState.currentBorrowBalanceWorth).toFixed(4) - Number(selectedInstrumentWalletState.principalBorrowBalanceWorth).toFixed(4) ).toFixed(4) }} USD ) </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important; padding-bottom: 2px;" > > Borrow APY &nbsp; : &nbsp; <span style="line-height: 24px;font-size: 12.5px; color:red; display: contents; font-weight: 500;" > {{ Number(selectedInstrumentWalletState.borrowRate).toFixed(4)  }} % </span> </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important; padding-bottom: 2px;"> >  Borrow Type  &nbsp; : <span style="line-height: 24px;font-size: 12.5px; color:navajowhite; display: contents; font-weight: 500;" > &nbsp;{{ selectedInstrumentWalletState.borrowRateMode == 1 ? 'Stable' : 'Variable' }} </span> </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important;"> >  Borrow Fee (Due) &nbsp; : &nbsp;{{ Number(selectedInstrumentWalletState.originationFee).toFixed(4)  }}  ( {{ Number(selectedInstrumentWalletState.originationFeeWorth).toFixed(4)  }} USD ) </td> 
            </tr>
            <!-- $SIGH STREAMING -->
    
            <h3 style="font-size: 17px; color: aquamarine; margin-bottom: 4px; margin-top: 24px; "> <span style="line-height: 24px;font-size: 17px; color:yellow; display: contents; font-weight: 500;" > &#127806; $SIGH &#127806; </span> <span style="line-height: 24px;font-size: 17px; color:greenyellow; display: contents; font-weight: 500;" > FARMING YIELDS </span>  &#x1F69C;	&#128104;&#8205;&#127806; </h3>
            <tr>
                <td style="font-size: 12.5px !important;  padding-bottom: 2px;"> >  $SIGH LIQUIDITY STREAM (per Block) : &nbsp; : &nbsp; 0 </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important; padding-bottom: 7px;"> >  $SIGH LIQUIDITY STREAM (Yearly APY) : &nbsp; : &nbsp; 0 </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important;  padding-bottom: 2px;"> >  $SIGH BORROWING STREAM (per Block) : &nbsp; : &nbsp; 0 </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important;  padding-bottom: 2px;"> >  $SIGH BORROWING STREAM (Yearly APY) : &nbsp; : &nbsp; 0 </td> 
            </tr>
        </table>
    
    
    
        <table v-if="displayInString" style="color: white;" >
            <!-- 👨‍🌾 TOKEN : ACCOUNT BALANCES 👨‍🌾 -->
            <h1 > <span style="line-height: 24px;font-size: 21px; color:springgreen; font-weight: 500; padding-bottom:10px; padding-left:5%;" > &#128104;&#8205;&#127806; {{ selectedInstrument.symbol }} : </span> <span style="line-height: 24px;font-size: 21px; color:lightcyan; font-weight: 500; padding-bottom:10px;" > &nbsp; ACCOUNT BALANCES &#128104;&#8205;&#127806;  </span>  </h1> 
            <!-- WALLET CONNECTED -->
            <tr>
                <td style="font-size: 12.5px !important;">  <span style="line-height: 24px;font-size: 12px; color:dodgerblue; display: contents; font-weight: 500;" >  WALLET : </span>  {{ this.$store.state.connectedWallet  }} &nbsp;  </td> 
            </tr>
            <!-- CONTRACT ADDRESSES -->
            <h3 style="font-size: 19px; color: aquamarine; margin-bottom: 4px; margin-top: 24px;"> CONTRACT ADDRESSES </h3>
            <tr>
                <td style="font-size: 12.5px !important;"> <span style="line-height: 24px;font-size: 12px; color:lawngreen; display: contents; font-weight: 500; " > {{ selectedInstrument.symbol  }} &nbsp; :  </span>   &nbsp;{{ selectedInstrumentWalletState.instrumentAddress  }}   </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important;"> <span style="line-height: 24px;font-size: 12px; color:lawngreen; display: contents; font-weight: 500;" > {{ selectedInstrument.iTokenName  }}&nbsp; :  </span>   &nbsp;{{ selectedInstrumentWalletState.iTokenAddress  }} </td> 
            </tr>
            <!-- BALANCES -->
            <h3 style="font-size: 17px; color: aquamarine; margin-bottom: 4px; margin-top: 24px; "> BALANCE : <span style="line-height: 24px;font-size: 17px; color:yellow; display: contents; font-weight: 500;" > {{ selectedInstrument.symbol  }} </span> </h3>
            <tr>
                <td style="font-size: 12.5px !important;" > >   {{ selectedInstrument.symbol  }} Deposit Allowance &nbsp; : &nbsp;{{ Number(selectedInstrumentWalletState.userAvailableAllowance).toFixed(4)  }} ( {{ Number(selectedInstrumentWalletState.userAvailableAllowanceWorth).toFixed(4)  }} USD ) </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important; padding-top: 4px;" >  >   {{ selectedInstrument.symbol  }} Balance &nbsp; : &nbsp;{{ Number(selectedInstrumentWalletState.userBalance).toFixed(4)  }} ( {{ Number(selectedInstrumentWalletState.userBalanceWorth).toFixed(4)  }} USD )  </td> 
            </tr>
            <!-- DEPOSIT BALANCE -->
            <h3 style="font-size: 17px; color: aquamarine; margin-bottom: 4px; margin-top: 24px; "> {{ selectedInstrument.symbol  }} DEPOSIT BALANCE : <span style="line-height: 24px;font-size: 17px; color:yellow; display: contents; font-weight: 500;" > {{ selectedInstrument.iTokenName  }} &#127806; </span> </h3>
            <tr>
                <td style="font-size: 12.5px !important;" > >  {{ selectedInstrument.iTokenSymbol  }} Compounded Balance &nbsp; : &nbsp;{{ Number(selectedInstrumentWalletState.userDepositedBalance).toFixed(4)  }} ( {{ Number(selectedInstrumentWalletState.userDepositedBalanceWorth).toFixed(4)  }} USD )  </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important; padding-top: 4px; padding-bottom: 4px;"> >  &nbsp;SUPPLY APY &nbsp; : &nbsp; <span style="line-height: 24px;font-size: 12.5px; color:greenyellow; display: contents; font-weight: 500;" > {{ Number(selectedInstrumentWalletState.liquidityRate).toFixed(4)  }} % </span> </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important; padding-bottom: 4px;"> >  Enabled As Collateral &nbsp; : &nbsp; <span v-if="selectedInstrumentWalletState.usageAsCollateralEnabled" style="line-height: 24px;font-size: 12.5px; color:green; display: contents; font-weight: 500;" > {{ selectedInstrumentWalletState.usageAsCollateralEnabled }} </span> <span v-if="!selectedInstrumentWalletState.usageAsCollateralEnabled" style="line-height: 24px;font-size: 12.5px; color:red; display: contents; font-weight: 500;" > {{ selectedInstrumentWalletState.usageAsCollateralEnabled }} </span>  </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important;"> >  Deposit Fee (Due) &nbsp; : &nbsp; 0 </td> 
            </tr>
            <!-- ACTIVE BORROWS -->
            <h3 style="font-size: 17px; color: aquamarine; margin-bottom: 4px; margin-top: 24px; "> ACTIVE BORROWS : <span style="line-height: 24px;font-size: 17px; color:yellow; display: contents; font-weight: 500;" > {{ selectedInstrument.symbol  }} </span> </h3>
            <tr>
                <td style="font-size: 12.5px !important;"> > Borrow Amount (Principal) &nbsp; : &nbsp;{{ Number(selectedInstrumentWalletState.principalBorrowBalance).toFixed(4)  }} ( {{ Number(selectedInstrumentWalletState.principalBorrowBalanceWorth).toFixed(4)  }} USD ) </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important; padding-top: 4px; padding-bottom: 4px;"> > Borrow Amount (Compounded) &nbsp; : &nbsp;{{ Number(selectedInstrumentWalletState.currentBorrowBalance).toFixed(4)  }} ( {{ Number(selectedInstrumentWalletState.currentBorrowBalanceWorth).toFixed(4)  }} USD ) </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important; padding-bottom: 1px;"> > Interest Accured &nbsp; : &nbsp;{{Number( Number(selectedInstrumentWalletState.currentBorrowBalance).toFixed(4) - Number(selectedInstrumentWalletState.principalBorrowBalance).toFixed(4) ).toFixed(4) }} ( {{ Number( Number(selectedInstrumentWalletState.currentBorrowBalanceWorth).toFixed(4) - Number(selectedInstrumentWalletState.principalBorrowBalanceWorth).toFixed(4) ).toFixed(4) }} USD ) </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important; padding-bottom: 2px;" > > Borrow APY &nbsp; : &nbsp; <span style="line-height: 24px;font-size: 12.5px; color:red; display: contents; font-weight: 500;" > {{ Number(selectedInstrumentWalletState.borrowRate).toFixed(4)  }} % </span> </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important; padding-bottom: 2px;"> >  Borrow Type  &nbsp; : <span style="line-height: 24px;font-size: 12.5px; color:navajowhite; display: contents; font-weight: 500;" > &nbsp;{{ selectedInstrumentWalletState.borrowRateMode == 1 ? 'Stable' : 'Variable' }} </span> </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important;"> >  Borrow Fee (Due) &nbsp; : &nbsp;{{ Number(selectedInstrumentWalletState.originationFee).toFixed(4)  }}  ( {{ Number(selectedInstrumentWalletState.originationFeeWorth).toFixed(4)  }} USD ) </td> 
            </tr>
            <!-- $SIGH STREAMING -->
    
            <h3 style="font-size: 17px; color: aquamarine; margin-bottom: 4px; margin-top: 24px; "> <span style="line-height: 24px;font-size: 17px; color:yellow; display: contents; font-weight: 500;" > &#127806; $SIGH &#127806;  </span> <span style="line-height: 24px;font-size: 17px; color:greenyellow; display: contents; font-weight: 500;" > FARMING YIELDS </span>  &#x1F69C;	&#128104;&#8205;&#127806; </h3>
            <tr>
                <td style="font-size: 12.5px !important;  padding-bottom: 2px;"> >  $SIGH LIQUIDITY STREAM (per Block) : &nbsp; : &nbsp; 0 </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important; padding-bottom: 7px;"> >  $SIGH LIQUIDITY STREAM (Yearly APY) : &nbsp; : &nbsp; 0 </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important;  padding-bottom: 2px;"> >  $SIGH BORROWING STREAM (per Block) : &nbsp; : &nbsp; 0 </td> 
            </tr>
            <tr>
                <td style="font-size: 12.5px !important;  padding-bottom: 2px;"> >  $SIGH BORROWING STREAM (Yearly APY) : &nbsp; : &nbsp; 0 </td> 
            </tr>       
        </table>



    </div>

    <div class="center">
        <img  v-if="showLoaderRefresh" src="https://image.ibb.co/dc02hd/30.gif" />
        <button style="background: darkblue;" v-else class="uk-button uk-button-black"  @click="refreshCurrentInstrumentWalletState(true)">Refresh</button>
        <button style="background: darkblue;" v-if="displayInString" class="uk-button uk-button-black"  @click="toggle(true)">Display Numbers</button>
        <button style="background: darkblue;" v-if="!displayInString" class="uk-button uk-button-black"  @click="toggle(true)">Display Strings</button>

    </div>


</div>