<div class= "FOK-Limit-Order">
    <div class="uk-grid uk-grid-small f1-form-grid" style="position: relative;">
    </div> 

    <!-- Displays the [0] of Selected pair e.q BTC of BTC/USD - -->
    <div class="uk-grid uk-grid-small f1-form-grid">
        <!-- Loading image -->
        <div v-if="showLoader" class="uk-width-1-1 center">
            <img src="https://image.ibb.co/dc02hd/30.gif" />
        </div>
    </div>


    <!-- WHITEPAPER INTEREST RATE MODEL -->

    <div class="uk-grid uk-grid-small f1-form-grid">
        <h1 style="color: aliceblue;"> Interest Rate Models </h1>
        <div class="uk-width-1-1">
            <div class="form-grp">
                <div class="form-elm">
                    <input class="form-ctrl" type="text" placeholder="baseRatePerYear" v-model="baseRatePerYear">
                    <span> _ </span>
                </div>                
            </div>
        </div>
    </div>

    <div class="uk-grid uk-grid-small f1-form-grid">
        <div class="uk-width-1-1">
            <div class="form-grp">
                <div class="form-elm">
                    <input class="form-ctrl" type="text" placeholder="multiplierPerYear" v-model="multiplierPerYear">
                    <span> _ </span>
                </div>                
            </div>
        </div>
    </div>

    <div class="uk-grid uk-grid-small f1-form-grid">
        <div class="uk-width-1-1">
            <div class="form-grp">
                <div class="form-elm">
                    <input class="form-ctrl" type="text" placeholder="jumpMultiplierPerYear" v-model="jumpMultiplierPerYear">
                    <span> _ </span>
                </div>                
            </div>
        </div>
    </div>

    <div class="uk-grid uk-grid-small f1-form-grid">
        <div class="uk-width-1-1">
            <div class="form-grp">
                <div class="form-elm">
                    <input class="form-ctrl" type="text" placeholder="kink_" v-model="kink_">
                    <span> _ </span>
                </div>                
            </div>
        </div>
    </div>
    
    <button class="uk-button uk-button-green" @click="whitepaperInterestRate('changeParameters')">Whitepaper Interest Rate Model - changeParameters</button>
    <button class="uk-button uk-button-green" @click="whitepaperInterestRate('baseRatePerBlock')">Whitepaper Interest Rate Model - baseRatePerBlock</button>
    <button class="uk-button uk-button-green" @click="whitepaperInterestRate('multiplierPerBlock')">Whitepaper Interest Rate Model - multiplierPerBlock</button>

    <button class="uk-button uk-button-green" @click="jumpInterestRate_V2('changeParameters')">Jump_V2 Interest Rate Model - changeParameters</button>
    <button class="uk-button uk-button-green" @click="jumpInterestRate_V2('baseRatePerBlock')">Jump_V2 Interest Rate Model - baseRatePerBlock</button>
    <button class="uk-button uk-button-green" @click="jumpInterestRate_V2('multiplierPerBlock')">Jump_V2 Interest Rate Model - multiplierPerBlock</button>
    <button class="uk-button uk-button-green" @click="jumpInterestRate_V2('jumpMultiplierPerBlock')">Jump_V2 Interest Rate Model - jumpMultiplierPerBlock</button>
    <button class="uk-button uk-button-green" @click="jumpInterestRate_V2('kink')">Jump_V2 Interest Rate Model - kink</button>


    <div class="uk-grid uk-grid-small f1-form-grid">
        <div class="uk-width-1-1">
            <div class="form-grp">
                <div class="form-elm">
                    <input class="form-ctrl" type="text" placeholder="Cash (in USD)" v-model="cash">
                    <span> _ </span>
                </div>                
            </div>
        </div>
    </div>
    <!-- borrows -->
    <div class="uk-grid uk-grid-small f1-form-grid">
        <div class="uk-width-1-1">
            <div class="form-grp">
                <div class="form-elm">
                    <input class="form-ctrl" type="text" placeholder="Borrows (in USD)" v-model="borrows">
                    <span> _ </span>
                </div>                
            </div>
        </div>
    </div>
    <!-- reserves -->
    <div class="uk-grid uk-grid-small f1-form-grid">
        <div class="uk-width-1-1">
            <div class="form-grp">
                <div class="form-elm">
                    <input class="form-ctrl" type="text" placeholder="reserves (in USD)" v-model="reserves">
                    <span> _ </span>
                </div>                
            </div>
        </div>
    </div>
    <!-- reserveMantissa -->
    <div class="uk-grid uk-grid-small f1-form-grid">
        <div class="uk-width-1-1">
            <div class="form-grp">
                <div class="form-elm">
                    <input class="form-ctrl" type="text" placeholder="reserveMantissa" v-model="reserveMantissa">
                    <span> _ </span>
                </div>                
            </div>
        </div>
    </div>

    <button class="uk-button uk-button-green" @click="whitepaperInterestRate('utilization')">Whitepaper Interest Rate Model - getutilizationRate</button>
    <button class="uk-button uk-button-green" @click="whitepaperInterestRate('borrow')">Whitepaper Interest Rate Model - getBorrowRate</button>
    <button class="uk-button uk-button-green" @click="whitepaperInterestRate('supply')">Whitepaper Interest Rate Model - getSupplyRate</button>

    <div>
    </div>

    <div>
    </div>

    <button class="uk-button uk-button-green" @click="jumpInterestRate_V2('utilization')">Jump_V2 Interest Rate Model - getutilizationRate</button>
    <button class="uk-button uk-button-green" @click="jumpInterestRate_V2('borrow')">Jump_V2 Interest Rate Model - getBorrowRate</button>
    <button class="uk-button uk-button-green" @click="jumpInterestRate_V2('supply')">Jump_V2 Interest Rate Model - getSupplyRate</button>
    

</div>