<div class= "anotherAccount">
    <div class="uk-grid uk-grid-small f1-form-grid" style="position: relative;">
    </div> 
    
    <div class="uk-grid uk-grid-small f1-form-grid">
        <div class="uk-width-1-1">
            <div class="form-grp">
                <div class="form-elm">
                    <input style="text-align: right;" class="form-ctrl" type="text" placeholder="From Account (Address)" v-model="formData.fromAccount">
                    <span style='color:antiquewhite'>  FROM ACCOUNT  </span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="uk-grid uk-grid-small f1-form-grid">
        <div class="uk-width-1-1">
            <div class="form-grp">
                <div class="form-elm">
                    <input style="text-align: right;" class="form-ctrl" type="text" placeholder="To Account (Address)" v-model="formData.toAccount">
                    <span style='color:antiquewhite'>  TO ACCOUNT  </span>
                </div>
            </div>
        </div>
    </div>

    <!-- Loading image -->
    
    <div class="uk-grid uk-grid-small f1-form-grid">
        <div v-if="showLoader" class="uk-width-1-1 center">
            <img src="https://image.ibb.co/dc02hd/30.gif" />
        </div>
        <div v-else class="uk-width-1-1">

<!-- Buttons  -->
            <div class="left">
                <button class="uk-button uk-button-green"  @click="redirectInterestStreamOf()">Re Direct Interest Stream</button>
            </div>
        </div>
    </div>
</div>