body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: #222;
}
h1, h2 {
    margin: 1.5em 0 0;
    font-weight: 700;
}
h1 span, h2 span {
    font-weight: 300;
    color: #666;
    font-size: 50%;
}
 .container {
    width: 960px;
    margin: 00px auto;
    text-align: center;
}
.clock {
    background: #F7F7F7;
    width: 250px;
    margin: 10px auto;
    padding: 5px 10px;
}
.clock h3 {
    margin: 0;
    font-weight: 300;

}
.clock .time {
    font-size: 180%;

}
.clear {
    clear: both;
}
.credits {
    font-weight: 400;
    margin-top: 50px;
    font-size: 8pt;

}
a {
    color: #222;
}
.column {
    float: left;
    width: 480px;
}
.explanation-link {
    cursor: pointer;
}

.earth-date-input .utc-time {
    display: block;
    position: relative;
    cursor: pointer;
    padding: 1px 2px 1px 2px;
    margin: 2px;
}
.earth-date-input .utc-time:hover,
.earth-date-input .utc-time:focus {
    text-decoration: underline;
}
.earth-date-input .manual-input {
    position: relative;
    margin: 0 auto;
}
.earth-date-input .custom-datetime {
    font: inherit;
    padding: 1px 22px 0 2px;
    border: none;
    border-bottom: dotted 1px #999;
    margin: 2px;
}
.earth-date-input .clear-button {
    position: absolute;
    font-size: 12px;
    line-height: 1em;
    padding: 7px 2px;
    color: #999;
    cursor: pointer;
    margin-left: -28px;
    width: 24px;
    overflow: hidden;
}
.earth-date-input .clear-button:hover,
.earth-date-input .clear-button:focus {
    color: #333;
}
